---
layout: default
group: company
title: Know More About our Company | Snowplow
description: Get to know our Company better! See our mission and meet the team that allow you to take control of your data and use it to drive competitive advantage.
permalink: /new/solutions/
class: company
assets:
  css: assets/css/company.css
  js: assets/js/company.js
image: /assets/img/common/hero-6.jpg
---

<section class="hero theme-light bg-success" style="background-image: url({{ BASE_PATH }}/assets/img/company/hero-6.jpg)">
    <div class="container text-center spacer-20">
        <div class="col col-md-10 col-md-offset-1">
            <h2>Solutions heading</h2>
            <h4>Solutions sub-heading</h4>
        </div>
    </div>
</section>

<section class="no-gutter-vertical">
         <div class="container cta">
           {% include shortcodes/dynamic.html title="CTA TITLE GOES HERE." description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." btnText="Button Test" link="#" %}
     </div>
    <div class="container text-center xs-spacer-top-0">
        <h3>Solutions Heading</h3>
        <p>Introduction Paragraph</p>
    </div>
</section>

<section class="team pad-t-50">
    <div class="container text-center">
        <div class="row grid">
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/attribution.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                           <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>  
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/analytics.jpg" width="640" height="640" class="adapt" alt="" style="cursor: pointer;">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                        <h4><b>Web Analytics Title</b> Web Analytics detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Web Analytics Solution</a>
                    </article>
                </div>
            </div>
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/mobile-analytics.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                           <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/subscription-business.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                        <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/analytics-media-companies.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                        <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/product-analytics.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                        <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/identity-management.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                        <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>
            <div class="item col-xs-6 col-sm-4 col-md-3 no-gutter">
                <img src="{{ BASE_PATH }}/assets/img/solutions/custom-solutions.jpg" width="640" height="640" class="adapt" alt="">
                <div class="bio">
                    <article>
                        <button class="i-close"></button>
                        <h4><b>Leon Maas</b> Support Engineer</h4>
                        <h4><b>Attribution Title</b> Attribution detail</h4>
                        <p>Attribution introduction</p>
                        <a href="#" class="btn btn-primary">Learn more about our Attribution Solution</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-gutter-vertical" style="background-color: darkorchid;">
    <div class="container">
        <div class="text-center pad-t-50 pab-b-50">
            <div class="row side-by-side text-left">
                <div class="col-md-6 text-block theme-light">
                    <h3>Solutions Common Features</h3>
                    <p>Today there is very little we <i>don't</i> do on digital platforms. We fall in love on dating services. We wile away our time playing video games. We manage our health through connected devices. We read novels, keep up with the news, order food and book holidays online. We find work through digital platforms and use online services to perform and deliver that work. Digital platforms are integral in the fabric of our everyday lives.</p>
                </div>
                <div class="col-md-6">

                    <img src="{{ BASE_PATH }}/assets/img/company/Snowplow_Website-Company_Infographics_DigitalData.svg" width="1056" height="1056" alt="Digital Event Data">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center methods">
    <h5 class="spacer-bottom-30 text-uppercase md-spacer-bottom-0 sm-spacer-bottom-0">Snowplow How</h5>
    <div class="container md-spacer-top-80">
        <div class="col-sm-4 pad-l-60 pad-r-60 md-pad-20 sm-pad-15">
            <div class="bodymovin" data-src="ownership"></div>
            <h4 class="pad-t-20">Ownership</h4>
            <small>Our users own their own data. We never mediate our users access to their own data.</small>
        </div>
        <div class="col-sm-4 pad-l-60 pad-r-60 md-pad-20 sm-pad-15">
           <div class="bodymovin" data-src="control"></div>

           <!-- <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Company_Icon_Control.svg" width="80%" /> -->
            <h4 class="pad-t-20">Control</h4>
            <small>Our users decide what data they want to collect, what questions they want to ask of it, what analytics techniques and technologies they want to use to process it and how they want to act on the insight generated.</small>
        </div>
        <div class="col-sm-4 pad-l-60 pad-r-60 md-pad-20 sm-pad-15">
            <div class="bodymovin" data-src="freedom"></div>

            <h4 class="pad-t-20">Freedom</h4>
            <small>We set our users free to do what they want with their data. No vendor lock-in. No assumptions about their business or how they should use their data. The thing limiting our users is their own imaginations.</small>
        </div>
    </div>
</section>




<section class="no-padding no-margin" style="background-color: midnightblue;">
    <div class="container-fluid no-gutter block-text-img">
        <div class="block-img col-md-6">
            
        </div>
        <div class="block-text col-md-6 theme-light pull-right pad-100 md-pad-70 sm-pad-40 xs-pad-15  sm-pad-t-60 xs-pad-t-30">
            <h3>Data Done Right!</h3>
            <p class="spacer-bottom-40">This data is a goldmine. It can be used to answer an impossibly large set of questions. Used right, companies can build a much better understanding of their users. They can identify and seize new opportunities to serve them better. The data possibilities are endless.</p>
        </div>
    </div>
</section>


<section class="no-padding no-margin">
    <div class="container-fluid block-text-img no-gutter bg-primary-lighter sm-pad-t-50">
        <div class="block-text col-md-6 pad-100 md-pad-70 sm-pad-40 xs-pad-15">
            <h3>Our technology<br>Snowplow Insights<sup>TM</sup></h3>
            <p class="spacer-bottom-40">It is hard to use data to differentiate. It requires both creative and technical excellence: creativity, because every great insight starts with asking a clever question. Technical excellence, because using data to answer questions requires technical know how.</p>
            <p class="spacer-bottom-40">Technology cannot help with the creative piece: for that you need Smart People. But it can help with the technical. We build technology that puts Smart People in control of their data so they can do what they want with it, unconstrained by assumptions about what data they 'should'  collect, what questions they 'should' ask, what insight they 'should' build and how they 'should' act on that insight. We empower Smart People to do data differently and be better than the rest.</p>
        </div>
        <div class="block-img col-md-6">
            <img src="{{ BASE_PATH }}/assets/img/company/team-working.jpg" width="720" height="600" class="adapt" alt="">
        </div>
    </div>
</section>


{% include testimonials.html id="eric" %}




