---
layout: default
class: home
title: Snowplow | The Data Collection Platform for Data Teams
description: Snowplow is for companies who want to manage and control the collection and warehousing of their event-level data across all their platforms, in real-time.

redirect_from:
  - /analytics/
  - /documentation/
  - /no-js-tracker.html
  - /get-started/

assets:
  css: assets/css/homepage-revamp.css

product-icons:
    - icon: /assets/img/products/products-insights/icons/spw-icon-ownership.svg
      name: Ownership
      content: Your event data pipeline, running in your cloud.
      url: /ownership
    - icon: /assets/img/products/products-insights/icons/spw-icon-data-quality.svg
      name: Data quality
      content: Event validation and bad data repair and replay.
      url: /data-quality
    - icon: /assets/img/products/products-insights/icons/spw-icon-data.svg
      name: Data richness
      content: More events, and more data per event.
      url: /data-richness
    - icon: /assets/img/products/products-insights/icons/spw-icon-schema-realtime-realtime.svg
      name: Real-time
      content: Your entire eventstream, available in real-time.
      url: /real-time
    - icon: /assets/img/products/products-insights/icons/spw-icon-flexibility.svg
      name: Flexibility
      content: Data structures that fit your business.
      url: /flexibility
hero-logos:
    - name: The Economist
      img: assets/img/customers/customers-revamp/companies/theeconomist-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/theeconomist-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/theeconomist-logo-grey%403x.png
    - name: GoEuro
      img: assets/img/customers/customers-revamp/companies/goeuro-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/goeuro-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/goeuro-logo-grey%403x.png
    - name: Data Dog
      img: assets/img/customers/customers-revamp/companies/datadog-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/datadog-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/datadog-logo-grey%403x.png
    - name: Strava
      img: assets/img/customers/customers-revamp/companies/strava-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/strava-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/strava-logo-grey%403x.png
    - name: Weebly
      img: assets/img/customers/customers-revamp/companies/weebly-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/weebly-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/weebly-logo-grey%403x.png
    - name: Auxmoney
      img: assets/img/customers/customers-revamp/companies/auxmoney.png
      img-2x: assets/img/customers/customers-revamp/companies/auxmoney%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/auxmoney%403x.png
    - name: The Iconic
      img: assets/img/customers/customers-revamp/companies/theiconic.png
      img-2x: assets/img/customers/customers-revamp/companies/theiconic%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/theiconic%403x.png
    - name: Secret Escapes
      img: assets/img/customers/customers-revamp/companies/secret-escapes.png
      img-2x: assets/img/customers/customers-revamp/companies/secret-escapes%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/secret-escapes%403x.png
    - name: Headspace
      img: assets/img/customers/customers-revamp/companies/headspace.png
      img-2x: assets/img/customers/customers-revamp/companies/headspace%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/headspace%403x.png
    - name: La Presse Plus
      img: assets/img/customers/customers-revamp/companies/la-presse-plus.png
      img-2x: assets/img/customers/customers-revamp/companies/la-presse-plus%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/la-presse-plus%403x.png
    
---


<section class="hero-revamp hero-revamp-light" style="background-image: url({{ BASE_PATH }}/assets/img/homepage/homepage-revamp/shape-4-copy-23%403x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <h1>The enterprise-grade<br>event data collection platform.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <h4>For companies who demand high-quality, real-time event data, delivered by a cloud-native data pipeline they fully control.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <a href="/request-demo/" class="btn btn-primary call-to-action">Get started</a>
                <a href="/products/snowplow-insights" class="btn btn-lines-white btn-primary call-to-action">Learn more</a>
            </div>
        </div>
    </div>
</section>



<section class="section-revamp section-revamp-center section-revamp-bot-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>The Snowplow Pipeline</h2>
                <h5>Our technology is ideal for data teams who want to manage the collection and warehousing of data across all their platforms and channels, in real-time.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img src="{{ BASE_PATH }}/assets/img/products/technology/spw-pipeline-infographic.svg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>



<section class="section-revamp">
    <div class="container">
        <div class="section-revamp-icons-container">
            {% for icon in page.product-icons %}
                <div class="section-revamp-icons">
                    <div>
                        <img src="{{ BASE_PATH }}{{ icon.icon }}" alt="">
                        <h4>{{ icon.name }}</h4>
                        <p>{{ icon.content }}</p>
                    </div>
                    <a href="{{ icon.url }}">Learn more</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>




<section class="hero-revamp hero-revamp-center" style="background-image: url({{ BASE_PATH }}/assets/img/customers/customers-revamp/spw-customers-header@3x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <h3>Data-driven industry leaders choose Snowplow</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hero-revamp-logos">
                {% for company in page.hero-logos %}  
                {% if company.url %} 
                        <a href="{{ company.url }}" class="hero-revamp-logos-block">
                        {% assign close_block = '</a>' %}
                    {% else %}
                        <div class="hero-revamp-logos-block">
                        {% assign close_block = '</div>' %}
                    {% endif %}
                    <img src="{{ BASE_PATH }}/{{ company.img }}" srcset="{{ BASE_PATH }}/{{ company.img-2x }} 2x, {{ BASE_PATH }}/{{ company.img-3x }} 3x" alt="{{ company.name }}">
                    {{ close_block }}
                {% endfor %}  
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="/customers" class="btn btn-lines btn-primary call-to-action">Learn more about why our customers love Snowplow</a>
            </div>
        </div>
    </div>
</section>

<section class="section-revamp section-revamp-testemonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-revamp-testemonial-block _active">
                    <img src="{{ BASE_PATH }}/assets/img/homepage/homepage-revamp/autotrader.svg" alt="" class="section-revamp-testemonial-logo">
                    <p class="section-revamp-testemonial-content">“Snowplow provides all of our event data in a data model which we own and can shape to our organisational needs. Snowplow has really helped accelerate our analytics; we can quickly answer questions which would have required a tremendous amount of engineering effort with our previous solution.”</p>
                    <div class="section-revamp-testemonial-person">
                        <!--<img src="{{ BASE_PATH }}/assets/img/products/products-insights/mike-roth.jpg" srcset="{{ BASE_PATH }}/assets/img/products/products-insights/mike-roth@2x.jpg 2x, {{ BASE_PATH }}/assets/img/products/products-insights/mike-roth@3x.jpg 3x">-->
                        <p>
                            Darren Haken
                            <br>
                            <span>Head of Data Engineering</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-revamp revamp-news-cards-section pad-t-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>The latest from the Snowplow team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 revamp-news-cards-container">
                <div class="revamp-news-cards-block">
                    <h6>SNOWPLOW FOR GCP</h6>
                    <h5>BigQuery data in real-time, finally</h5>
                    <p>
                        Snowplow is now available for Google Cloud Platform. Learn more about the best way to load data into BigQuery.
                    </p>
                    <a href="https://snowplowanalytics.com/blog/2018/12/03/snowplow-for-google-cloud-platform-is-here/" class="btn btn-outline-primary call-to-action">Read the article</a>
                </div>
                <div class="revamp-news-cards-block">
                    <h6>OUR LATEST CASE STUDY</h6>
                    <h5>Using SEM for scalable growth</h5>
                    <p>
                        Brazilian jobs board GetNinjas used Snowplow to optimize their marketing budget to great results.
                    </p>
                    <a href="https://snowplowanalytics.com/customers/getninjas/" class="btn btn-outline-primary call-to-action">Get the case study</a>
                </div>
                <div class="revamp-news-cards-block">
                    <h6>HOW TO</h6>
                    <h5>Debugging bad data in GCP with BigQuery</h5>
                    <p>
                        A guide to using BigQuery to explore and diagnose data quality in Google Cloud Platform.
                    </p>
                    <a href="https://snowplowanalytics.com/blog/2018/12/19/debugging-bad-data-in-gcp-with-bigquery/" class="btn btn-outline-primary call-to-action">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% include request-demo-revamp.html %}