---
layout: default
class: home
title: Snowplow Analytics | Enabling Teams to Differentiate with Data
description: Snowplow Analytics technology gives you control of your own data, setting your team free to use data to be transformative.

redirect_from:
  - /analytics/
  - /documentation/
  - /no-js-tracker.html
  - /get-started/

assets:
  css: assets/css/homepage-revamp.css

product-icons:
    - icon: /assets/img/products/products-insights/icons/spw-icon-ownership.svg
      name: Ownership
      content: Your event data pipeline, running in your cloud
      url: /products-insights
    - icon: /assets/img/products/products-insights/icons/spw-icon-data-quality.svg
      name: Data quality
      content: Event validation and bad data repair and replay
      url: /products-insights
    - icon: /assets/img/products/products-insights/icons/spw-icon-data.svg
      name: Data richness
      content: More events, and more data per event
      url: /products-insights
    - icon: /assets/img/products/products-insights/icons/spw-icon-schema-realtime-realtime.svg
      name: Real-time
      content: Your entire eventstream, available in real-time 
      url: /products-insights
    - icon: /assets/img/products/products-insights/icons/spw-icon-flexibility.svg
      name: Flexibility
      content: Data structures that evolve with your business
      url: /products-insights
hero-logos:
    - name: The Economist
      img: assets/img/customers/customers-revamp/companies/theeconomist-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/theeconomist-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/theeconomist-logo-grey%403x.png
    - name: GoEuro
      img: assets/img/customers/customers-revamp/companies/goeuro-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/goeuro-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/goeuro-logo-grey%403x.png
    - name: Data Dog
      img: assets/img/customers/customers-revamp/companies/datadog-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/datadog-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/datadog-logo-grey%403x.png
    - name: Strava
      img: assets/img/customers/customers-revamp/companies/strava-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/strava-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/strava-logo-grey%403x.png
    - name: Weebly
      img: assets/img/customers/customers-revamp/companies/weebly-logo-grey.png
      img-2x: assets/img/customers/customers-revamp/companies/weebly-logo-grey%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/weebly-logo-grey%403x.png
    - name: Auxmoney
      img: assets/img/customers/customers-revamp/companies/auxmoney.png
      img-2x: assets/img/customers/customers-revamp/companies/auxmoney%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/auxmoney%403x.png
    - name: The Iconic
      img: assets/img/customers/customers-revamp/companies/theiconic.png
      img-2x: assets/img/customers/customers-revamp/companies/theiconic%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/theiconic%403x.png
    - name: Secret Escapes
      img: assets/img/customers/customers-revamp/companies/secret-escapes.png
      img-2x: assets/img/customers/customers-revamp/companies/secret-escapes%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/secret-escapes%403x.png
    - name: Headspace
      img: assets/img/customers/customers-revamp/companies/headspace.png
      img-2x: assets/img/customers/customers-revamp/companies/headspace%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/headspace%403x.png
    - name: La Presse Plus
      img: assets/img/customers/customers-revamp/companies/la-presse-plus.png
      img-2x: assets/img/customers/customers-revamp/companies/la-presse-plus%402x.png
      img-3x: assets/img/customers/customers-revamp/companies/la-presse-plus%403x.png
    
---


<section class="hero-revamp hero-revamp-light" style="background-image: url({{ BASE_PATH }}/assets/img/homepage/homepage-revamp/shape-4-copy-23%403x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <h1>The enterprise-grade<br>event data collection platform.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <h4>For companies who demand high-quality, real-time event data, delivered by a cloud-native data pipeline they fully control.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <a href="/request-demo/" class="btn btn-primary call-to-action">Get started</a>
                <a href="/request-demo/" class="btn btn-lines-white btn-primary call-to-action">Learn more</a>
            </div>
        </div>
    </div>
</section>



<section class="section-revamp section-revamp-center section-revamp-bot-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>The Snowplow Pipeline</h2>
                <h5>Our technology is ideal for data teams who want to manage the collection and warehousing of data across all their platforms and channels, in real-time.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img src="{{ BASE_PATH }}/assets/img/products/technology/spw-pipeline-infographic.svg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>



<section class="section-revamp">
    <div class="container">
        <div class="section-revamp-icons-container">
            {% for icon in page.product-icons %}
                <div class="section-revamp-icons">
                    <div>
                        <img src="{{ BASE_PATH }}{{ icon.icon }}" alt="">
                        <h4>{{ icon.name }}</h4>
                        <p>{{ icon.content }}</p>
                    </div>
                    <!-- <a href="{{ icon.url }}">Learn more</a> -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>




<section class="hero-revamp hero-revamp-center" style="background-image: url({{ BASE_PATH }}/assets/img/customers/customers-revamp/spw-customers-header@3x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <h3>Data-driven industry leaders choose Snowplow</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hero-revamp-logos">
                {% for company in page.hero-logos %}  
                {% if company.url %} 
                        <a href="{{ company.url }}" class="hero-revamp-logos-block">
                        {% assign close_block = '</a>' %}
                    {% else %}
                        <div class="hero-revamp-logos-block">
                        {% assign close_block = '</div>' %}
                    {% endif %}
                    <img src="{{ BASE_PATH }}/{{ company.img }}" srcset="{{ BASE_PATH }}/{{ company.img-2x }} 2x, {{ BASE_PATH }}/{{ company.img-3x }} 3x" alt="{{ company.name }}">
                    {{ close_block }}
                {% endfor %}  
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-lines btn-primary call-to-action">Learn more about why our customers love Snowplow</a>
            </div>
        </div>
    </div>
</section>




<section class="section-revamp section-revamp-testemonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-revamp-testemonial-block">
                    <img src="{{ BASE_PATH }}/assets/img/homepage/homepage-revamp/nordstrom.png" srcset="{{ BASE_PATH }}/assets/img/homepage/homepage-revamp/nordstrom%402x.png x2, {{ BASE_PATH }}/assets/img/homepage/homepage-revamp/nordstrom%403x.png x3" alt="" class="section-revamp-testemonial-logo">
                    <p class="section-revamp-testemonial-content">
                        “Snowplow has blown Nordstrom’s minds in speed and range of data, offering complete extensibility of batch and real-time and schemas in hours and seconds, respectively.
                        <br>
                        With a small but dedicated team of engineers, we were able to replace our bulky and expensive third-party solution with one custom tailored to our needs and satisfaction.
                        <br>
                        There’s simply no going back.”
                    </p>
                    <div class="section-revamp-testemonial-person">
                        <img src="{{ BASE_PATH }}/assets/img/products/products-insights/mike-roth.jpg" srcset="{{ BASE_PATH }}/assets/img/products/products-insights/mike-roth@2x.jpg 2x, {{ BASE_PATH }}/assets/img/products/products-insights/mike-roth@3x.jpg 3x">
                        <p>
                            Sean Halliburton
                            <br>
                            <span>Senior Data Engineering Manager</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-revamp revamp-news-cards-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>The latest from the Snowplow team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 revamp-news-cards-container">
                <div class="revamp-news-cards-block">
                    <div>
                        <h6>FROM THE BLOG</h6>
                        <h5>Building reliable customer acquisition</h5>
                        <p>
                            Marketplace business face many unique challenges when acquiring customers, but there are key elements that make it easier.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary call-to-action">Read the article</a>
                    </div>
                </div>
                <div class="revamp-news-cards-block">
                    <h6>FROM THE archives</h6>
                    <h5>Next level Google Analytics</h5>
                    <p>
                        Read about how Snowplow can make one of the worl´d most popular analytics plataforms even more powerful.
                    </p>
                    <a href="#" class="btn btn-primary call-to-action">Learn more</a>
                </div>
                <div class="revamp-news-cards-block">
                    <h6>our latest case study</h6>
                    <h5>Using SEM for scalable grow</h5>
                    <p>
                        Brazilian jobs board GetNinjas used Snowplow to optimize their marketing budget to great results.
                    </p>
                    <a href="#" class="btn btn-primary call-to-action">Get the case study</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% include request-demo-revamp.html %}