        <footer id="contacts">
            <div class="container">
                <div class="clearfix">
                    <div class="brand col-md-4 col-sm-12">
                        <a class="brand-logo" href="/"><i class="i-logo-type-claim"></i></a>
                        <div class="brand-about sm-spacer-top-40">
                            <p>Learn more <a href="{{ BASE_PATH }}/company">about us</a> or <a href="{{ BASE_PATH }}/company/contact-us">contact us</a> for more information.</p>
                            <p>Want to be part of our team? Visit our <a href="{{ BASE_PATH }}/company/careers/">Careers</a> page.
                            <p>Subscribe to our newsletter for our latest updates:</p>
                        </div>
                        <iframe src="https://go.snowplowanalytics.com/l/571483/2018-10-23/38fmgpn" width="100%" scrolling="no" id="sizetracker"></iframe>
                    </div>
                    <div class="links col-md-8 col-sm-12">
                        <div class="cols">
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="products" tag="" %}><a href="{{ BASE_PATH }}/products">Product</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="snowplow-insights" tag="" %}><a href="{{ BASE_PATH }}/products/snowplow-insights">Snowplow Insights</a></li>
                                    <li{% include fn/menuClassActive.fn s="technology" tag="" %}><a href="{{ BASE_PATH }}/products/technology">Technology</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="services" tag="" %}><a href="{{ BASE_PATH }}/services" class="no-interact">Services</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="data-analytics" tag="" %}><a href="{{ BASE_PATH }}/services/#data-analytics">Data Analytics</a></li>
                                    <li{% include fn/menuClassActive.fn s="data-engineering" tag="" %}><a href="{{ BASE_PATH }}/services/#data-engineering">Data Engineering</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="customers" tag="" %}><a href="{{ BASE_PATH }}/customers">Customers</a></h6>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="partners" tag="" %}><a href="{{ BASE_PATH }}/partners" class="mute-link">Partners</a></h6>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="community" tag="" %}><a href="{{ BASE_PATH }}/community" class="mute-link">Community</a></h6>
                                <ul>
                                    <li><a href="http://discourse.snowplowanalytics.com/" target="_blank">Discourse</a></li>
                                    <li><a href="https://www.meetup.com/topics/snowplow/" target="_blank">MeetUp</a></li>
                                    <li><a href="https://github.com/snowplow" target="_blank">GitHub</a></li>
                                    <li{% include fn/menuClassActive.fn s="blog" tag="" %}><a href="{{ BASE_PATH }}/blog">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info cfx">
                    <div class="credits col-sm-8 col-xs-12">
                        <small><b>© 2018 Snowplow</b> <a href="{{ BASE_PATH }}/privacy-policy">Privacy Policy</a> <a href="{{ BASE_PATH }}/terms-of-service">Terms of Service</a></small>
                    </div>
                    <div class="social col-sm-4 col-xs-12">
                        <ul>
                            <!-- <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
                            <li><a href="https://twitter.com/snowplowdata" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/snowplow" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/3177331/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,700i|Slabo+27px' type='text/css' media='screen' />
        <link href="{{ BASE_PATH }}/assets/css/snowplow.css" rel="stylesheet" media="screen" type="text/css">
        {% if page.assets.css %}{% for css in page.assets.css %}<link href="{{ BASE_PATH }}/{{css}}" rel="stylesheet" media="screen" type="text/css">{% endfor %}{% endif %}
        {% if page.assets.js %}{% for js in page.assets.js %}<script type="text/javascript" defer="defer" src='{{BASE_PATH}}/{{js}}'></script>{% endfor %}{% endif %}
        {% if page.layout == 'post' %}<script type="text/javascript" defer="defer" src='{{BASE_PATH}}/assets/js/vendors/prism.js'></script>{% endif %}

        <script>
            function recaptcha_callback() {
                var submitBtn = document.querySelector('#submit-btn');
                submitBtn.removeAttribute('disabled');
                submitBtn.style.cursor = 'pointer';
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
        <script type="text/javascript">
        // Create browser compatible event handler.
          var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
          var eventer = window[eventMethod];
          var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
          // Listen for a message from the iframe.
          eventer(messageEvent, function(e) {
          if (isNaN(e.data)) return;
 
          // replace #sizetracker with what ever what ever iframe id you need
          document.getElementById('sizetracker').style.height = e.data + 70 + 'px';
 
        }, false);
        </script>


        </body>
</html>
