        <footer id="contacts">
            <div class="container">
                <div class="clearfix">
                    <div class="brand col-md-4 col-sm-12">
                        <a class="brand-logo" href="/">
                            <i class="i-logo-type"></i>
                            <small>Digital Analytics Technology</small>
                        </a>
                        <form action="//snowplowanalytics.us11.list-manage.com/subscribe/post?u=10bb4a6f31d5f19e0d0b54476&amp;id=bb28c7d30d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div class="input-group newsletter">
                                <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Get our latest updates" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="links col-md-8 col-sm-12">
                        <div class="cfx">
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="company" tag="" %}><a href="/company">Company</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="contact-us" tag="" %}><a href="/company/contact-us">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="products" tag="" %}><a href="/products">Products</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="snowplow-insights" tag="" %}><a href="/products/snowplow-insights">Snowplow Insights</a></li>
                                    <li{% include fn/menuClassActive.fn s="snowplow-react" tag="" %}><a href="/products/snowplow-react">Snowplow React</a></li>
                                    <li{% include fn/menuClassActive.fn s="snowplow-open-source" tag="" %}><a href="/products/snowplow-open-source">Open Source</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="customers" tag="" %}><a href="/customers">Customers</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="gaming" tag="" %}><a href="/cases/gaming">Gaming</a></li>
                                    <li{% include fn/menuClassActive.fn s="publishing" tag="" %}><a href="/cases/publishing">Publishing</a></li>
                                    <li{% include fn/menuClassActive.fn s="ad-tech" tag="" %}><a href="/cases/ad-tech">Ad tech</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="services" tag="" %}><a href="/services">Services</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="data-analytics" tag="" %}><a href="/services/data-analytics">Data Analytics</a></li>
                                    <li{% include fn/menuClassActive.fn s="data-engineering" tag="" %}><a href="/services/data-engineering">Data Engineering</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6{% include fn/menuClassActive.fn s="resources" tag="" %}><a href="/resources">Resources</a></h6>
                                <ul>
                                    <li{% include fn/menuClassActive.fn s="community" tag="" %}><a href="/resources/community">Community</a></li>
                                    <li{% include fn/menuClassActive.fn s="documentation" tag="" %}><a href="/resources/documentation">Documentation</a></li>
                                    <li{% include fn/menuClassActive.fn s="blog" tag="" %}><a href="/resources/blog">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info cfx">
                    <div class="credits col-sm-8 col-xs-12">
                        <small><b>© 2017 Snowplow</b> <a href="/privacy-policy">Privacy Policy</a> <a href="/terms-of-service">Terms of Service</a></small>
                    </div>
                    <div class="social col-sm-4 col-xs-12">
                        <ul>
                            <!-- <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
                            <li><a href="https://twitter.com/snowplowdata" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/snowplow" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/3177331/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>        

		<script type="text/javascript" src="{{ BASE_PATH }}/assets/js/snowplow.js"></script>
        {% if page.assets.js %}{% for js in page.assets.js %}<script type="text/javascript" src='{{BASE_PATH}}/{{js}}'></script>{% endfor %}{% endif %}
    </body>
</html>