<header>
    <nav class="navbar navbar-default">
        <div class="navbar-top visible-sm visible-md">
            <div class="container">
                <a class="navbar-brand navbar-brand-top visible-sm" href="/"><i class="i-logo-type"></i></a>
                <div class="navbar-right">
                    <a href="http://console.snowplowanalytics.com/" class="btn btn-xs">Login</a>
                    <a href="{{ BASE_PATH }}/request-demo/" class="btn btn-xs">Get started</a>
                </div>
            </div>
        </div>
        <div class="navbar-bottom container text-center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="/"><i class="i-logo-type"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav" id="menu-center">
                    <li class="dropdown{% include fn/menuClassActive.fn s="products" %}">
                        <a href="" class="dropdown-toggle disabled mute-link" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Product <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li{% include fn/menuClassActive.fn s="snowplow-insights" tag="" %}><a href="{{ BASE_PATH }}/products/snowplow-insights">Snowplow Insights</a></li>
                            <li{% include fn/menuClassActive.fn s="technology" tag="" %}><a href="{{ BASE_PATH }}/products/technology" class="highlight-menu">Technology</a></li>
                            <li{% include fn/menuClassActive.fn s="integrations" tag="" %}><a href="{{ BASE_PATH }}/integrations" class="highlight-menu">Integrations</a></li>
                            <li{% include fn/menuClassActive.fn s="how-we-compare" tag="" %}><a href="{{ BASE_PATH }}/how-we-compare" class="highlight-menu">How we compare</a></li>
                            <li{% include fn/menuClassActive.fn s="explore-snowplow-data" tag="" %}><a href="{{ BASE_PATH }}/explore-snowplow-data-part-1/" class="highlight-menu">Explore Snowplow data</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="industries" %}">
                        <a href="" class="dropdown-toggle disabled mute-link" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Solutions <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li{% include fn/menuClassActive.fn s="Web" tag="" %}><a href="{{ BASE_PATH }}/web">Web</a></li>
                            <li{% include fn/menuClassActive.fn s="Mobile" tag="" %}><a href="{{ BASE_PATH }}/mobile">Mobile</a></li>
                            <li{% include fn/menuClassActive.fn s="Email" tag="" %}><a href="{{ BASE_PATH }}/email">Email</a></li>
                            <li{% include fn/menuClassActive.fn s="Server" tag="" %}><a href="{{ BASE_PATH }}/server-side-tracking">Server-side</a></li>
                            <li{% include fn/menuClassActive.fn s="UCV" tag="" %}><a href="{{ BASE_PATH }}/unified-customer-view">Unified customer view</a></li>
                            <li{% include fn/menuClassActive.fn s="Media &amp; Entertainment" tag="" %}><a href="{{ BASE_PATH }}/media" class="highlight-menu">Media &amp; Entertainment</a></li>
                            <li{% include fn/menuClassActive.fn s="Ecommerce" tag="" %}><a href="{{ BASE_PATH }}/retail" class="highlight-menu">Ecommerce</a></li>
                            <li{% include fn/menuClassActive.fn s="Travel" tag="" %}><a href="{{ BASE_PATH }}/travel" class="highlight-menu">Travel</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="pricing" %}">
                        <a href="{{ BASE_PATH }}/pricing" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pricing</a>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="customers" %}">
                        <a href="{{ BASE_PATH }}/customers" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers</a>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="company" %}">
                        <a href="" class="dropdown-toggle disabled mute-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li{% include fn/menuClassActive.fn s="about-us" tag="" %}><a href="{{ BASE_PATH }}/about-us">About us</a></li>
                            <li{% include fn/menuClassActive.fn s="partners" tag="" %}><a href="{{ BASE_PATH }}/partners">Partners</a></li>
                            <li{% include fn/menuClassActive.fn s="careers" tag="" %}><a href="{{ BASE_PATH }}/company/careers">Careers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="products" %}">
                        <a href="" class="dropdown-toggle disabled mute-link" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Resources <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li {% include fn/menuClassActive.fn s="blog" tag="" %}><a href="{{ BASE_PATH }}/blog/">Blog</a></li>
                            <li {% include fn/menuClassActive.fn s="events" tag="" %}><a href="{{ BASE_PATH }}/events/">Events</a></li>
                        </ul>
                    </li>
                </ul> 
                <div class="nav navbar-nav navbar-right hidden-sm hidden-md">
                    <a href="http://console.snowplowanalytics.com/" id="button-login-header-page">Log in</a>
                    <a href="{{ BASE_PATH }}/request-demo/" class="btn btn-primary call-to-action" id="button-request-demo-header-page">Get started</a>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
