<header>
    <nav class="navbar navbar-default">
        <div class="navbar-top visible-sm visible-md bg-primary">
            <div class="container no-gutter">
                <a class="navbar-brand navbar-brand-top visible-sm" href="/"><i class="i-logo-type"></i></a>
                <div class="nav navbar-nav navbar-right">
                    <a href="/get-started" class="btn btn-xs btn-outline">Request a Demo</a>
                </div>
            </div>
        </div>
        <div class="navbar-bottom container text-center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="/"><i class="i-logo-type"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu">

                <ul class="nav navbar-nav" id="menu-center">
                    <li class="dropdown{% include fn/menuClassActive.fn s="company" %}">
                        <a href="/company">Company</a>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="products" %}">
                        <a href="/products" class="dropdown-toggle disabled" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Products <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li{% include fn/menuClassActive.fn s="snowplow-insights" tag="" %}><a href="/products/snowplow-insights">Snowplow Insights</a></li>
                            <li{% include fn/menuClassActive.fn s="snowplow-react" tag="" %}><a href="/products/snowplow-react">Snowplow React<sup>BETA</sup></a></li>
                            <li{% include fn/menuClassActive.fn s="snowplow-open-source" tag="" %}><a href="/products/snowplow-open-source">Open Source</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="services" %}">
                        <a href="/services">Services</a>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="customers" %}">
                        <a href="/customers" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li{% include fn/menuClassActive.fn s="case-1" tag="" %}><a href="/customers/case-1">Case 1</a></li>
                            <li{% include fn/menuClassActive.fn s="case-2" tag="" %}><a href="/customers/case-2">Case 2</a></li>
                            <li{% include fn/menuClassActive.fn s="trusted-by" tag="" %}><a href="/customers/trusted-by">Trusted By</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% include fn/menuClassActive.fn s="resources" %}">
                        <a href="/resources" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://discourse.snowplowanalytics.com/" target="_blank">Community</a></li>
                            <li{% include fn/menuClassActive.fn s="blog" tag="" %}><a href="/resources/blog">Blog</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="nav navbar-nav navbar-right hidden-sm hidden-md">
                    <a href="/get-started" class="btn btn-primary call-to-action">Request a Demo</a>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
