<div class="well call-to-action">
    <div class="col col-sm-8 no-gutter">
        <h5 class="text-uppercase no-margin">Don’t hesitate to get in touch.</h5>
        <p>We’d be happy to learn more about your organization, answer any questions you have, and demo or discuss Snowplow in more detail.</p>
    </div>
    <div class="col col-sm-4 no-gutter text-right text-sm-center text-xs-center sm-spacer-top-30">
    	<a href="/request-demo/" class="btn btn-primary btn-lg hidden-xs hidden-sm">Request a Demo</a>
    	<a href="/request-demo/" class="btn btn-primary btn-md hidden-lg hidden-md">Request a Demo</a>
    </div>
</div>