<div class="sc-request-demo shortcode">
    <div class="well call-to-action">
        <div class="col {% if include.layout == 'blog' %}col-sm-12{% else %}col-sm-9{% endif %} no-gutter">
            <h5 class="text-uppercase no-margin">Interested in Snowplow? Request a demo</h5>
            <p>We empower analysts, engineers, product managers, marketers,  operations and other specialists to use digital event data  to do transformative things with this data.</p>
        </div>
        <div class="col {% if include.layout == 'blog' %}col-sm-12{% else %}col-sm-3{% endif %} no-gutter text-right text-sm-left text-xs-left sm-spacer-top-30">
            <a href="/request-demo/" class="btn btn-primary btn-lg hidden-xs hidden-sm">Request a demo</a>
            <a href="/request-demo/" class="btn btn-primary btn-md hidden-lg hidden-md">Request a demo</a>
        </div>
    </div>
</div>