<div class="sc-subscribe shortcode">
    <div class="well call-to-action">
        <div class="col {% if include.layout == 'blog' %}col-sm-12{% else %}col-sm-7{% endif %} no-gutter">
            <h5 class="text-uppercase no-margin">Stay tunned!</h5>
            <p>Subscribe our newsletter to get our latest updates.</p>
        </div>
            <div class="col {% if include.layout == 'blog' %}col-sm-12{% else %}col-sm-5{% endif %} no-gutter text-right text-sm-left text-xs-left sm-spacer-top-30">
            <form action="//snowplowanalytics.us11.list-manage.com/subscribe/post?u=10bb4a6f31d5f19e0d0b54476&amp;id=bb28c7d30d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div class="input-group newsletter">
                    <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Insert your email" required>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

