/* ===============
       IMPORTS
   =============== */
   

@import url('reset.css');

@import url('fonts.css');
@import url('typography.css');
@import url('branding.css');

@import url('layout.css');
@import url('sections.css');
@import url('responsiveness.css');




/* OVERRIDES */

header .navbar .navbar-nav .btn, header .navbar-default .navbar-nav .btn{
    max-width: 110px !important;
    padding:11px 0px !important;
    font-size:16px !important;
}
.navbar-right a:first-of-type{
    margin-top:10px !important;
}

@media screen and (max-width: 1300px) {
    .navbar-right a{
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size:13px !important;
    }
    .navbar-right a:first-of-type{
        margin-top:0px !important;
    }
}



/* ===============
       Exceptions
   =============== */
.mobile-only{
    display:none;
}


@media screen and (max-width: 520px) {
    .mobile-only{
        display:block;
    }
}