@media screen and (max-width: 1375px) {
    

    /* ===============
       SMALL CLIENT BANNER
     =============== */
    section.testemonial .clients-banner .small-clients-slider{
        max-width:1000px;
        
    }
    /* SAFARI BUG FIX SLICK SLIDER  */
    @media not all and (min-resolution:.001dpcm) { 
        @media {
            section.testemonial .clients-banner .slick-track{
                display:block;
            }
            section.testemonial .clients-banner .small-clients-slider .item{
                min-height:134px;
            }
        }
    }

    section.testemonial .clients-banner .small-clients-slider .slick-next{
        display:block !important;
    } 
    

}

@media screen and (max-width: 1240px) {
    .wrap{
        width: 1025px;
    }
    
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 960px;
        margin:0px auto;
    }
    section .hex-bg{
        display:none;
    }

    /* === SINGLE ARTICLE === */
    article{
        width: 30%;
        margin-right:15px;
    }

    
    /* ===  CATEGORY ARTICLE LAYOUT === */
    
    .single-v3 .category-posts article{
        width: 100%;
        margin-right: 0px !important;
    }

    /* === SINGLE ARTICLE BLOG-FEATURED === */
    .blog-list-items article .content .bottom > img, .single-v3 .blog-list-items article .content .bottom > img{
        display:none;
    }

    /* ===============
        BLOG
   =============== */

    section.hero-blog .heading{
        position:static;
        text-align:center;
        width: 100%;
        display:flex;
        flex-flow:wrap row;
        justify-content: center;
    }
    section.hero-blog .heading h1{
        width: 100%;
    }
    section.hero-blog .heading p{
        width: 60%;
    }


    /* ===============
    SINGLE POST
   =============== */
   .single-v3 article{
        width: 32%;
        margin-bottom:20px;
    }


    /* ===============
    AUTHOR
    =============== */
    .author-v3 article{
        width: 32%;
        margin-bottom:20px;
    }

    /* ===============
    PLANS - PRICING
    =============== */
    section.plans .plans-wrap{
        width: 820px;
    }
    section.plans .plans-wrap .plan{
        width: 33%;
    }

    /* ===============
    BENEFITS - PRICING
    =============== */

    section.benefits ul li > div{
        width: 530px;
    }


    /* ========================
        WRITERS PRORAM - HOW
    ======================== */
    section.sub-hero .share-a-story .desc{
        width: 400px;
    }
    section.sub-hero .share-a-story img{
        width: 500px;
    }
    /* ========================
        MAIN FORM
    ======================== */
    section.main-form .wrap .heading{
        width: 320px;
    }
    section.main-form .hex-3-bg{
        background-size:70%;
        background-position:right center;
    }


    /* ========================
          PRICING FORM
   ======================== */
   section.pricing-form .wrap .heading{
       width: 100%;
   }
    /* ===============
    LANGUAGES - WEB
    =============== */
    section.languages .row ul li{
        max-width:180px;
    }

    /* ===============
   OTHER - WEB
   =============== */
   section.other ul li{
       max-width:32%;
   }
    /* ===============
       SMALL CLIENT BANNER
    =============== */
     section.testemonial .clients-banner .small-clients-slider{
        max-width:800px;
    }
}






/* ===============
        <1024
   =============== */


   @media screen and (max-width: 1100px) {
    .wrap{
        width: 900px;
    }
    
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 900px;
    }

    /* ===============
        BLOG
   =============== */

   /* ===ARTICLES LIST=== */

    section.blog-list-items .articles{
        justify-content: space-between;
    }

    section.blog-list-items .articles{
       flex-flow:row wrap;
    }

   section.blog-list-items .articles article:nth-child(1){
        order: 1;
    }
    section.blog-list-items .articles article:nth-child(2){
        order: 2;
        
    }
    section.blog-list-items .articles article:nth-child(3){
        order: 3;
        margin-right:0px;
    }
    section.blog-list-items .articles article:nth-child(4){
        order: 4;
        
    }
    section.blog-list-items .articles article:nth-child(5){
        order: 5;
    }
    section.blog-list-items .articles article:nth-child(6){
        order: 6;
        margin-right:0px;
    }
    section.blog-list-items .articles article:nth-child(7){
        order: 7;
    }
    section.blog-list-items .articles article:nth-child(8){
        order: 8;
    }

    section.blog-list-items .articles article{
        margin-right:0px;
    }

    section.blog-list-items .articles article:nth-of-type(3n){
        margin-right:0px;
    }
    
    
    /* ===Categories=== */
   
   .list-categories{
       margin-top:20px;
   }
    .list-categories li{
        margin:15px 15px 0px 0px;
    }
    .newsletter-box{
        display:none;
    }

    .related-posts .articles{
        justify-content: space-between;
    }
    .related-posts .articles article{
        margin-right:0px;
        margin-left:0px;
    }

    /* === SINGLE ARTICLE === */
    article{
        width: 49% !important;
        margin-right:15px;
    }
    article .content .bottom > img{
        right:0px;
    }


    /* ===  CATEGORY ARTICLE LAYOUT === */
    .single-v3 .category-posts article{
        width: 100% !important;
    }
    
    /* ===============
    PLANS - PRICING
    =============== */
    section.plans .plans-wrap{
        width: 700px;
    }
    section.plans .plans-wrap .plan{
        padding:0px 20px 0px 20px;
    }
    /* ===============
    BENEFITS - PRICING
    =============== */

    section.benefits ul li > div{
        width: 430px;
    }

    /* ========================
          PRICING FORM
   ======================== */
    section.pricing-form .wrap form .form-wrap > .p-small br{
        display:none;
    }
    /* ===============
    LANGUAGES - WEB
    =============== */
    section.languages .row ul li:nth-of-type(5n){
        margin-right:20px;
    }

}



@media screen and (max-width: 1035px) {
    
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 768px;
    }

    
}
@media screen and (max-width: 940px) {
    .wrap{
        width:768px;
    }
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 680px;;
    }

    /* ===============
        BLOG
    =============== */
    section.hero-blog .heading p{
        width: 80%;
    }


    /* ===ARTICLES LIST=== */

    section.blog-list-items .articles{
        justify-content: space-between;
    }

    section.blog-list-items .articles article{
        margin-right:0px !important;
    }


    /* ===Categories=== */

    .list-categories{
        flex-flow:row wrap;
    }
    .list-categories li a{
        width: 180px;
    }

    .list-categories li{
        margin-right:0px;
    }
    .list-categories{
        justify-content: space-between;
    }


    /* ===  CATEGORY ARTICLE LAYOUT === */
    .single-v3 .category-posts article{
        width: 100% !important;
    }


    /* ========================
        WRITERS PRORAM - HOW
    ======================== */
    section.sub-hero .share-a-story{
        justify-content: center;
        margin-bottom:0px;
    }
    section.sub-hero .share-a-story .desc{
        order:2;
        width: 100%;
        margin-top:40px;
        display:flex;
        flex-flow:row wrap;
        text-align:center;
        justify-content: center;
    }
    section.sub-hero .share-a-story img{
        order:1;
        width: 500px;
    }
    /* ========================
        WRITERS PROGRAM - HOW
    ======================== */
    section.how .wrap > ul > li .heading{
        flex-flow:row wrap;
        text-align:center;
        justify-content: center;
        margin-bottom:15px;
    }
    section.how .wrap > ul > li .heading img{
        margin-bottom:25px;
        margin-right:0px;
    }
    section.how .wrap > ul > li p{
        margin-left:0px;
        text-align: center;
    }
    /* ========================
             MAIN FORM
    ======================== */
    section.main-form .wrap form{
        width: 420px;
        padding:40px;
    }
    section.main-form .hex-3-bg{
        background-size:50%;
    }

    /* ===============
    PLANS - PRICING
    =============== */
    section.plans .plans-wrap{
        width: 570px;
    }
    section.plans .plans-wrap .plan .features{
        margin-top:90px;
    }
    section.plans .left{
        margin-top:410px;
    }
    /* ===============
    BENEFITS - PRICING
    =============== */

    section.benefits ul li > div{
        width: 430px;
    }
    section.benefits ul li > img{
        height: 240px;
        margin-top:75px;
    }
    section.benefits ul li{
        margin-bottom:20px;
    }
    /* ========================
          PRICING FORM
   ======================== */
   section.pricing-form .wrap form{
       width: 100%;
   }
    /* ===============
    LANGUAGES - WEB
    =============== */

    section.languages .row ul li{
        margin-right:14px;
    }
    section.languages .row ul li:nth-of-type(4n + 1){
        margin-right:14px;
    }
    section.languages .row ul li:nth-of-type(4n){
        margin-right:0px;
    }
    /* ===============
       SMALL CLIENT BANNER
     =============== */
     section.testemonial .clients-banner .small-clients-slider{
        max-width:600px;
        
    }
}


@media screen and (max-width: 808px) {
    .wrap{
        width:600px;
    }
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 580px;
    }

    .single-v3{
        overflow:hidden;
    } 

    /* ===Categories=== */
    .list-categories{
        justify-content: space-around;
    }

    section .wrap > h2{
        text-align:center;
        box-sizing: border-box;
        padding-left:20px;
        padding-right:20px;
    }

    /* ===============
        SINGLE POST
   =============== */

    /* === SINGLE BLOGPOST TAGS === */
    .post-tags .full a{
        padding:10px 15px;
    }


    /* === SINGLE ARTICLE === */
    article{
        width: 100% !important;
        margin-right:15px;
    }
    article .content h4{
        min-height:auto;
    }

    /* ========================
        WRITERS PRORAM - HOW
    ======================== */
    section.sub-hero .share-a-story{
        margin-top:50px;
    }
    /* ========================
        MAIN FORM
    ======================== */
    section.main-form{
        margin-top:0px;
    }
    section.main-form .wrap .heading{
        width: 100%;
    }
    section.main-form .wrap form{
        width: 100%;
        padding:60px;
        margin-top:40px;
    }
    /* ===============
    PLANS - PRICING
    =============== */
    section.plans .plans-wrap{
        width: 400px;
    }
    section.plans .plans-wrap .plan{
        box-shadow:none;
    }
    section.plans .plans-wrap .plan .heading{
        height: 230px;
    }
    section.plans .plans-wrap .plan .features{
        margin-top:0px;
    }
    section.plans .left{
        margin-top:291px;
    }
    /* Slick slider */

    section.plans .slick-arrow{
        position:absolute;
        width:20px;
        height: 40px;
        text-indent:-999px;
        overflow:hidden;
        background-color:#ffffff !important;
        top:70px;
        z-index:5;
        background-size:100% !important;
    }
    section.plans .slick-next{
        right:40px;
        background: url(../img/pricing/slider-arrow-right.svg) no-repeat center center;
        
    }
    section.plans .slick-prev{
        left:40px;
        background: url(../img/pricing/slider-arrow-left.svg) no-repeat center center;
    }
    
    /* ===============
    BENEFITS - PRICING
    =============== */
    section.benefits ul li:nth-of-type(2){
        flex-direction:column-reverse;
    }
    section.benefits ul li:nth-of-type(2) > img{
        margin:0px auto;
        margin-top:75px;
    }
    section.benefits ul li:nth-of-type(2) > div{
        margin:0px auto;
    }

    section.benefits ul li > img{
        width: 300px;
        height:auto;
        margin:0px auto;
    }
    section.benefits ul li > div{
        margin-top:40px !important;
        text-align:center !important;
        margin-left:0px;
        width: 100%;
    }

    section.benefits .tools-slider{
        width: 100%;
        margin-bottom:80px;
    }
    section.benefits .tools-slider .slick-next{
        right:-20px;
    }

    /* ========================
          PRICING FORM
   ======================== */
    section.pricing-form{
        margin-top:60px;
    }
    section.pricing-form .wrap .heading{
        padding:0% 5%;
    }
    section.pricing-form .wrap form .form-wrap > .p-small{
        width: 100%;
        margin-top:-10px;
        text-align:center;
    }
    section.main-form .wrap form button{
        display:block;
        margin:0px auto;
        margin-top:20px;
    }
    /* ===============
    LANGUAGES - WEB
    =============== */
    section.languages .row h3{
        text-align: center;
    }
    section.languages .row{
        margin-left:0px;
        margin-right:0px;
    }
    section.languages .row ul li{
        margin-right:20px;
        max-width:186px;
    }
    section.languages .row ul li:nth-of-type(4n + 1){
        margin-right:20px;
    }
    section.languages .row ul li:nth-of-type(4n){
        margin-right:20px;
    }
    section.languages .row ul li:nth-of-type(3n + 1){
        margin-right:20px;
    }
    section.languages .row ul li:nth-of-type(3n){
        margin-right:0px;
    }
    /* ===============
    OTHER - WEB
    =============== */
    section.other ul li{
        max-width:100%;
        width: 100%;
        margin-bottom:20px;
    }
    section.other ul li a p{
        min-height:auto;
    }
    section.other ul li a{
        min-height:auto;
    }
    /* ===============
       SMALL CLIENT BANNER
    =============== */
     section.testemonial .clients-banner .small-clients-slider{
        max-width:450px;
        
    }
}

@media screen and (max-width: 740px) {
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 480px;
    }

}


@media screen and (max-width: 640px) {
    .wrap{
        width:480px;
    }

    /* === SHARING CENTER === */

    .sharing-center{
        position:relative;
        width:100%;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        top:20px;
        left:0px;
    }
    .sharing-center a{
        margin:0px 10px;
    }


    section.post-hero .post-details .category{
        margin-top:5px;
        width: 100%;
        display:flex;
        flex-flow:column;
        align-items: center;
        justify-content:center;
    }
    section.post-hero .post-details .category p{
        margin-left:0px;
    }

     /* ===Categories=== */
    .list-categories li a{
        width: 220px;
    }
   /* ===============
        SINGLE
    =============== */  
   
    section.post-hero .post-details{
        left:0px;
    }
    section.post-hero .post-details > p{
        margin:20px 0px 20px 20px;
    }
    section.post-hero .author{
        margin-top:13px;
    }
    /* ===RELATED ARTICLES=== */

    .related-posts .articles article{
        margin-right:0px !important;
    }
    /* ===============
    PLANS - PRICING
    =============== */
    section.plans .plans-wrap{
        width: 275px;
    }
    section.plans .plans-wrap .plan .heading{
        height: 250px;
    }
    section.plans .left{
        margin-top:311px;
    }
    /* ========================
          PRICING FORM
   ======================== */
   section.pricing-form .wrap form .form-wrap .half{
       width: 100%;
   }
    /* ===============
    BENEFITS - PRICING
    =============== */
    section.benefits ul li > img{
        height: auto;
    }
        /* ===============
    LANGUAGES - WEB
    =============== */
    section.languages .row ul{
        display:block;
    }
    section.languages .row ul li{
        max-width:48%;
        float:left;
        margin-right:0px !important;
    }
    section.languages .row ul li:nth-last-of-type(2n){
        float:right;
    }
    /* ===============
       SMALL CLIENT BANNER
    =============== */
    section.testemonial{
        overflow:hidden;
    }
    section.testemonial .clients-banner .small-clients-slider{
        width: 100%;
        position:static;
        max-width:100%;
        padding:40px 0px;
        margin-bottom:20px;
        box-sizing: border-box;
    }
    section.testemonial .clients-banner .snowplow-banner{
        display:none;
    }
    section.testemonial .clients-banner .small-clients-slider .item{
        padding:20px;
    }
    .hex-bg-left-2x{
        width: 320px;
    }
}



@media screen and (max-width: 520px) {
    .wrap{
        width: 100%;
        padding-left:20px;
        padding-right:20px;
        box-sizing: border-box;
    }
    .blog-wrap, .sub-heading-smaller-wrap{
        width: 100%;
    }

    section .heading h1{
        box-sizing: border-box;
        padding-left:20px;
        padding-right:20px;
    }

     /* ===Categories=== */

     .list-categories{
        box-sizing: border-box;
        padding:0px 20px;
     }

    .list-categories li {
        width: 45%;
    }
    .list-categories li a{
        width: 100%;
    }


    /* === SINGLE ARTICLE === */
    article .content .bottom > img{
        display:none;
    }
    
    .articles{
        box-sizing: border-box;
        padding:0px 20px;
    }
    .single-v3 .category-posts article .content{
        padding:25px;
    }

    section.post-hero .post-details > p{
        margin-top:20px;
    }
    /* ===============
        BLOG
    =============== */  
    .blog-v3{
        margin-top:100px;
    }
    .blog-back-button{
        margin-left:20px;
    }

    section.post-hero{
        margin-top:0px;
    }

    section.post-hero .wrap{
        min-height:240px;
    }
    
    section.post-hero .featured-image{
        box-sizing: border-box;
        padding:0px 20px;
    }


    section.content{
        box-sizing: border-box;
        padding-left:20px;
        padding-right:20px;
    }


    /* ===============
        AUTHOR
    =============== */  
    section.author-hero .heading{
        box-sizing: border-box;
        padding-left:20px;
        padding-right:20px;
    }


    /* ========================
        WRITERS PRORAM - HOW
    ======================== */
    section.how .wrap > ul > li{
        width: 100%;
        margin-bottom:40px;
    }
    section.how .wrap > ul > li .heading img{
        margin-right:0px;
    }

    section.how .wrap > ul >li .heading h3{
        width: 100%;
    }

    /* ========================
           MAIN FORM
    ======================== */
    section.main-form .wrap form{
        padding:40px;
    }

    /* ===============
    PLANS - PRICING
    =============== */
    section.plans .plans-wrap{
        width: 100%;
    }
    section.plans .left{
        width:100%; 
        margin-top:295px;
        position:absolute;
        top:0px;
        left:0px;
        z-index:3;
    }
    section.plans .left ul li{
        height: 120px;
        flex-flow:column wrap;
    }
    section.plans .left ul li .explanation{
        display:none;
    }
    section.plans .left ul li p{
        text-align:center;
    }
    section.plans .left ul li p br{
        display:none;
    }
    section.plans .plans-wrap .plan .heading{
        height: 280px;
    }
    section.plans .plans-wrap .plan .features li{
        height: 120px;
    }
    .slick-slider .slick-track, .slick-slider .slick-list{
        z-index:4;
    }
    section.plans .plans-wrap .plan{
        background:none;
    }

    /* ===============
    BENEFITS - PRICING
    =============== */
    section.benefits ul li > img{
        width: 250px;
        height: auto;
    }
    section.benefits ul li > div{
        width: 100%;
    }
    .pricing-v3 section.benefits{
        margin-top:-20px;
    }

    section.benefits .tools-slider .item{
        justify-content: center;
    }

    /* ========================
          PRICING FORM
   ======================== */
   section.main-form .wrap form{
       padding:40px 20px;
   }
   section.pricing-form{
       margin-bottom:60px;
   }
    /* ===============
       SMALL CLIENT BANNER
    =============== */
    section.testemonial .clients-banner .small-clients-slider .item{
        width: 100%;
    }

    
}