/* ===============
        GLOBAL
   =============== */

   main{
    margin:60px 0px;
}

.hex-bg{
    width: 800px;
    height: 1500px;
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    background:url("../img/global/hexabg.svg") no-repeat;
    z-index:1;
}

.hex-bg-left-2x{
    width: 520px;
    height: 900px;
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    background:url("../img/global/left-2hex-bg.png") no-repeat;
    background-size:100%;
    z-index:1;
}

.hex-3-bg{
    width: 1150px;
    height: 1300px;
    display:block;
    position:absolute;
    right:0px;
    top:0px;
    background:url("../img/global/3hex-bg.svg") no-repeat;
    z-index:1;
}
.hex-3-bg-small{
    width: 736px;
    height: 1289px;
    display:block;
    position:absolute;
    right:0px;
    top:0px;
    background:url("../img/global/hex-3-bg-small.svg") no-repeat;
    z-index:1;
}

/* Global error input handling  */

input.error{
    color:#FF8B8B !important;
    border: 1px solid #FF8B8B !important;
}

/* Call to action button pre-definition */

.cta{
    padding:17px 30px; 
    cursor:pointer;
    min-width:200px;
    max-height:60px;
    /* TODO : REMOVE AFTER COMPELTE MIGRATION */
    font-size:16px !important;
    padding:16px 30px; 
}


/* Loader on buttons */

.activate-loader{
    text-indent:-2999px;
    background-image: url('../img/global/loader.svg');
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Cookie bar adjustments v3 */

#cookie-bar a{
    padding:5px 20px !important;
}


/* Setup icons */

.yes-icon{
    display:block;
    background:url(../img/global/yes.svg) no-repeat;
    width: 20px;
    height: 15px;
}
.no-icon{
    display:block;
    background:url(../img/global/no.svg) no-repeat;
    width: 15px;
    height: 15px;
}

.questionmark{
    display:block;
    background:url(../img/global/questionmark.svg) no-repeat;
    background-size:100%;
    width: 23px;
    height:23px;
}


/* ===============
        BLOG
   =============== */

.blog-v3{
    margin-top:140px;
}

section.hero-blog{
    position:relative;
}

section.hero-blog .wrap{
    background:url("../img/global/hero-bg.svg") no-repeat;
    background-position:right center;
}

section.hero-blog .heading{
    width: 400px;
    position:absolute;
    top:15px;
}

section.hero-blog .heading h1{
    margin-bottom:10px;
}


/* ===Categories=== */

.list-categories{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse row;
            flex-flow: wrap-reverse row;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
}

.list-categories li{
    margin:30px 30px 0px 0px;
}
.list-categories li.active{
    background-image: linear-gradient(16deg, #28D1B1 0%, #84B0FF 100%);
}
.list-categories li.active p{
    color:#ffffff;
}

.list-categories li a{
    width: 210px;
    height: 120px;    
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column wrap;
            flex-flow:column wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
}
.list-categories li a p{
    text-align:center;
}

.list-categories li a:hover .link-indicator{
    width:80px;
}

.list-categories li:nth-of-type(5){
    margin-left:0px
}

.list-categories li a img{
    margin-bottom:10px;
    height: 45px;
}

.list-categories .link-indicator{
    width: 50px;
    height:7px;
    position:absolute;
    bottom:0px;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.000, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); 
         -o-transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); 
            transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); /* custom */
    
    -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.000, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.600, 0.000, 1.320); 
         -o-transition-timing-function: cubic-bezier(1.000, -0.600, 0.000, 1.320); 
            transition-timing-function: cubic-bezier(1.000, -0.600, 0.000, 1.320); /* custom */
}

.list-categories li.active span{
    display:none;
}



/* ===ARTICLES LIST=== */


section.blog-list-items .articles{
    margin-top:35px;
}

section.blog-list-items .articles{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: wrap-reverse row;
        flex-flow: wrap-reverse row;
    -ms-flex-direction: row;
        flex-direction: row;
}

section.blog-list-items .articles article{
    margin-right:20px;
}

section.blog-list-items .articles article:nth-child(1){
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
}
section.blog-list-items .articles article:nth-child(2){
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
    
}
section.blog-list-items .articles article:nth-child(3){
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}
section.blog-list-items .articles article:nth-child(4){
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    
}
section.blog-list-items .articles article:nth-child(5){
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin-right:0px
}
section.blog-list-items .articles article:nth-child(6){
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
section.blog-list-items .articles article:nth-child(7){
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
section.blog-list-items .articles article:nth-child(8){
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right:0px;
}


/* === SINGLE ARTICLE === */

article{
    width: 380px;
    margin-right:30px;
    margin-bottom:30px;
    z-index:2;
}


article > a{
    display:block;
    width: 100%;

}

article > a:hover .bottom > img{
    position:relative;
    right:0px;
    width:px;
}

article .featured-image{
    position:relative;
}

article .featured-image > img{
    width: 100%;
}

article > a:hover .featured-image img{
    opacity:.9
}

article .featured-image img{
    border-radius: 9px 9px 0 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

article .category-overlay img{
    width: 100%;
}

article .featured-image .pdf-included{
    width: 135px;
    height: 54px;
    position:absolute;
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-around;
    right:0px;
    bottom:20px;
    border-radius: 14px 0px 0px 14px;
}


article .content{
    width:100%;
    padding:25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

article .content .heading{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: column wrap;
        flex-wrap: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom:20px;
}

article .content .heading h5{
    margin-top:2px;
}

article .content h4{
    margin-top:0px !important;
    margin-bottom:0px !important;
    min-height:100px;
    vertical-align: middle;
}

article .content .bottom{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top:20px;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

article .content .bottom .author img{
    float:left;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 255px; 
    -moz-border-radius: 255px; 
    border-radius: 255px;
}

article .content .bottom .author p{
    float:left;
    margin:7px 0px 0px 15px;
}

article .content .bottom > img{
    position:relative;
    width: 25px;
    right:20px;
    top:3px;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.000, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); 
         -o-transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); 
            transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); /* custom */
  
}

.highlighter-rouge{
    background:#e8f8ff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 13px;
}

/* === ARTICLES BACK BUTTON === */

.pagination a{
    display:flex;
    margin-top:40px;
    
}

.pagination a img{
    width: 25px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pagination .blog-back-button img{
    margin-right:20px;

}

.pagination .blog-back-button{
    margin-right:30px;
}

.pagination a:hover img{
    width:30px;
}

.pagination a{
    float:left;
}
.pagination .blog-next-button img{
    margin-left:20px;
}


/* === NEWSLETTER SIDEBAR === */


.newsletter-box{
    width: 335px;
    position:absolute;
    right:0px;
    top:0px;
}
.newsletter-box h4, .newsletter-box h3{
    margin-bottom:15px;
}

.newsletter-box p{
    margin-bottom:20px;
}

.newsletter-box .full{
    position:relative;
    top:215px;
    right:40px;
    z-index:3;
}

.newsletter-box .thankyou{
    display:none
}

.newsletter-box .form-wrap{
    margin-top:10px;
    position:relative;
}


.newsletter-box .form-wrap button{
    width: 50px;
    height: 50px;
    position:relative;
    right:7px;
    border-radius: 0 4px 4px 0;
}



.newsletter-box .activate-loader{
    width: 174px;
    text-indent:-2999px;
    background-image: url('https://snowplowanalytics.com/assets/img/landingpages/data-lakes/loader.svg');
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsletter-box .form-wrap button:hover img{
    width:20px;
}
.newsletter-box .form-wrap button img{
    width: 15px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.newsletter-box .form-wrap input{
    width: 230px;
    height: 48px;    
    padding:0px 15px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}


.hex-bg-newsletter{
    width: 485px;
    height: 553px;
    display: block;
    position: absolute;
    right: 0px;
    top: 90px;
    background:url("../img/global/hexagon-full-bg.png") no-repeat;
    background-size:100%;
    z-index:1;
}



/* ===============
   SINGLE POST
   =============== */

section.post-hero{
    position:relative;
}
section.post-hero .hex-bg{
    top:50px;
}

section.post-hero .wrap{
    padding-top: 50px;
    background:url("../img/global/hero-bg.svg") no-repeat;
    background-position:right top;
}

section.post-hero .heading{
    text-align:center;
}




section.post-hero .heading h5{
    margin-bottom:20px;
}


section.post-hero .post-details{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    position:relative;
    left:10px;
    margin-bottom:45px;
}

section.post-hero .post-details > p{
    margin: 7px 40px;
}

section.post-hero .post-details .author img, section.post-hero .post-details .category img{
    float:left;
    height: 36px;
}
section.post-hero .post-details .author img{
    border-radius: 255px;
}

section.post-hero .post-details .author p, section.post-hero .post-details .category p{
    float:left;
    margin:7px 0px 0px 15px;
}


section.post-hero .featured-image{
    display:block;
    width: 100%;
    max-width:720px;
    margin:0px auto;
    border-radius: 9px;
}


/* === SINGLE BLOGPOST CONTENT MARGINS === */

section.content{
    margin-top:45px;
}
section.content .blog-wrap{
    position:relative;
    z-index:2;
}

.post-content p{
    margin:10px 0px;
}

.post-content h1,.post-content h2,.post-content h3,.post-content h4{
    margin:40px 0px 10px 0px;
}

.post-content ol{
    margin:15px 0px;
    list-style-type: decimal;
    list-style-position: inside;
}

.post-content ul{
    margin:25px 0px;
}


.post-content li:before {
    content: '';
    width: 10px;
    height: 10px;
    position:absolute;
    left:0px;
    top:8px;
    background:url(../img/global/list-dot.svg) no-repeat;

}

.post-content li{
    margin:5px 0px;
    padding-left:20px;
    box-sizing: border-box;
    position:relative;
}

.post-content li ol, .post-content li ul{
    margin-left:20px;
}

.post-content img{
    margin:15px 0px;
}
.post-content table{
    margin:30px 0px;
}

.post-content th{
    background: #F5F7FF;
}

.post-content th, .post-content td{
    padding: 15px 20px;
    border: 1px solid #eae9e9;
    border-radius: 4px;
}
.post-content td{
    padding: 10px 20px;
}


.post-content figure{
    margin:20px 0px;
}

.post-content a{
    color:#28D1B1;
    text-decoration:underline;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.post-content a:hover{
    opacity:.4;
}

.post-content blockquote{
    background: url('../img/global/quote.svg') no-repeat left center;
    margin:20px 0px;
    padding-left:85px;
}

.post-content blockquote p{
    font-family:'karla-italic';
    font-size:20px;
    line-height:28px; 
}

.post-content blockquote cite{
    font-family:'karla-bold';
    font-size:18px;
    line-height:25px;
}


/* === SINGLE BLOGPOST TAGS === */

.post-tags{
    margin:70px 0px;
}

.post-tags h5{
    margin-bottom:20px;
    
}

.post-tags .full{
    display:flex;
    flex-flow:row wrap;
}

.post-tags .full a{
    margin-right:20px;
    padding:10px 25px;
    position:relative;
    margin-bottom:20px;
}

/* .post-tags .full a:hover .link-indicator{
    width:9px;
    height: 30px;
    top:8px;
} */

.post-tags .link-indicator{
    width: 6px;
    height: 23px;
    display:block;
    position:absolute;
    left:0px; 
    top:12px;
    border-radius: 9px 0px 0px 9px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/* === SINGLE BLOGPOST WRITTEN BY === */

.post-written-by{
    margin:70px 0px;
}

.post-written-by h5{
    margin-bottom:20px;
}

.post-written-by .author{
    width: 100%;
    float:left;
    margin:10px 0px 10px 0px;
}

.post-written-by .author img{
    float:left;
    height: 36px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
.post-written-by .author p{
    float:left;
    margin:7px 0px 0px 15px;
}

.post-written-by .details{
    width: 100%;
}


/* === SINGLE BLOGPOST RELATED ARTICLES === */

.related-posts h2{
    text-align:center;
}

.related-posts .articles{
    display:flex;
    margin-top:35px;
    flex-flow:wrap row;
    justify-content: flex-start;
}

.related-posts .articles article{
    margin-right:20px;
    margin-left:0px;
}

.related-posts .articles article:nth-of-type(4){
    display:none;
}

.category-posts .articles article:nth-of-type(4){
    display:block;
}

.related-posts .articles article:nth-of-type(3n){
    margin-right:0px;
}





/* ===  CATEGORY ARTICLE LAYOUT === */

.category-posts{
    margin-top:0px;
}

.category-posts .articles{
    margin-top:0px;
}



.category-posts .articles article{
    width: 100%;
    margin-right: 20px;
    margin-right:0px;
}

.category-posts article .content h4{
    min-height:auto;
}



.category-posts article .featured-image{
    display:none;
}

.category-posts article .content .heading{
    justify-content: flex-start;
}

.category-posts article .content h3{
    min-height:auto;
    margin:0px 0px 15px 0px;
}
.category-posts article .content{
    padding:50px;
}

/*  ===  AUTHOR POSTS MARGINS  ===  */

.author-posts .articles{
    margin-top:35px;
}

.author-posts .articles article .heading{
    display:flex;
    justify-content: space-between;
}


/* === SHARING CENTER === */

.sharing-center{
    width: 37px;
    z-index:2;
    /* position:fixed;
    top:40px;
    left:190px; */
    position:absolute;
    top: 5px;
    left:-60px;
}
.sharing-center  .blog-wrap{
    width: 37px;
    float:left;
}

.sharing-center a{
    float:left;
    display:block;
    width: 37px;
    height: 37px;
    padding:0px;
    margin-bottom:10px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.sharing-center a:hover{
    opacity:.4;
}
.jssocials-share-link{
    background: rgba(255, 255, 255, 0);
}

.jssocials-share-logo{
    text-indent:-999px;
    overflow:hidden;
    width:100%;
    height:100%;
}

.sharing-center .fa-facebook{
    background: url(../img/social-media-icons/facebook.svg) no-repeat;
}

.sharing-center .fa-linkedin{
    background: url(../img/social-media-icons/linkedin.svg) no-repeat;
}

.sharing-center .fa-twitter{
    background: url(../img/social-media-icons/twitter.svg) no-repeat;
}

.jssocials-share+.jssocials-share{
    margin-left:0px;
}
.jssocials-share-link:hover, .jssocials-share-link:focus{
    background: rgba(255, 255, 255, 0);
    opacity:.7;
}

/* === DISCOURSE === */
#discourse-comments{
    margin-top: 40px;
}




/* ===============
   AUTHOR HEADING
   =============== */

.author-v3 .separator{
    margin:60px auto;
}
.author-v3 section.related-posts{
    margin-top:0px;
}

section.author-hero{
    position:relative;
}
section.author-hero .hex-bg{
    top:50px;
}

section.author-hero .wrap{
    padding-top: 50px;
    background:url("../img/global/hero-bg.svg") no-repeat;
    background-position:right top;
}

section.author-hero .heading{
    text-align:center;
}


section.author-hero .heading img{
    margin:40px 0px 20px 0px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;

}
section.author-hero .heading h1{
    margin-bottom:20px;
}


/* ===============
   CATEGORY SECTION
   =============== */

   section.category-hero .wrap {
    background:none;
}




/* ===============
   SC - EBOOK SECTION
   =============== */

.sc-ebook > div{
    border-radius:13px;
}

.sc-ebook h2{
    margin-top:0px;
    margin-bottom:15px;
    color:#fff;
}
.sc-ebook a{
    padding:20px 40px !important;
    color:#fff;
}



/* ===============
   SUB HEADING - ALL PAGES
   =============== */


section.sub-hero{
    position:relative;
}
section.sub-hero .hex-bg{
    top:50px;
}

section.sub-hero .wrap{
    padding-top: 50px;
    background:url("../img/global/hero-bg.svg") no-repeat;
    background-position:right top;
    min-height:300px;
}

section.sub-hero .heading{
    text-align:center;
}

section.sub-hero .heading h1{
    margin:40px 0px 15px 0px;
}


/* ===============
   SUB SECTION - center
   =============== */

section .heading-subsection-center{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    text-align:center;
}
section .heading-subsection-center h2{
    margin-bottom:15px;
    width: 100%;
}
section .heading-subsection-center p{
    width: 80%;
}



/* ===============
   PRICING - PLANS
=============== */

section.plans{
    margin-top:40px;
}

section.plans .wrap{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section.plans .left{
    width: 150px;
    margin-top:341px;
}

section.plans .left ul li{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

section.plans .left ul li p{
    text-align:right;
    width: 100%;
}

section.plans .left ul li .explanation{
    position:absolute;
    right: -35px;
    top: 30px;
}

section.plans .left ul li .explanation p{
    display:none;
    width: 300px;
    position:absolute;
    top:-35px;
    z-index:5;
    padding:20px;
    box-sizing: border-box;
    text-align:left;
}
section.plans .left ul li .explanation p a{
    font-size:16px !important;
}


section.plans .plans-wrap{
    width: 990px;
    border-radius:9px;
}

section.plans .plans-wrap .plan{
    float:left;
    width: 33%;
    padding:0px 40px 20px 40px;
    box-sizing: border-box;
}

section.plans .plans-wrap .plan:nth-of-type(1){
    border-top-left-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 9px;
}
section.plans .plans-wrap .plan:nth-of-type(2){
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
section.plans .plans-wrap .plan:nth-of-type(3){
    border-top-left-radius: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 0px;
}

section.plans .plans-wrap .plan .heading{
    height:280px;
    margin:40px 0px 20px;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}

section.plans .plans-wrap .plan .heading img{
    height: 100px;
}

section.plans .plans-wrap .plan .description{
    text-align:center;
}
section.plans .plans-wrap .plan .description h3{
    margin-bottom:10px;
}

section.plans .plans-wrap .plan .features{
    text-align:center;
}
section.plans .plans-wrap .plan .features li{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
section.plans .plans-wrap .plan .features li strong{
    color:#46D4BE;
}

/* ===============
   BENEFITS - PRICING
   =============== */


section.benefits ul{
    margin-top:40px;
}

section.benefits ul li{
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    margin-bottom:25px;
    display:flex;
    align-items: center;
}

section.benefits ul li > img{
    height: 325px;
}

section.benefits ul li > div{
    width: 640px;
    margin-left:80px;
}

section.benefits ul li > div h3{
    margin-bottom:20px;
}
section.benefits ul li:nth-of-type(2){
    justify-content: flex-end;
}

section.benefits ul li:nth-of-type(2) > div{
    margin-left:0px;
    margin-right:80px;
    text-align:left;
}


/* BENEFITS SMALL TOOLS SLIDER   */

section.benefits .tools-slider{
    width: 100%;
    margin:40px 0px;
}

section.benefits .tools-slider .item{
    min-height:50px;
    display:flex;
    align-items: center;
}

section.benefits .tools-slider .item img{
    align-self: center;
}

section.benefits .tools-slider .slick-prev{
    display:none !important;
}
section.benefits .tools-slider .slick-next{
    position:absolute;
    right: -55px;
    top: -14px;
    z-index:5;
    background:url(../img/global/small-slider-arrow.png) no-repeat;
    background-size:100%;
    width: 80px;
    height: 80px;
    text-indent: -9999px;
    overflow:hidden;
}   


/* ========================
    WRITERS PRORAM - HERO
   ======================== */


section.sub-hero .share-a-story{
    position:relative;
    z-index:2;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    margin:100px 0px;
}

section.sub-hero .share-a-story .desc{
    width: 500px;
}

section.sub-hero .share-a-story .desc h2{
    margin-bottom:25px;
}

section.sub-hero .share-a-story .desc p{
    margin-bottom:15px;
}

section.sub-hero .share-a-story .desc a{
    float:left;
    display:block;
    margin-top:10px;
}

section.sub-hero .share-a-story img{
    width: 600px;
}



/* ========================
    WRITERS PRORAM - HOW
   ======================== */


section.how .wrap > ul{
    display:flex;
    flex-flow:row wrap;
    margin-top:100px;
    justify-content: space-between;
}

section.how .wrap > ul > li{
    width: 45%;
    margin-bottom:80px;
} 

section.how .wrap > ul > li .heading{
    width: 100%;
    display:flex;
    flex-flow:row-wrap;
    align-items: center;
    margin-bottom:40px;
}

section.how .wrap > ul > li .heading img{
    width: auto;
    height: 150px;
    margin-right:60px;
}

section.how .wrap ul li ul li{
    position:relative;
    padding-left:20px;
    margin-bottom:15px;
}

section.how .wrap ul li ul li::before{
    content: "";
    display:block;
    position:absolute;
    top:7px;
    left:0px;
    width: 10px;
    height: 10px;
    background:url(../img/global/list-dot.svg) no-repeat;
    background-size:10px;
}

/* ========================
    SNOWPLOW FOR WEB - HOW
   ======================== */

section.how-web .wrap ul li p{
    margin-left:80px
}
section.how-web .wrap > ul > li .heading img{
    width: auto;
    height:200px;
    margin-right:35px;
}

/* ========================
          MAIN FORM
   ======================== */
section.main-form{
    margin-bottom:120px;
}

section.main-form .hex-3-bg{
    top:-185px;
}

section.main-form .wrap{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}

section.main-form .wrap .heading{
    width: 520px;
}

section.main-form .wrap .heading h2{
    margin-bottom:15px;
}
section.main-form .wrap .heading p{
    margin-bottom:15px;
}

section.main-form .wrap form{
    width: 520px;
    padding:60px;
    box-sizing: border-box;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

section.main-form .wrap form .form-wrap > h3{
    margin-bottom:10px;
}

section.main-form .wrap form .form-wrap > p{
    margin-bottom:40px;
}

section.main-form .wrap form .full{
    margin-bottom:20px;
}

section.main-form .wrap form .half{
    margin-bottom:20px;
}

section.main-form .wrap form  label{
    margin-bottom:10px;
}

section.main-form .wrap form  input,section.main-form .wrap form textarea{
    width:100%;
    padding:10px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    
}

section.main-form .wrap form textarea{
    max-width: 100%;
    max-height:600px;
    min-height:120px;
}


::-webkit-input-placeholder { /* Edge */
    color: #D5D6D9;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D5D6D9;
}
  
::placeholder {
    color: #D5D6D9;
}

section.main-form .wrap form button{
    float:right;
    margin-top:15px;
}

section.main-form form .thankyou{
    display:none;
}

section.main-form form .thankyou h3{
    margin-bottom:15px;
}

section.main-form form .thankyou p{
    margin-bottom:40px;
}

section.main-form form .thankyou img{
    width: 50%;
    margin:40px 0px;
}



/* ========================
          PRICING FORM
   ======================== */

section.pricing-form .hex-3-bg{
    top:-5px;
}


section.pricing-form .wrap{
    justify-content: center;
}

section.pricing-form .wrap .heading{
    width: 100%;
    text-align:center;
    padding:0% 20%;
    box-sizing: border-box;
}

section.pricing-form .wrap form{
    margin-top:60px;
    width: 960px;
}

section.pricing-form .wrap form .form-wrap .half{
    width: 47%;
    box-sizing: border-box;
}
section.pricing-form .wrap form .form-wrap > div{
    margin-bottom:40px;
}

section.pricing-form .wrap form .form-wrap > p{
    margin-bottom:60px;
}

section.pricing-form .wrap form .form-wrap > .p-small{
    width: 60%;
    margin: 20px 0px 0px 0px;
}


section.pricing-form .wrap form .form-wrap{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


section.pricing-form .thankyou{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    text-align:center;
}



/* ========================
          TESTEMONIAL
   ======================== */

section.testemonial{
    z-index:2;
}

section.testemonial .single{
    display:flex;
    flex-flow: column;
    justify-content: center;
    text-align:center;
}

section.testemonial .single img{
    align-self:center;
    margin-bottom:20px;
}

section.testemonial .single em{
    max-width:660px;
    margin:10px 0px 30px 0px;
    align-self:center;
}


/* ========================
        CLIENTS BANNER
   ======================== */


section.testemonial .clients-banner{
    width: 100%;
    position:relative;
    margin:40px 0px 0px 0px;
    min-height:270px;
    z-index:3;
    
}

section.testemonial .clients-banner .small-clients-slider{
    width:100%; 
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    position:absolute;
    right:170px;
    top:68px;
    padding:0px 40px;
    box-sizing: border-box;
}

section.testemonial .clients-banner .slick-track{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items: center;
}


section.testemonial .clients-banner .small-clients-slider .item{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px 0px;
}
section.testemonial .clients-banner .small-clients-slider img{
    align-self: center;
}

section.testemonial .clients-banner  .snowplow-banner{
    display:block;
    width: 200px;
    height: 250px;
    background:url('../img/global/sp-powered.png') no-repeat;
    background-size:100%;
    position:absolute;
    top:0px;
    right:0px;
    z-index:4;
}

section.testemonial .clients-banner .small-clients-slider .slick-next{
    position:absolute;
    right:-40px;
    top:26px;
    z-index:5;
    background:url(../img/global/small-slider-arrow.png) no-repeat;
    background-size:100%;
    width: 80px;
    height: 80px;
    text-indent: -9999px;
    overflow:hidden;
}   

.small-clients-slider .slick-prev, .small-clients-slider .slick-next{
    display:none !important;
}



/* ===============
  SUB HEADING - WEB
   =============== */

.web-v3 .heading .full{
    margin-top:40px;
}


/* ===============
   OTHER - WEB
   =============== */

section.other .hex-3-bg-small{
    top:-200px;
}

section.other ul{
    display:flex;
    margin:80px 0px;
    flex-flow:row wrap;
    justify-content: space-between;
}

section.other ul li{
    width: 380px;
}

section.other ul li a{
    display:block;
    width: 100%;
    min-height:300px;
    padding:40px 40px 50px 40px;
    box-sizing: border-box;
}

section.other ul li a p{
    margin:30px 0px 20px 0px;
    min-height:150px;
}


section.other ul li a img{
    float:right;
    position:relative;
    right:20px;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0, 0.000, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); 
         -o-transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); 
            transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.320); /* custom */
}


section.other ul li a:hover img{
  right:0px;
}


/* ===============
   READ-MORE-CTA
   =============== */


.read-more-cta{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    width: 100%;
    z-index:4;
}

.read-more-cta .left{
    max-width:630px;
}

.read-more-cta .left p{
    margin-top:15px;
}

.read-more-cta .right{
    max-width:350px;
}
.read-more-cta .right > p{
    float:right;
    margin-bottom:15px;
}

.read-more-cta .right a{
    display:flex;
    float:right;
    flex-flow:row wrap;
}

.read-more-cta .right a p{
    margin-right:10px;
}


/* ===============
   PIPELINE-SHOWCASE
   =============== */

section.pipeline-showcase .full{
    margin-top:80px;
    margin-bottom:100px;
}

/* ===============
   MAIN-CALL-TO-ACTION-BANNER
   =============== */

.main-call-to-action-banner{
    background-image: linear-gradient(217deg, #44CEB1 0%, #5973B6 53%, #653CB9 94%);
    padding:40px 0px;
}

.main-call-to-action-banner .full{
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content: space-between;
    padding:40px;
    box-sizing: border-box;
    
}
.main-call-to-action-banner .full .left{
    max-width:750px;
}
.main-call-to-action-banner .full .left h2{
    color:#ffffff;
}
.main-call-to-action-banner .full .left p{
    margin-top:10px;
    color:#ffffff;
}
.main-call-to-action-banner .full .right{
    max-width:200px;
}



/* ===============
   LANGUAGES - WEB
   =============== */



section.languages .row{
    width: 100%;
    margin-top:80px;
}

section.languages .row h3{
    width: 100%;
    text-align:left;
    margin-bottom:50px;
}

section.languages .row ul{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

section.languages .row ul li{
    display:flex;
    width: 100%;
    max-width:220px;
    margin:0px 20px 20px 0px;
    flex-flow:column wrap;
    justify-content: space-between;
    align-items: center;
}

section.languages .row ul li p{
    display:block;
    width: 100%;
    padding:10px 20px;
    box-sizing: border-box;    
    border-radius: 4px 4px 0px 0px;
    background:#F6F8FF;
    font-weight:700;
    color:#838BA0;
}

section.languages .row ul li:nth-of-type(5n + 1){
    margin-left:0px;
}
section.languages .row ul li:nth-of-type(5n){
    margin-right:0px;
}

section.languages .row ul li .full{
    display:flex;
    min-height:110px;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}

section.languages .row ul li img{
    align-self: center;
}

section.languages .row:last-of-type{
    margin-bottom:120px;
}


/* ===============
   GET-STARTED-LP
   =============== */

.get-started main{
    margin-bottom:0px;
}


/* Hero Section Get started */

.get-started-v3 .main-form{
    padding:100px 0px;
    margin:40px 0px 0px 0px;
    background: url(../img/get-started/get-started-hero.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.get-started header{
    background: #FFFFFF;
    box-shadow: 0 5px 11px 5px rgba(102,102,102,0.06);
}

.get-started header .navbar-right{
    display:none;
}


.get-started-v3 .main-form .form-wrap h2{
    text-align:center;
    padding-bottom:30px;
}


/* #Logo banner */

section.logo-banner{
    margin-top:0px;
    padding:40px 0px;
}

section.logo-banner .wrap{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

section.logo-banner .wrap .item{
    display:flex;
    align-items: center;
}




/* SECTION how-row-by-three */

section.how-row-by-three ul{
    display:flex;
    margin:80px 0px;
    flex-flow:row wrap;
    justify-content: space-between;
}

section.how-row-by-three ul li{
    width: 300px;
    text-align:center;
}

section.how-row-by-three ul li img{
    height: 200px;
    margin-bottom:20px;
    width: auto;
}
section.how-row-by-three ul li p{
    margin-top:10px;
}


/* Customer testemonial modification .get-started-v3 */


section.testemonial-wrap{
    background:url(../img/global/testemonial-bg-wrap.svg) no-repeat center top;
    padding:140px 0px 60px 0px;;
}




/* ===============
        WEBINAR - Section alignments
   =============== */


.webinar section.main-form .hex-3-bg{
    top:100px;
    background-size: 80%;
    background-position: right top;
}  


.webinar section.main-form .wrap{
    align-items: unset;
}

.webinar section.main-form{
    margin-bottom:80px;
}

.webinar .form-submit .wrap > .left{
    width: 620px;
}

.webinar .form-submit .wrap > .left section{
    margin-top:60px;
}

/* Section Webinar heading  */

.webinar section.main-form .wrap .heading{
    width: 100%;

}

.webinar section.main-form .wrap .heading h1{
    margin-top:20px;
}

.webinar section.main-form .wrap .heading p{
    margin-top:20px;
}


/* Section Webinar Speakers */

section.speakers h2{
    margin-bottom:50px;
}

section.speakers .item{
    width: 100%;
    margin-bottom:25px;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
}

section.speakers .item .desc{
    width: 460px;
    margin-left:30px;
}

section.speakers .item .desc h4{
    margin-bottom:10px;
}

section.speakers .item:last-of-type{
    margin-bottom:0px;
}

section.speakers .item .profile{
    width: 115px;
    height: 115px;
    border-radius: 255px;
    overflow:hidden;
}

section.list-included h2{
    margin-bottom:30px;
}

/* SECTION - date-announcement */

section.date-announcement{
    display:flex;
    flex-flow: row wrap;
    margin: 60px 0px 40px 0px;
    padding:40px;
    box-sizing: border-box;
}

section.date-announcement .item{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left:40px;
}

section.date-announcement .item:first-of-type{
    margin-left:0px;
}


section.date-announcement .item .desc{
    margin-left:20px;
}


/* SECTION - WEBINAR FORM ADJUSTMENTS */

.webinar section.main-form .wrap form {
    padding-bottom:130px;
}

.webinar section.main-form .wrap form .form-wrap > h3{
    text-align:center;
    margin-bottom:40px;
}


/* ===============
    ABM LANDING PAGE
=============== */

.abm .lp-header{
    display:none;
}
.abm .navbar{
    background: none !important;
}

.abm .navbar-brand{
    color:#fff !important;
}
.scrolled .navbar-brand{
    color:#505461 !important;
}
.abm section.sub-hero{
        background: url(../img/abm/natgeo/abm-natgeo-header.png) no-repeat top; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-top:-60px;
}
.abm section.sub-hero .full{
    display:flex;
    justify-content: center;
}
.abm section.sub-hero .wrap{
    padding: 120px 0px;
}

.abm section.sub-hero .wrap h1{
    margin-top:20px;
}

.abm section.sub-hero .full{
    padding:0px 20px;
    box-sizing: border-box;
}
.abm section.sub-hero .full img{
    width: 100%;
    max-width: 530px;
}

.abm section.sub-hero .wrap{
    background:none;
}

.abm header.lp-header .lp-nav .lp-cta{
    padding: 16px 20px !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    font-size:16px !important;
    margin-top:3px;
}

.abm header .navbar>.container .navbar-brand, header .navbar>.container-fluid .navbar-brand{
    margin-top:5px;
}

/* SECTION - CUSTOMERS-SIMPLE */
section.customers-simple .hex-bg-left-2x{
    width: 398px;
    height: 703px;
    top:-73px;
}
section.customers-simple .wrap{
    padding:60px 0px;
}
section.customers-simple .full{
    margin-bottom:20px;
    margin:0px auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
section.customers-simple .full img{
    margin:20px 30px;
}

section.customers-simple .heading-subsection-center{
    margin-bottom:80px;
}

/* SECTION - ABM MAIN-FORM */

.abm .main-form .hex-3-bg{
    max-height: 1031px;
    width: 900px;
    top: -268px;
}

/* SECTION - ABM MAIN-FORM  - ACCOUNT-BOX */

.main-form .account-box .desc{
    display:flex;
    flex-flow:row wrap;
    margin-top:40px;
    align-items: center;
}

.main-form .account-box .desc .img{
    border-radius:255px;
    width: 145px;
    height: 145px;
    overflow:hidden;
    margin-right:25px;
}
.main-form .account-box .desc .img img{
    width: 100%;
    height:auto;
}

.main-form .account-box .desc .text{
    width: 200px;
}
.main-form .account-box .desc .text p{
    margin-bottom:0px;
}
.main-form .account-box .contact-details{
    margin-top:30px;
}

.main-form .account-box .contact-details div{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:15px;
}
.main-form .account-box .contact-details div img{
    margin-right:15px;
}
.main-form .account-box .contact-details div p{
    margin-bottom:0px;
}
.main-form .account-box .contact-details .location img{
    margin-right:21px;
}
/* SECTION - CONTENT-BLOCK */

section.content-block .top-border{
    overflow:hidden;
    border-radius: 9px 9px 0px 0px;
}
section.content-block .bottom-border{
    overflow:hidden;
    border-radius: 0px 0px 9px 9px;
}
section.content-block .quote{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
}
section.content-block .quote .left{
    width: 50%;
    background:#F5F7FF;
    padding:40px;
    box-sizing: border-box;
    height: 300px;
}
section.content-block .quote .left img{
    margin:40px 0px 20px 0px;
}
section.content-block .quote > img{
    width: 50%;
    min-height:300px;
}


/* SECTION - EXPLORE */

section.content-block .explore{
    display:flex;
    flex-flow:row wrap;
} 
section.content-block .explore > div {
    display:flex;
    flex-flow:row wrap;
    width: 50%;
    height: 300px;
} 
section.content-block .explore .half-quote .desc{
    width: 50%;
    padding:25px;
    box-sizing: border-box;
    position:relative;
} 
section.content-block .explore .half-quote .desc h4{
    margin-bottom:20px;
}
section.content-block .explore .half-quote .desc .full{
    padding:25px;
    box-sizing: border-box;
    position:absolute;
    bottom:25px;
    left:0px;
    width: 100%;
}
section.content-block .explore .half-quote > img{
    width: 50%;
} 

section.content-block .explore > a{
    width: 50%;
}
section.content-block .explore > a:hover .bottom > img{
    right:0px;
}
section.content-block .explore article{
    margin:0px;
    width: 100%;
}

section.content-block .explore article{
    display:flex;
    flex-flow:row wrap;
}
section.content-block .explore article .content{
    width: 50%;
}
section.content-block .explore article > img{
    width: 50%;
}

section.content-block .explore article .content h4{
    margin-top:15px !important;
    min-height:150px;
}