
h1{
    font-family:'Rubik' !important;
    font-weight:500;
    font-size:44px !important;
    line-height:55px !important;
}

h2, h2 a{
    font-family:'Rubik' !important;
    font-weight:500;
    font-size:30px !important;
    line-height:44px !important;
}


h3, h3 a{
    font-family:'Rubik' !important;
    font-weight:500;
    font-size:24px !important;
    line-height:34px !important;
}


h4,th, h4 a{
    font-family:'Rubik' !important;
    font-size:22px !important;
    line-height:32px !important;
    font-weight:500;
}


h5, h5 a{
    font-family:'Rubik' !important;
    font-size:16px !important;
    line-height:22px !important;
    font-weight:400;
}


a,strong, a > p{
    font-family:'Karla' !important;
    font-weight:700 !important;
    font-size:18px !important;
    line-height:25px !important;
    text-decoration:none!important; 
}
.single-v3 .post-content p,.single-v3 .post-content li{
    line-height:28px;
}
blockquote strong{
    font-weight:400 !important;
}

blockquote strong em{
    font-weight:600 !important;
}

p,input,textarea,button,label,li,b{
    font-family:'Karla' !important;
    font-weight:400;
    font-size:18px !important;
    line-height:25px !important;
}

em{
    font-family:'Karla' !important;
    font-weight:400;
    font-style: italic;
    font-size:20px !important;
    line-height:28px !important;
}

.p-small, td{
    font-family:'Karla' !important;
    font-weight: 400;
    font-size:16px !important;
    line-height:23px !important; 
}

.accent-bold{
    font-family:'Rubik' !important;
    font-weight:500;
    font-size:16px !important;
}

.accent-bold-normal{
    font-family:'Rubik' !important;
    font-weight:500;
    font-size:18px !important;
}

span.accent{
    font-family:'Rubik' !important;
    font-weight:500;
}



footer p{
    font-size:13px !important;
}
footer a, .dropdown-menu a{
    font-size:16px !important;
}
footer .brand p{
    margin-top:0px !important;
}
header nav li a, .navbar-brand{
    color: #50545c !important;
}

footer .active a{
    color:#28D1B1 !important;
}

.strong{
    font-weight:700 !important;
}

section.testemonial .single em{
    font-size:26px !important;
    line-height:34px !important;
}



@media screen and (max-width: 808px) {
    h1{
        font-family:'Rubik' !important;
        font-weight: 500;
        font-size:35px !important;
        line-height:45px !important;
    }
}


/* SECTION OVERWRITES */

section.other ul li a p{
    font-weight:400 !important;
}