<div id="sidebar">
	<div class="recent">
		<div class="header">Recent releases</div>
		<div class="text">
		  <ul class="styled">{% for post in site.categories.Releases limit:5 %}<li><a href="{{ post.url }}">{% if post.title-short %}{{ post.title-short }}{% else %}{{ post.title }}{% endif %}</a></li>{% endfor %}</ul>
		</div>
	</div>

	<div class="categories">
		<div class="header">Categories</div>
		<div class="text">
		  <ul class="styled">
			{% assign cats = site.categories %}
			  {% if cats.first[0] == null %}
			    {% for category in cats %}
			      <li><a href="/blog/{{ category | replace: ' ', '-' }}">{{ category | capitalize }}</a> <span>({{ cats[category].size }})</span></li>
			    {% endfor %}
			  {% else %}
			    {% for category in cats %}
			      <li><a href="/blog/{{ category[0] | replace: ' ', '-' | downcase }}">{{ category[0] | capitalize }}</a> <span>({{ category[1].size }})</span></li>
			    {% endfor %}
			  {% endif %}
			{% assign cats = nil %}
		  </ul>
		</div>
	</div>
</div>
