<header>
    <div id="cookie" class="bg-primary-darker"></div>
    <nav class="lp-nav navbar navbar-default">
        <div class="navbar-bottom container text-center">
            <div class="navbar-header">
                <a href="{{ BASE_PATH }}/request-demo/" class="lp-cta btn btn-primary call-to-action" id="button-request-demo-header-page">Get
                    started</a>
                <a class="navbar-brand" href="/"><i class="i-logo-type"></i></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>

