---
layout: default
group: partners
title: Snowplow Partner Program | Help Your Customers Grow With Snowplow Insights
description: Looking for an advanced analytics consultancy to help with your data strategy? Learn more about connecting with a Snowplow Partner.
permalink: /partners/
class: white-heading  
assets:
  css: assets/css/snowplow.css
partners:
    - name: Tasman Analytics
      first: Tasman help mobile apps realise their full potential using advanced data analysis on top of the Snowplow Insights pipeline.
      content: They offer both tailored services and automated modules that you can plug into your existing Snowplow Insights platform.
      city: London, United Kingdom
      url: tasmananalytics.com
      logo: assets/img/partners/partners-revamp/companies/tasman-partners-logo.png
      logo-2x: assets/img/partners/partners-revamp/companies/tasman-partners-logo%402x.png
      logo-3x: assets/img/partners/partners-revamp/companies/tasman-partners-logo%403x.png
    - name: Big Tree Marketing
      first: Big Tree work with retailers to provide a holistic action plan based on your business, metrics, customers and goals.
      content: They work with your team to implement solutions, measure them, and grow your business where it counts, all built on top of Snowplow Insights.
      city: Iowa, United States of America
      url: bigtreeonline.com
      logo: assets/img/partners/partners-revamp/companies/bigtree-partners-logo.png
      logo-2x: assets/img/partners/partners-revamp/companies/bigtree-partners-logo%402x.png
      logo-3x: assets/img/partners/partners-revamp/companies/bigtree-partners-logo%403x.png
    - name: Poplin Data
      first: Poplin Data provides Snowplow Insights to high-growth businesses in Australia and beyond.
      content: Their mission is to unify your customer analytics so that you can focus on using data to drive insight, fast.
      city: Sydney, Australia
      url: poplindata.com
      logo: assets/img/partners/partners-revamp/companies/poplin-data-logo.png
      logo-2x: assets/img/partners/partners-revamp/companies/poplin-data-logo%402x.png
      logo-3x: assets/img/partners/partners-revamp/companies/poplin-data-logo%403x.png
    - name: i-spark
      first: i-spark helps businesses with an online ambition to grow with the use of insights from Snowplow data.
      content: They are specialists in collecting, combining, analysis and visualization of data, and offer tailor-made services for their clients including Snowplow Insights.
      city: Zevenhuizen, Netherlands
      url: i-spark.nl
      logo: assets/img/partners/partners-revamp/companies/ispark-partners-logo.png
      logo-2x: assets/img/partners/partners-revamp/companies/ispark-partners-logo%402x.png
      logo-3x: assets/img/partners/partners-revamp/companies/ispark-partners-logo%403x.png

---

<section class="hero-revamp" style="background-image: url({{ BASE_PATH }}/assets/img/partners/partners-revamp/spw-partners-header@3x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h2>Make your Snowplow Insights experience the best it can be</h2>
                <h5>Work with one of our partners to leverage our enterprise-grade platform and their domain expertise.</h5>
            </div>
        </div>
    </div>
</section>

<section class="section-revamp bg-primary-lighter revamp-side-by-side-section">
    <div class="container">
        {% for partner in page.partners %}
            <div class="row">
                {% assign mod = forloop.index | modulo: 2 %}
                <div class="col-sm-12 revamp-side-by-side-block {% if mod != 0 %} _invert {% endif %}">
                    <div class="revamp-side-by-side-content">
                        <h3>{{ partner.name }}</h3>
                        <h5 class="spacer-bottom-30">{{ partner.first }}</h5>
                        <p class="revamp-side-by-side-content-content">{{ partner.content }}</p>
                        <div class="revamp-side-by-side-content-wrapper">
                            <p class="revamp-side-by-side-content-location">
                                <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 384 512" style="enable-background:new 0 0 384 512;" xml:space="preserve"> <style type="text/css"> .st0{fill:#9e62dd;} </style> <path class="st0" d="M172.3,501.7C27,291,0,269.4,0,192C0,86,86,0,192,0s192,86,192,192c0,77.4-27,99-172.3,309.7 C202.2,515.4,181.8,515.4,172.3,501.7L172.3,501.7z M192,272c44.2,0,80-35.8,80-80s-35.8-80-80-80s-80,35.8-80,80S147.8,272,192,272 z"/> </svg> {{ partner.city }}
                            </p><br>
                            <a href="//{{ partner.url }}" target="_blank" class="revamp-side-by-side-content-link">{{ partner.url }}</a>
                        </div>
                    </div>
                    <div class="revamp-side-by-side-logo">
                        <img src="{{ BASE_URL }}/{{partner.logo}}" srcset="{{ BASE_URL }}/{{partner.logo-2x}} 2x, {{ BASE_URL }}/{{partner.logo-3x}} 3x" alt="{{ partners.name }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>



{% include request-demo-revamp.html %}
