---
# comment to ensure Jekyll properly reads file.
---

/*
 * DEPENDENCIES
 */



/*!
 * Snowplow v0.0.1 (https://github.com/snowplow/snowplow.github.com)
 * COMMUNITY FILE
 */

/*
 * CONFIGURATION
 */

@import "snowplow/_variables";

/*
 * STYLES
 */

.grid {
    padding: 0;
    margin: 0 auto 100px auto;
    max-width: 1100px;

    @media screen and (max-width: 1100px) {
        max-width: 970px;
    }

    @media screen and (max-width: 970px) {
        max-width: 750px;
    }

    .grid-sizer {
        width: calc((100% - 20px) / 3);
        
        @media screen and (max-width: 970px) {
            width: calc((100% - 10px) / 2);
        }

        @media screen and (max-width: 578px) {
            width: 100%;
        }
    }

    .grid-item {
        color: white;
        border: 0;
        padding: 60px;
        width: calc((100% - 20px) / 3);
        max-width: 100%;
        height: 360px;
        line-height: 1em;

        @media screen and (max-width: 1100px) {
            padding: 60px 30px;
        }
        
        @media screen and (max-width: 970px) {
            width: calc((100% - 10px) / 2);
        }

        @media screen and (max-width: 578px) {
            width: 100%;
            height: auto;
        }

        img {
            display: block;
            margin-bottom: 30px;
        }

        &.github, &.grid-item--width2 {
            padding-right: 18%;
            width: calc((100% - 20px) * (2 / 3) + 10px);
            background: url(../img/community/community-github-bg.png) bottom right no-repeat #1e2128;

            @media screen and (max-width: 970px) {
                width: calc((100% - 10px) / 2);
                padding-right: 30px;
                height: 730px;

                .btn {
                    left: 30px;
                    bottom: 60px;
                    position: absolute;
                }
            }

            @media screen and (max-width: 578px) {
                width: 100%;
                height: auto;

                .btn {
                    position: static;
                }
            }

            img {
                width: 100%;
                max-width: 312px;
            }
        }

        &.meetup {
            height: 730px;
            position: relative;
            background: url(../img/community/community-meetup-bg.png) bottom center no-repeat #bebec2;

            .btn {
                left: 60px;
                bottom: 30px;
                position: absolute;
            }
            @media screen and (max-width: 970px) {
                .btn {
                    left: 30px;
                    bottom: 60px;
                    position: absolute;
                }
            }
        }

        &.blog {
            background-color: #2c54ff;
            background-image: url(/assets/img/community/bg-pattern-wire.png);
        }

        &.discourse {
            background-color: #f0667f;
        }

        .btn {
            margin-top: 40px;
            border: 1px solid white;

            &:hover,
            &:focus {
                color: black;
                background: white;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

}

.newsletter{
    .newsletter-box{
        border: 1px solid #6737b81c;
        padding: 29px;
    }

    .newsletter button.btn.btn-primary {
        height: 49.9px;
    }
}

.g-recaptcha {
  margin: 10px auto;
  width: 304px;
}