---
# comment to ensure Jekyll properly reads file.
---
@charset "utf-8";

/*
 * DEPENDENCIES
 */

@import "vendors/common/icomoon/_style";


/*!
 * Snowplow v0.0.1 (https://github.com/snowplow.github.com)
 */

/*
 * CONFIGURATION
 */

@import "snowplow/_variables";


/*
 * STYLES
 */

@import "snowplow/_colors";
@import "snowplow/_discourse.typography";
@import "snowplow/_form";



/*
 * OVERRIDES
 */

html, body
{
    background: $white;
    color:$gray-dark;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




a {
    color: $brand-primary;

    &.mention,
    &.mention-group {
        font-weight: lighter;
    }
}




h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

b, strong {
    font-weight: 400;
}



ol {
    &.category-breadcrumb {
        li {
            border-radius: $border-radius-small;
            overflow: hidden;

            a {
                padding: 10px 20px !important;
            }
        }
    }
}



.d-header {
    background: $brand-primary!important;
    box-shadow: none;

    .title {
        margin-top: 8px;
    }

    #site-logo {
        max-height: 20px;
    }

    .icons {
        .icon {
            border:0;
            background: none;
            margin-right: 22px;

            [class^="fa fa-"] {
                width: 20px;
                height: 20px;
                color: white;
                font-size: 1.2em;
            }

            &:hover,
            &:focus {
                border:0;
                color:white;
                background:none;
            }
        }
    }
}

.drop-down-visible {
    .d-header {
        .icons {
            .active {
                .icon {
                    border:0;
                    color:white;
                    background:none;
                }
            }
        }
    }
}




.menu-panel {
    &.drop-down {
        border-radius: 3px;
        box-shadow: none;
        padding: 20px;
    }
}




.list-controls {

    margin: 30px 0;

    .btn {
        color:white;
        font-size: 13px;
        padding: 10px 14px;
        background: $brand-success;

        i.fa {
            opacity: 1;
        }
    }

    .category-dropdown-menu {
        .cat {
            padding: 5px 8px;
        }
    }
}





.btn {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: $border-radius-small;
}

.btn-primary {
    background: $brand-primary;
}




.list-controls {
     .category-dropdown-menu {
        a {
            &.home {
                font-weight: 100;
            }
            &.badge-category {
                padding: 15px 0 5px;
                font-weight: 100;
                text-transform: uppercase;
                font-weight: 100;
                text-transform: capitalize;
            }
        }
     }
}





.nav-pills {
    >li {
        >a {
            color: white;
            font-size: 14px;
            padding: 10px 14px;
            transition: all .3s;
            background: $brand-primary!important;
            border-radius: $border-radius-small;

            &:hover,
            &:focus {
                color: white;
                background: $brand-primary-brighter!important;
            }
        }
    }
}






.topic-list {

    >tbody {
        >tr {
            transition: background .3s;

            &:nth-child(even) {
                background: #f0f2f5;
            }

            &:hover {
                background: #f0e7ff;
            }
        }
    }

    th, td {
        padding: 20px 10px;
        vertical-align: top;
    }

    .topic-excerpt {
        color: black;
    }

    .main-link {
        font-size: 1em;
    }

    a {
        &.title {
            color:black;
        }   
    }

    .num {
         a {
            &.badge-posts {
                font-weight: lighter;
            }
         }
    }
}

.dropdown-menu {
    box-shadow: none;
    border: 1px solid #e9e9e9;
    padding: 0.25em 0.5em;
    border-radius: $border-radius-small;

    span {
        &.title {
            font-weight: lighter;
        }
    }

    li>a:hover,
    .active>a,
    .active>a:hover
    {
        background-color: $brand-primary-brighter;

        .icon {
            color:white;
        }

        span {
            color:white;
        }

        .title {
            color:white;
        }
    }
}





.badge-wrapper {
    font-weight: lighter;
    text-transform: uppercase;
}


#topic-title {
    padding-top: 34px;
    margin-bottom: 40px;
}

.topic-body {
    line-height: 1.6em;
    padding: 30px 11px 15px 11px;
}


.badge-wrapper {
    &.bullet {

        .badge-category-parent-bg,
        .badge-category-bg {
            border-radius: 50%;
            width: 10px!important;
            height: 10px!important;
        }
    }    
}



nav {
    &.post-controls {
        button {
            &.widget-button {
                border-radius: $border-radius-small;
            }
        }
    }
}


.topic-map {
   border-radius: $border-radius-small;
}




.categories-and-latest {
     .topic-list-latest {
         th {
            &.latest {
                line-height: 1;
                padding: 14px 5px;
            }
         }
     }
}



aside {
    &.quote {
        blockquote {
            margin:0;
        }
    }
}






/**
 * ADMIN
 */

.admin-nav {
    li {
        a {
            &.active {
                background: $brand-primary;
            }
        }
    }
}