---
layout: default
group: customers
title: Our Customers are Smart | Snowplow
description: Our Customers are diverse but have a lot in common, though. They are smart. They love data. And they want to use data to differentiate. Find out how we helped!
permalink: /customers/
class: customers, header-white

---

<section class="hero">
    <div class="container text-center">
        <h1 class="text-brand-light">Using data to differentiate.</h1>
        <p class="text-muted">Find out how Snowplow enables Smart People to be transformative with data.</p>
    </div>
</section>




<section class="window">
    <div class="box-image parallax">
        <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_Customers_Hero.jpg" width="1440" height="1220" class="adapt" alt="">
    </div>
</section>


<section class="users">
    <div class="container">
        <h2 class="text-center">Our Users</h2>
        <p class="text-muted text-center">Priberam sit conectum virboratem juris domun saet nonclosuri. Aesteto guntinuum.</p>
        <div class="users-block-container">
            {% for user in site.data.users %} 
                <a href="{{ user.link }}" target="_blank" class="users-block">
                    <span class="highlight"></span>
                    <div class="img" style="background-image: url({{ user.picture }});"></div>
                </a> 
            {% endfor %}
        </div>
        <div class="text-center snowplw-btn-container">
            <div class="snowplw-btn-sides left"></div>
            <div class="snowplw-btn" id="btn_users">
                Load More Users
            </div>
            <div class="snowplw-btn-sides right"></div>
        </div>       
    </div>
</section>




<section class="pad-b-20">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-center text-sm-center text-xs-center">
                <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_Customers_Img1.jpg" class="img-circle" width="493" height="493" class="" alt="">
            </div>
            <div class="col-md-6 lg-spacer-top-100 spacer-top-50 xs-spacer-top-100">
                <div class="text-left">
                    <h3>Our users love data and want to use it to differentiate.</h3>
                    <p>There are many digital analytics solutions out there. Many are easier to use than Snowplow. But none of them give you the control of your data that Snowplow does.</p>
                    <p>Our users want to be transformative with data. That is why they value that control.</p>
                </div>
            </div>
        </div>
    </div>
</section>




<section>
    <div class="container text-center">
        <h2 class="text-brand-light">Our users are Smart.</h2>
        <p>They have to be. Using data to be transformative is hard. Our technology can help you take control of your data. But only smart people in smart teams can use that control to be transformative.</p>
    </div>
</section>




<section class="bg-primary-lighter">
    <div class="container spacer-bottom-100">
        <div class="col-md-6 pull-right">
            <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_Customers_SimplyBusiness.jpg" width="720" height="600" class="" alt="">
        </div>
        <img src="/assets/img/common/comp-1.jpg" srcset="/assets/img/common/comp-1@2x.jpg 2x" class="comp-1">
        <div class="silver-square"></div>
        <img src="/assets/img/common/comp-2.png" srcset="/assets/img/common/comp-2@2x.png 2x" class="comp-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 differentiate-content right">
                    <h3>
                        Our Users love data
                        <br>
                        and want to use it to 
                        <br>
                        differentiate.
                    </h3>
                    <p>
                        There are many digital analytics solutions out there. Many are easier to use than Snowplow. But none of them give you the control of your data that Snowplow does.
                        <br>
                        Our users want to be transformative with data. That is why they value that control.
                    </p>
                </div>
            </div>
        </div>        
        <div class="container">
            <img src="/assets/img/common/comp-3.png" srcset="/assets/img/common/comp-3@2x.png 2x" class="comp-3">
            <div class="differentiate-content center">
                <h2 class="text-center">Our Users are smart.</h2>
                <p class="text-muted text-center">
                    They have to be. Using data to be transformative is hard. 
                    <br>
                    Our technology can help you take control of your data. 
                    <br>
                    But only smart people in smart teams can use that control to be transformative.
                </p>
                <a href="/customers/simply-business/" class="btn btn-outline-primary spacer-top-20">Explore Case Study</a>
            </div>
        </div>
    </div>
    
    <div class="container visible-xs">
        <h2 class="text-center">Using data to differentiate.</h2>
        <p class="text-muted text-center">Find out how Snowplow enables Smart People to be transformative with data.</p>
        <div class="row visible-xs">
            <img src="/assets/img/common/comp-1.jpg" srcset="/assets/img/common/comp-1%402x.jpg 2x" class="comp-1-mob img-responsive">
        </div>
        <div class="col-md-6 xs-pad-t-20 sm-pad-t-20">
            <div class="text-left pad-l-30 xs-pad-l-0 sm-pad-l-0">
                <h5 class="text-uppercase spacer-bottom-30">Media</h5>
                <h3>JustWatch</h3>
                <h4>JustWatch use Snowplow to build a differentiated service for advertising movies, driving spectacular growth.</h4>
                <p class="quote">"Snowplow enabled us to build a sophisticated audience intelligence and double the efficiency of campaigns."</p>
                <p>
                    <cite>
                        <small>Dominik Raute, Co-Founder & CTO</small>
                    </cite>
                </p>
                <a href="/customers/justwatch/" class="btn btn-outline-primary spacer-top-20">Explore Case Study</a>
            </div>
        </div>
    </div>
    
    <div class="container spacer-bottom-100">
        <div class="col-md-6 pull-right">
            <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_Customers_Peak.jpg" width="720" height="600" class="" alt="">
        </div>
        <div class="col-md-6 pull-left xs-pad-t-20 sm-pad-t-20">
            <div class="text-left pad-r-30 xs-pad-r-0 sm-pad-r-0">
                <h5 class="text-uppercase spacer-bottom-30">Gaming</h5>
                <h3>Peak</h3>
                <h4>Peak uses Snowplow to build award winning games and make people smarter.</h4>
                <p class="quote">"Snowplow is really powerful when you start to hit that growth curve and going upwards."</p>
                <p>
                    <cite>
                        <small>Thomas in’t Veld, Lead Data Scientist</small>
                    </cite>
                </p>
                <a href="/customers/peak/" class="btn btn-outline-primary spacer-top-20">Explore Case Study</a>
            </div>
        </div>
    </div>
    
    <div class="container spacer-bottom-100">
        <div class="col-md-6">
            <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_Customers_ViewBix.jpg" width="720" height="600" class="" alt="">
        </div>
        <div class="col-md-6 xs-pad-t-20 sm-pad-t-20">
            <div class="text-left pad-l-30 xs-pad-l-0 sm-pad-l-0">
                <h5 class="text-uppercase spacer-bottom-30">Ad Tech</h5>
                <h3>Viewbix</h3>
                <h4>Viewbix uses Snowplow to help brands create highly engaging video ad campaigns and improve return on advertising spend.</h4>
                <p class="quote">"When we can show a customer that 95% of actions taken during a video happen between 0:30 and 0:35 seconds in, we have provided amazing value."</p>
                <p>
                    <cite>
                        <small>Dani Waxman, Product Manager</small>
                    </cite>
                </p>
                <a href="/customers/justwatch/" class="btn btn-outline-primary spacer-top-20">Explore Case Study</a>
            </div>
        </div>
    </div>

    <div class="container spacer-bottom-70">
        <div class="col-md-6 pull-right">
            <img src="{{ BASE_PATH }}/assets/img/common/Snowplow_Website-Images_Cases_Customers_Picnic.jpg" width="720" height="600" class="" alt="">
        </div>
        <div class="col-md-6 pull-left xs-pad-t-20 sm-pad-t-20">
            <div class="text-left pad-r-30 xs-pad-r-0 sm-pad-r-0">
                <h5 class="text-uppercase spacer-bottom-30">Online Retail</h5>
                <h3>Picnic</h3>
                <h4>Picnic uses Snowplow to deliver users with a smart, data-driven shopping experience.</h4>
                <p class="quote">“The Snowplow framework has become an important data analytics tool, indispensable in understanding the Picnic app usage and allowing us to focus on the most impactful features”</p>
                <p>
                    <cite>
                        <small>Dimitar Nedev, Data Infrastructure Lead</small>
                    </cite>
                </p>
                <a href="/customers/picnic/" class="btn btn-outline-primary spacer-top-20">Explore Case Study</a>
            </div>
        </div>
    </div>

</section>



<section class="no-margin no-padding">
    <div class="container pad-t-40">
        {% include request-demo.html %}
    </div>
</section>



{% include testimonials.html id="eric" %}
