---
layout: blog
group: blog
pagination: 
  enabled: true
title: Latest news
description: Latest news from the Snowplow team
permalink: /blog/
class: blog header-white
---

<section class="col-md-9">
    <div class="content">
    {% for post in paginator.posts %}
        <article>
            <h2 class="no-margin"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="datebox">{{ post.date | date_to_long_string }}{% for author in site.data.authors %}{% if author.name == post.author %}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="{{ author.url }}">{{ author.full_name }}</a>{% endif %}{% endfor %}</div>
            <div class="content">{{ post.content | strip_html | truncatewords:75 }}</div>
            <div class="continue">
                <a href="{{ post.url }}">Continue reading</a>
            </div>
        </article>
    {% endfor %}
    </div>
     
    {% if paginator.total_pages > 1 %}
    <div class="spacer-top-100">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="btn btn-primary next">Older</a>
    {% endif %} {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="btn btn-primary prev">Newer</a>
    {% endif %}
    </div>
    {% endif %}
</section>

<!--
    SIDEBAR
-->
<aside class="col-md-3">
    <div>{% include blog/sidebar.html %}</div>
</aside>