---
layout: default-revamp
group: data
# subgroup: snowplow-insights
title: Snowplow Data Richness | 130 Data Points per Event
description: Snowplow is the only data collection platform tracking 130 data points per event. Plus your data is enriched with additional information, in real-time. 
permalink: /data-richness/
class: data-richness
assets:
  css: assets/css/snowplow.css
blocks:
    - icon: /assets/img/data/insights-data_richness_1.svg
      title: More data per event
      first: Snowplow automatically tracks rich, contextual information with your events.
      content: Every web event comes with a standard of 130 data points such as device information, scroll depth, link clicks, referrer and campaign data, etc.. For the full list of built-in data points, see our <a href="https://github.com/snowplow/snowplow/wiki/canonical-event-model" target="_blank">documentation</a>.
    - icon: /assets/img/data/insights-data_richness_2.svg
      title: Flexible, extendable,<br>limitless data structures
      first: You can track as many entities and contexts with each event, with as many data points per entity and context as you like.
      content: That means you can not only track that a user played a video, but track rich information about the video itself, the player it is played in, the user who pressed play, the location of the player (e.g. web page or app), the location of the user and any other contextual information you desire.
    - icon: /assets/img/data/insights-data_richness_3.svg
      title: Events are enriched
      first: Not all the data that describes an event is available at the moment that event occurs.
      content: The Snowplow enrichment module means that additional data points can be added to each event, in real-time, from 1st and 3rd party data sets. A complete overview of our enrichments can be found in our <a href="http://docs.snowplowanalytics.com/snowplow-insights/enrichments/" target="_blank">documentation</a>.
cards:
    - title: <a href="/blog/2019/02/05/how-server-side-tracking-fills-holes-in-your-data-and-improves-your-analytics/">How server-side tracking fills holes in your data and improves your analytics</a>
      content: Exclusively using client-side tracking does have limitations. We work with customers who want to do sophisticated digital analytics with their data. Many companies simply aren’t aware of the server-side option, so default to tracking everything client-side which can lead to pretty unusual behavior.
      url: /blog/2019/02/05/how-server-side-tracking-fills-holes-in-your-data-and-improves-your-analytics/
    - title: <a href="/blog/2018/03/16/using-snowplow-for-marketing-data-analytics/">Using Snowplow for marketing data analytics</a>
      content: Today in the world of digital marketing, not only do we have the ability to more accurately track the direct performance of a given marketing campaign, we have the responsibility to do so. Marketing success has transformed from a given into a set of complicated, multi-layered questions to which the answers are not always clear.
      url: /blog/2018/03/16/using-snowplow-for-marketing-data-analytics/
    - title: '<a href="/blog/2018/02/08/warehousing-google-analytics-data-api-vs-hit-level-data/">Warehousing Google Analytics data: API vs hit-level data</a>'
      content: If you want to combine behavioral data from the web with other data sets, such as customer data from a CRM system, product data from a merchandising system, or content data from a CMS, it can be incredibly difficult (if not impossible) without a highly experienced developer.
      url: /blog/2018/02/08/warehousing-google-analytics-data-api-vs-hit-level-data/


---
            <!--
                MAIN AREA
            -->

<section class="jumbotron theme-light" style="background-image: url({{ BASE_PATH }}/assets/img/data/data-richeness-hero.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <h1>More data points,<br>better decisions.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <h4>Snowplow is built to deliver rich, contextual data<br>sets with the level of granularity you need.</h4>
            </div>
        </div>
    </div>
</section>

<!--
    Blocks
 -->

<section class="section-revamp data-blocks-section">
    <div class="container">
      <div class="row text-center">
        <h2 class="spacer-bottom-30">Data Richness</h2>
      </div>
      <div class="row">
        <div class="data-blocks-container">
            <!-- For invert the items. Do not delete -->
            <div class="data-blocks-item row" style="display: none;margin-bottom: 0;"></div>
            <!-- end -->
            {% for block in page.blocks %}
                <div class="data-blocks-item row">
                    <div class="col-sm-5 data-blocks-item-content">
                        <h3>{{ block.title }}</h3>
                        <h5 class="spacer-bottom-30">{{ block.first }}</h5>
                        <p>{{ block.content }}</p>
                    </div>
                    <div class="col-sm-6 data-blocks-item-pic">
                        <img src="{{ BASE_PATH }}{{ block.icon }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
      </div> 
    </div>
</section>

<!--
    Cards
 -->

<section class="section-revamp data-cards-section bg-primary-lighter pad-t-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>From the Snowplow blog</h3>
            </div>
        </div>
        <div class="row">
            <div class="data-cards-container">
                {% for card in page.cards %}
                    <div class="data-cards-item-white">
                        <h4>{{ card.title }}</h4>
                        <p>{{ card.content }}</p>
                        <a class="link" href="{{ BASE_PATH}}{{ card.url }}"> Read article</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
