---
layout: default
group: products
subgroup: snowplow-react
title: Snowplow React - Act Across all Channels | Snowplow
description: Build your own audience segments, based on your own data. Use Snowplow React and publish personlized content to each segments across different channels!
permalink: products/snowplow-react/
class: react
assets:
  css: assets/css/products-react.css
---

            <section class="hero theme-light bg-info" style="background-image: url({{BASE_PATH}}/assets/img/products/bg-symbol.png)">
                <div class="container text-center spacer-30">
                    <h5 class="text-uppercase spacer-bottom-30">Our Products</h5>
                    <h1 class="text-uppercase md-spacer-top-50"><i class="i-logo-type"></i>React<span>BETA</span></h1>
                    <h3>Act on your data, in real-time, across all channels.</h3>
                </div>
            </section>


            <section>
                <div class="container text-center">
                    <div class="col-md-12">
                        <h3>From Insight to Action. In real-time.</h3>
                        <p>Build your own audience segments, based on your own data, collected across all platforms and channels, with Snowplow Insights. Use Snowplow React to publish those segments to the different channels you engage with your users and personalize your communication and content based on them. Use your centrally developed intelligence to optimize all your service and communication across all channels in a joined-up way.</p>
                        <p>Act on your data, and your intelligence, in real-time.</p>
                    </div>
                    <div class="col-md-12">
                        <img src="{{ BASE_PATH }}/assets/img/products/react/Snowplow_Website-Product-React_Infographics_Pipeline.svg" width="1056" height="1056" alt="Snowplow React Pipeline">
                    </div>
                </div>
            </section>


            <section class="bg-primary-lighter text-center data-collection">
                <h3>Act On Your Data In Real-time</h3>
                <h5 class="spacer-bottom-70">What is it that makes acting on your data, in real-time, so hard?</h5>
                <div class="container">
                    <div class="col-sm-4 pad-l-30 pad-r-30">
                        <img src="{{ BASE_PATH }}/assets/img/products/react/Snowplow_Website-Product_Icon_React-MultiPlatform.svg" class="pad-b-30"  width="80%" />
                        <h4>Multiple platforms</h4>
                        <small>You engage with your users across multiple platforms and channels. So you need to react to your users, coherently, across all those platforms and channels.</small>
                    </div>
                    <div class="col-sm-4 xs-pad-t-70 pad-l-30 pad-r-30">
                        <img src="{{ BASE_PATH }}/assets/img/products/react/Snowplow_Website-Product_Icon_React-Multi3Party.svg" class="pad-b-30" width="80%" />
                        <h4>Third party APIs</h4>
                        <small>It is products to use multiple third party SaaS providers to manage marketing channels like email, push, display ads etc. Personalizing a user experience across all of them means working with multiple different APIs and protocols, which creates significant technical overhead.</small>
                    </div>
                    <div class="col-sm-4 xs-pad-t-70 pad-l-30 pad-r-30">
                        <img src="{{ BASE_PATH }}/assets/img/products/react/Snowplow_Website-Product_Icon_React-Speed.svg" class="pad-b-30" width="80%" />
                        <h4>Response speed</h4>
                        <small>The faster you react to an insight e.g. that a user is at risk of churning, the more likely that reaction is to be successful. But reacting in real-time is not technically simple.</small>
                    </div>
                </div>
            </section>



            <section class="xs-pad-b-100">
                <div class="container spacer-bottom-100">
                    <div class="text-center">
                        <h5 class="text-uppercase spacer-bottom-30">features</h5>
                        <h3>Use your data and intelligence to personalize your service and communication across all your channels and platforms.</h3>
                        <p>Snowplow Insight gives you control over the intelligence you build on your data, so you can act on that intelligence consistently across different channels and platforms.</p>
                        <div>
                            <div class="text-left grid js-masonry spacer-top-100 sm-spacer-top-25 xs-spacer-top-10" data-masonry-options='{ "itemSelector": ".grid-item", "gutter": 10 }'>
                                <div class="grid-item">
                                    <h5 class="text-uppercase">Take control of your data and the intelligence built on that data.</h5>
                                    <ul class="styled">
                                        <li>You own the intelligence built on your data</li>
                                        <li>You define your own rules for how to tailore your service and communication based on that intelligence.</li>
                                        <li>You decide what audience segments you want to build and the logic for building them.</li>
                                        <li>You decide which channels and platforms to push those segments to.</li>
                                    </ul>
                                </div>
                                <div class="grid-item">
                                    <h5 class="text-uppercase">Optimize your customer's journey across all marketing channels.</h5>
                                    <ul class="styled">
                                        <li>Company's typically optimize each channel based on the data from just that channel. E.g. they optimize emails based on data about how user's responded to previous emails, and ignore any other data about who those users are and where they are in their customer lifecycles.</li>
                                        <li>Snowplow React enables you to use the intelligence you build, based on data collected across all channels, to personalize and tailor the communication and service you provide across all the channels you engage your users with.</li>
                                        <li>Provide a joined up, coherent, personalized experience to each of your users, across all platforms and channels.</li>
                                    </ul>
                                </div>
                                <div class="grid-item grid-fill-light">
                                    <h5 class="text-uppercase">Real-time.</h5>
                                    <ul class="styled">
                                        <li>Act on your data in real-time.</li>
                                        <li>Strike whilst the iron is still hot, for maximum impact.</li>
                                    </ul>
                                </div>
                                <div class="grid-item">
                                    <h5 class="text-uppercase">Scalable.</h5>
                                    <ul class="styled">
                                        <li>Manage interactions with hundreds of millions of users across tens of platforms and channels, without breaking a sweat.</li>
                                    </ul>
                                </div>
                                <div class="grid-item grid-fill-light">
                                    <h5 class="text-uppercase">Experts at using data to drive business value.</h5>
                                    <ul class="styled">
                                        <li>Work with our data engineering and data analytics services teams to build real-time data-driven processes that delight your customers and differentiate your service</li>
                                    </ul>
                                </div>
                                <div class="grid-item grid-fill-light">
                                    <h5 class="text-uppercase">Be part of our community of Data Sophisticated Companies</h5>
                                    <ul class="styled">
                                        <li>Join an active and growing community of some of the Smartest People in Data, working across thousands of companies running Snowplow technology.</li>
                                    </ul>
                                </div>
                                <div class="grid-item grid-fill-light">
                                    <h5 class="text-uppercase">Cost effective</h5>
                                    <ul class="styled">
                                        <li>We are orders of magnitude cheaper than our competitors.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="jumbotron theme-light no-vertical-gutter height-auto parallax" style="background-image:url({{BASE_PATH}}/assets/img/customers/case-studies/simply-business/Snowplow_Website-Images_Cases_SimplyBusiness_Hero.jpg)">

                <div class="container">

                    {% include request-demo.html %}

                    <div class="spacer-top-100">
                        <h6 class="text-uppercase">Our case Studies</h6>
                        <h3>Simply Business</h3>
                        <h4>We empower analysts, engineers, product <br class="visible-lg" />managers, marketers, operations and other <br class="visible-lg" />specialists to use digital event data.</h4>
                        <a href="/customers/simply-business/" class="btn btn-primary spacer-top-70">See Case Study</a>
                    </div>
                </div>
            </section>



            {% include testimonials.html id="rob" %}
