---
layout: default
group: integrations
title: Snowplow Integrations | Snowplow Sources and Destinations
description: Snowplow integrates with your preferred sources and destinations so you can focus on building the applications that matter to your business.
permalink: /integrations/
class: integrations
assets:
  css: assets/css/integrations-revamp.css
  js: assets/js/integrations-revamp.js
integrations-sources:
  - name: Website
    items:
      - name: JavaScript
        icon: /assets/img/integrations/sources/java-script@3x.png
        icon-h: 53px
      - name: Google AMP
        icon: /assets/img/integrations/sources/google-amp@3x.png
        icon-h: 58.5px
      - name: Pixel
        icon: /assets/img/integrations/sources/fb-pixel@3x.png
        icon-h: 53.5px
      - name: Action Script
        icon: /assets/img/integrations/sources/actionscripticon@3x.png
        icon-h: 81.5px
      - name: Google Analytics
        icon: /assets/img/integrations/logos/ga.png
        icon-h: 100px
      - name: Optimizely
        icon: /assets/img/integrations/logos/optimizely.png
        icon-h: 40px
      - name: Olark
        icon: /assets/img/integrations/logos/olark.png
        icon-h: 53.5px
      - name: Unbounce
        icon: /assets/img/integrations/logos/unbounce.png
        icon-h: 100px
  - name: Mobile
    items:
      - name: iOS
        icon: /assets/img/integrations/sources/i-os@2x.png
        icon-h: 55.5px
      - name: Android
        icon: /assets/img/integrations/sources/android@3x.png
        icon-h: 55.5px
      - name: React Native
        icon: /assets/img/integrations/sources/reactjs.png
        icon-h: 55.5px
      - name: Appsflyer
        icon: /assets/img/integrations/logos/appsflyer.png
        icon-h: 45px
      - name: Branch
        icon: /assets/img/integrations/logos/branch.png
        icon-h: 40px
      - name: Adjust
        icon: /assets/img/integrations/logos/adjust.png
        icon-h: 40px
      - name: Optimizely
        icon: /assets/img/integrations/logos/optimizely.png
        icon-h: 40px
      - name: Airship
        icon: /assets/img/integrations/logos/airship.png
        icon-h: 100px
  - name: Server
    items:
      - name: C++
        icon: /assets/img/integrations/sources/c@3x.png
        icon-h: 56.5px
      - name: Golang
        icon: /assets/img/integrations/sources/golang@3x.png
        icon-h: 37.5px
      - name: Java
        icon: /assets/img/integrations/sources/java@3x.png
        icon-h: 77px
      - name: Lua
        icon: /assets/img/integrations/sources/lua@3x.png
        icon-h: 60px
      - name: .NET
        icon: /assets/img/integrations/sources/net@3x.png
        icon-h: 53.5px
      - name: node.js
        icon: /assets/img/integrations/sources/nodejs@3x.png
        icon-h: 53px
      - name: PHP
        icon: /assets/img/integrations/sources/php@3x.png
        icon-h: 66.5px
      - name: Python
        icon: /assets/img/integrations/sources/phyton@3x.png
        icon-h: 53px
      - name: Ruby
        icon: /assets/img/integrations/sources/ruby-logo@3x.png
        icon-h: 50.5px
      - name: Scala
        icon: /assets/img/integrations/sources/scala@3x.png
        icon-h: 44.7px
  - name: Email
    items:
      - name: Mailchimp
        icon: /assets/img/integrations/sources/mailchimp@3x.png
        icon-h: 56.5px
      - name: Mandrill
        icon: /assets/img/integrations/sources/mandrill@3x.png
        icon-h: 54px
      - name: Mailgun
        icon: /assets/img/integrations/sources/mailgun@3x.png
        icon-h: 58.5px
      - name: SendGrid
        icon: /assets/img/integrations/sources/sendgrid@3x.png
        icon-h: 72.5px
      - name: Marketo
        icon: /assets/img/integrations/sources/marketo@3x.png
        icon-h: 35.5px
      - name: Vero
        icon: /assets/img/integrations/logos/vero.png
        icon-h: 40px
  - name: Game
    items:
      - name: Unity
        icon: /assets/img/integrations/sources/unity@3x.png
        icon-h: 44.5px
      - name: Action Script
        icon: /assets/img/integrations/sources/actionscripticon@3x.png
        icon-h: 81.5px
      - name: iOS
        icon: /assets/img/integrations/sources/i-os@2x.png
        icon-h: 55.5px
      - name: Android
        icon: /assets/img/integrations/sources/android@3x.png
        icon-h: 55.5px
  - name: IoT
    items:
      - name: Arduino
        icon: /assets/img/integrations/sources/arduino@3x.png
        icon-h: 50px
  - name: DevOps
    items:
      - name: Statusgator
        icon: /assets/img/integrations/logos/statusgator.png
        icon-h: 26px
      - name: PagerDuty
        icon: /assets/img/integrations/logos/pagerduty.png
        icon-h: 27px
      - name: Pingdom
        icon: /assets/img/integrations/logos/pingdom.png
        icon-h: 50px
  - name: Other
    items:
      - name: CallRail
        icon: /assets/img/integrations/logos/callrail.png
        icon-h: 40px
      - name: Zendesk
        icon: /assets/img/integrations/logos/zendesk.png
        icon-h: 60px
      - name: Generic Webhook
        icon: /assets/img/integrations/logos/webhook.png
        icon-h: 50px
integrations-destinations:
  - name: Options for data consumption (AWS)
    items:
      - name: AWS Kinesis
        icon: /assets/img/integrations/destinations/kinesis@3x.png
        icon-h: 55.5px
      - name: AWS Lambda
        icon: /assets/img/integrations/destinations/lambda@3x.png
        icon-h: 55px
      - name: Apache Spark
        icon: /assets/img/integrations/destinations/apache-spark@3x.png
        icon-h: 54px
      - name: DataBricks
        icon: /assets/img/integrations/destinations/databricks@3x.png
        icon-h: 69px
      - name: Jupyter
        icon: /assets/img/integrations/destinations/jupyter@3x.png
        icon-h: 65.5px
      - name: Elasticsearch
        icon: /assets/img/integrations/destinations/elasticsearch@3x.png
        icon-h: 60.5px
      - name: AWS Kibana
        icon: /assets/img/integrations/destinations/kibana@3x.png
        icon-h: 70.5px
      - name: AWS S3
        icon: /assets/img/integrations/destinations/s-3@3x.png
        icon-h: 63.5px
      - name: AWS Athena
        icon: /assets/img/integrations/destinations/athena@3x.png
        icon-h: 54px
      - name: AWS Redshift
        icon: /assets/img/integrations/destinations/redshift@3x.png
        icon-h: 58.5px
      - name: Snowflake
        icon: /assets/img/integrations/destinations/snowflake@3x.png
        icon-h: 66px
      - name: Azure Event Hub
        icon: /assets/img/integrations/destinations/azure-event-hub.png
        icon-h: 50.5px
  - name: Options for data consumption (GCP)
    items:
      - name: Pub/Sub
        icon: /assets/img/integrations/destinations/pub-sub@3x.png
        icon-h: 62px
      - name: Cloud Dataflow
        icon: /assets/img/integrations/destinations/cloud-dataflow@3x.png
        icon-h: 55.5px
      - name: Google Cloud Storage
        icon: /assets/img/integrations/destinations/google-cloud-storage@3x.png
        icon-h: 56px
      - name: BigQuery
        icon: /assets/img/integrations/destinations/bigquery@3x.png
        icon-h: 108.5px
logos:
  - name: looker
    img: assets/img/integrations/logos/looker.png
    img-2x: assets/img/integrations/logos/looker@2x.png
    img-3x: assets/img/integrations/logos/looker@3x.png
    height: 114.5px
  - name: indicative
    img: assets/img/integrations/logos/indicative.png
    img-2x: assets/img/integrations/logos/indicative@2x.png
    img-3x: assets/img/integrations/logos/indicative@3x.png
    height: 114.5px
  - name: tableau
    img: assets/img/integrations/logos/tableau.png
    img-2x: assets/img/integrations/logos/tableau@2x.png
    img-3x: assets/img/integrations/logos/tableau@3x.png
    height: 114.5px
  - name: powerbi
    img: assets/img/integrations/logos/powerbi.png
    img-2x: assets/img/integrations/logos/powerbi@2x.png
    img-3x: assets/img/integrations/logos/powerbi@3x.png
    height: 114.5px
  - name: redash
    img: assets/img/integrations/logos/redash.png
    img-2x: assets/img/integrations/logos/redash@2x.png
    img-3x: assets/img/integrations/logos/redash@3x.png
    height: 114.5px
  - name: periscope
    img: assets/img/integrations/logos/periscope.png
    img-2x: assets/img/integrations/logos/periscope@2x.png
    img-3x: assets/img/integrations/logos/periscope@3x.png
    height: 114.5px
  - name: superset
    img: assets/img/integrations/logos/superset.png
    img-2x: assets/img/integrations/logos/superset@2x.png
    img-3x: assets/img/integrations/logos/superset@3x.png
    height: 114.5px
  - name: jupyter
    img: assets/img/integrations/logos/jupyter.png
    img-2x: assets/img/integrations/logos/jupyter@2x.png
    img-3x: assets/img/integrations/logos/jupyter@3x.png
    height: 114.5px
  - name: databricks-logo
    img: assets/img/integrations/logos/databricks-logo.png
    img-2x: assets/img/integrations/logos/databricks-logo@2x.png
    img-3x: assets/img/integrations/logos/databricks-logo@3x.png
    height: 114.5px
  - name: data-quality
    img: assets/img/integrations/logos/data-quality.png
    img-2x: assets/img/integrations/logos/data-quality@2x.png
    img-3x: assets/img/integrations/logos/data-quality@3x.png
    height: 114.5px
  - name: qubole
    img: assets/img/integrations/logos/qubole.png
    img-2x: assets/img/integrations/logos/qubole@2x.png
    img-3x: assets/img/integrations/logos/qubole@3x.png
    height: 114.5px
  - name: Dataform
    img: assets/img/integrations/logos/dataform_logo.png
    img-2x: assets/img/integrations/logos/dataform_logo@2x.png
    img-3x: assets/img/integrations/logos/dataform_logo@3x.png
    height: 114.5px
---

<section class="hero-revamp hero-revamp-center" style="background-image: url({{ BASE_PATH }}/assets/img/integrations/spw-customers-header@3x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Bring your data together</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4>Snowplow integrates with your preferred sources and destinations so you can focus on building the applications that matter to your business.</h4>
            </div>
        </div>
    </div>
</section>


<section class="section-revamp stickers-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 stickers-buttons-container">
        <button class="stickers-buttons btn-outline-primary btn active" data-ref="0">All</button>
        <button class="stickers-buttons btn-outline-primary btn" data-ref="sources">Sources</button>
        <button class="stickers-buttons btn-outline-primary btn" data-ref="destinations">Destinations</button>
      </div>
    </div>
    <div class="row stickers-group" id="sources">
      <div class="col-sm-12">
        <h2>Sources</h2>
      </div>

      {% for row in page.integrations-sources %}
        <div class="col-sm-12 stickers-category-container">
          <h4>{{ row.name }}</h4>
          <div class="stickers-item-container">
            {% for item in row.items | sort:'name' %}
              <div class="stickers-item">
                <div class="stickers-item-title">
                  <p>{{ item.name }}</p>
                </div>
                <div class="stickers-item-icon">
                  <img src="{{ item.icon }}" alt="{{ item.name }}" style="height: {{ item.icon-h }}">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-revamp stickers-section">
  <div class="container">
    <div class="row stickers-group" id="destinations">
      <div class="col-sm-12">
        <h2>Destinations</h2>
      </div>

      {% for row in page.integrations-destinations %}
        <div class="col-sm-12 stickers-category-container">
          <h4>{{ row.name }}</h4>
          <div class="stickers-item-container">
            {% for item in row.items %}
              <div class="stickers-item">
                <div class="stickers-item-title">
                  <p>{{ item.name }}</p>
                </div>
                <div class="stickers-item-icon">
                  <img src="{{ item.icon }}" alt="{{ item.name }}" style="height: {{ item.icon-h }}">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="hero-revamp hero-revamp-center bi-tools-section" style="background-image: url({{ BASE_PATH }}/assets/img/integrations/rectangle-1-copy-3@3x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Explore your data with your favorite intelligence tools</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>
                  Snowplow is compatible with any business intelligence tool and analytics provider who integrates
                  <br>
                  with either Snowflake, BigQuery and Redshift. Here some of our customers’ favorite tools.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hero-revamp-logos plus_mg">
                {% for company in page.logos %}
                {% if company.url %}
                        <a href="{{ company.url }}" class="hero-revamp-logos-block">
                        {% assign close_block = '</a>' %}
                    {% else %}
                        <div class="hero-revamp-logos-block">
                        {% assign close_block = '</div>' %}
                    {% endif %}
                    <img src="{{ BASE_PATH }}/{{ company.img }}" srcset="{{ BASE_PATH }}/{{ company.img-2x }} 2x, {{ BASE_PATH }}/{{ company.img-3x }} 3x" alt="{{ company.name }}" style="height: {{ company.height  }}">
                    {{ close_block }}
                {% endfor %}
            </div>
        </div>
    </div>
</section>




{% include request-demo-revamp.html %}
