---
layout: compress
---

{% include head.html %}

        <main>
            {% include header.html %}

			<div class="container">
				<section class="col-md-8 pad-t-0">

					<div class="spacer-bottom-100">
						{% include blog/author-profile-box.html %}
					</div>

					<div class="posts">
						{% for post in site.posts %}
						{% if post.author == page.author %}
					    <article>
					        <h4 class="no-margin-bottom spacer-top-50"><a href="{{ post.url }}">{{ post.title }}</a></h4>
					        <small class="datebox">{{ post.date | date_to_long_string }}</small>
					    </article>
						{% endif %}
      					{% endfor %}
				    </div>
				</section>

				<!--
				    SIDEBAR
				-->
				<aside class="col-md-3 col-md-offset-1">
				    <div>{% include blog/sidebar.html %}</div>
				</aside>
            </div>
        </main>

		{% include footer.html %}