{% include head.html class='blog post header-white' %}

        <main>
            {% include header.html %}

			<div class="container">
				<section class="col-md-8">
				    <article>
				        <h1>{{ page.title }}</h1>
				        <div class="row">
				        	<div class="col-xs-12 col-sm-6 datebox">{{ page.date | date_to_long_string }}{% for author in site.data.authors %}{% if author.name == page.author %}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="{{ author.url }}">{{ author.full_name }}</a>{% endif %}{% endfor %}</div>
				        	<div class="col-xs-12 col-sm-6 text-right text-sm-left text-xs-left">
					        	<div class="social">
					        		<span class="social-label">Share</span>
					        		<div class="social-buttons"></div>
					        	</div>
				        	</div>
				        </div>
				        <div class="content">{{ content }}</div>
				    </article>

					<div class="post-footer">
						<div class="row spacer-bottom-20">
							<div class="qa col-xs-12 col-sm-6">
								<h5>Thoughts or questions?<br/>Come join us in our <a href="http://discourse.snowplowanalytics.com" target="_blank">Discourse forum</a>!</h5>
							</div>
							<div class="col-xs-12 col-sm-6 text-right text-sm-left text-xs-left">
					        	<div class="social">
					        		<span class="social-label">Share</span>
					        		<div class="social-buttons"></div>
					        	</div>
					        </div>
						</div>
						<div class="spacer-top-50">
							{% include blog/author-profile-box.html %}
						</div>
					</div>
				</section>

				<!--
				    SIDEBAR
				-->
				<aside class="col-md-3 col-md-offset-1">
				    <div>{% include blog/sidebar.html %}</div>
				</aside>
            </div>
        </main>

		{% include footer.html %}
