---
layout: compress
---


{% include head.html class='blog post header-white' v3='true' %}

<main class="single-v3">
		{% include header.html %}
		<section class="post-hero sub-hero">
			<span class="hex-bg"></span>
			<div class="wrap">
				<div class="heading">
					<span class="accent">BLOG POST</span>
					<h1>{{ page.title }}</h1>
				</div>
				<span class="separator alt-cta"></span>
				<div class="post-details">
					{% for author in site.data.authors %}
					{% if author.name == page.author %}
					<div class="author">
						<a class="alt-link" href="{{ BASE_PATH }}{{ author.url }}">
							<img src="{{ author.avatar }}" alt="{{ author.full_name }}" />
							<p>{{ author.full_name }}</p>
						</a>
					</div>	
					{% endif %}
					{% endfor %}

					<p>{{ page.date | date_to_long_string }}</p>

					{% if page.category != empty %}
					<div class="category">
						{% for category in site.data.categories %}
						{% if category.name == page.category %}
						<a class="alt-link" href="{{ BASE_PATH }}{{ category.url }}">
						<img src="{{ site.url }}{{ category.icon }}" alt="{{ category.name }}">
						<p>{{ page.category }}</p>
						</a>
						{% endif %}
						{% endfor %}
						
					</div>
					{% endif %}
				</div>
				{% if page.featured-image %}
				<img class="featured-image" src="{{ BASE_PATH }}{{ page.featured-image }}" alt="#">
				{% endif %}
			</div>
		</section>
			<!-- End wrap -->
		<section class="content">
			<div class="blog-wrap">
				<div class="post-content full">
					{{ content }}
				</div>
				<!-- content end  -->
				<div class="sharing-center">
					<!-- Load social media share from plugin -->
				</div>
				<!-- {% if page.tags != empty %}
				<div class="post-tags">
					<h5 class="accent">TAGS</h5>
					<div class="full">
						{% for tag in page.tags %}
						<a class="box-shadow"> 
								<span class="link-indicator alt-cta"></span>
								<p>{{tag}}</p>
						</a>
						{% endfor %}
					</div>
				</div>
				{% endif %} -->

				{% if page.discourse == true %}
				<div id='discourse-comments'></div>
				<script type="text/javascript">
				  DiscourseEmbed = { discourseUrl: 'https://discourse.snowplowanalytics.com/',
									 discourseEmbedUrl: 'https://snowplowanalytics.com{{ page.permalink }}' }; 

				  (function() {
					var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
					d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
				  })();
				</script>
				{% endif %}

				{% for author in site.data.authors %}
				{% if author.name == page.author %}
				<div class="post-written-by">
						<h5 class="accent">WRITTEN BY</h5>
						<div class="author">
							<a class="alt-link" href="{{ BASE_PATH }}{{ author.url }}">
								{% if author.avatar %}
								<img src="{{ author.avatar }}" alt="{{ author.full_name }}" />
								{% endif %}
								<p>{{ author.full_name }}</p>
							</a>
						</div>
						<div class="details">
							<p>{{ author.spiel }}</p>
						</div>
					</div>
				{% endif %}
				{% endfor %}

				</div>
			</section>
			<section class="main-call-to-action-banner">
				<div class="wrap">
				  <div class="full">
					<div class="left">
					  <h2>Snowplow empowers you and your team so you can focus on your data journey.</h2>
					  <p>Power your data journey with Snowplow.</p>
					</div>
					<div class="right">
					  <a href="{{ BASE_PATH }}/get-started/"" class="cta main-cta-bg">Get started</a>
					</div>
				  </div>
				</div>
			</section>
		  {% unless page.category == null %}
		  {% capture pageCategory %}{{ page.category }}{% endcapture %}
		  {% unless site.categories[pageCategory].size == 1 %}
			<section class="related-posts">
				<div class="wrap">
					<h2>Related articles</h2>
					<div class="articles">
						{% for post in site.categories[pageCategory] limit:4 %}
						{% unless post.title == page.title %}
						<article>
							<a href="{{ post.url }}" class="box-shadow">
								<div class="featured-image">
									{% if post.featured-image %}
										<img src="{{ BASE_PATH }}{{post.thumbnail-image}}" alt="#">
									{% else %}
										{% for category in site.data.categories %}
										{% if category.name == post.category %}
										<div class="category-overlay">
											<img src="{{ BASE_PATH }}{{ category.background }}" alt="{{ category.name }}">
										</div>
										{% endif %}
										{% endfor %}
									{% endif %}
									{% if post.pdf %}
									<div class="pdf-included box-shadow">
										<img src="{{ BASE_PATH }}/v3/assets/img/global/pdf.svg" alt="#"/>
										<p class="p-small">included</p>
									</div>
									{% endif %}
								</div> 
								<div class="content">
									<div class="heading">
										<h5>{{ post.category }}</h5>
										<p>{{ post.date | date_to_long_string }}</p>
									</div>
									<h4>{{ post.title | truncatewords:14 }}</h4>
									<div class="bottom">
										{% for author in site.data.authors %}
										{% if author.name == post.author %}
										<div class="author">
											<img src="{{ author.avatar }}" alt="{{ author.full_name }}" />
											<p class="small-p">{{ author.full_name }}</p>
										</div>
										{% endif %}
										{% endfor %}
										<img src="{{ BASE_PATH }}/v3/assets/img/global/arrow-right.svg" alt="#"/>
									</div>
								</div>                           
							</a>
						</article>
						{% endunless %}
						{% endfor %}
					</div>
				</div>
			</section>
			{% endunless %}
			{% endunless %}
	</main>

		{% include footer.html %}

