/* 
 * Case Studies
 */
:root {
	--revamp-case-studies-h2-mg: 0 0 90px;
	--revamp-case-studies-select-pad: 10px 0;
	--revamp-case-studies-select-w: 290px;
	--revamp-case-studies-label-mg: 0 auto 80px;
	/////////////
	--revamp-case-studies-block-mg: 20px;
	--revamp-case-studies-block-s: calc((970px - 2*var(--revamp-case-studies-block-mg))/3);
	--revamp-case-studies-block-pad: 50px;
	@media (min-width: 1300px) {
		--revamp-case-studies-block-s: calc((1170px - 2*var(--revamp-case-studies-block-mg))/3);
	}
 	@media (max-width: $screen-lg-max) {}
 	@media (max-width: 991px) {
		--revamp-case-studies-block-s: calc((750px - 2*var(--revamp-case-studies-block-mg))/3);
		--revamp-case-studies-block-pad: 25px;
 	}
 	@media (max-width: 767px) {
 		--revamp-case-studies-block-mg: 15px;
 		--revamp-case-studies-block-s: calc(50% - 1.5*var(--revamp-case-studies-block-mg));
 	}
 	@media (max-width: 420px) {
 		--revamp-case-studies-block-s: calc(100% - 2*var(--revamp-case-studies-block-mg));
 	} 
}
.revamp-case-studies {
	&-section {
		h2 {
			text-align: center;
			margin: var(--revamp-case-studies-h2-mg);
		}
	}
	&-filter {
		select {
			-webkit-appearance: none;
			-moz-appearance:    none;
			appearance:         none;
			color: $brand-primary;
			font-size: 18px;
			padding: var(--revamp-case-studies-select-pad);
			border: none;
			border-bottom: solid 1px $brand-primary;
			background-color: transparent;
			width: 100%;
			border-radius: 0;
		}
		label {
			position: relative;
			width: var(--revamp-case-studies-select-w);
			margin: var(--revamp-case-studies-label-mg);
			display: block;
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5.5px 5.25px 0 5.25px;
				border-color: $brand-primary transparent transparent transparent;
				right: 0;
				@include center-top;
			}
		}
	}
	// container for blocks
	@include do-flex(row, flex-start, flex-start, wrap);
	&-block {
		position: relative;
		width: var(--revamp-case-studies-block-s);
		height: var(--revamp-case-studies-block-s);
		margin-bottom: var(--revamp-case-studies-block-mg);
		margin-left: var(--revamp-case-studies-block-mg);
		opacity: 0;
		transition: opacity .5s ease-in-out;
		display: none;
		@media (max-width: 767px) {
			height: 300px;
		}
		&.mg_0 {
			@media (min-width: 768px) {
				margin-left: 0;
			}
		}
		&._visible {
			opacity: 1;
			display: block;
		}
		&:hover {
			.revamp-case-studies-back {
				opacity: 1;
				z-index: 3;
				visibility: visible;
			}
		}
	}
	&-front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		// background-color: white;
		// padding: var(--revamp-case-studies-block-pad);
		._bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			object-fit: cover;
		}
		._logo {
			width: calc(100% - var(--revamp-case-studies-block-pad));
			height: auto;
			z-index: 2;
			@include center-center();
		}
	}
	&-back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: white;
		padding: var(--revamp-case-studies-block-pad);
		opacity: 0;
		transition: opacity .5s ease-in-out;
		visibility: hidden;
		@include do-flex(column, center, center);
		._logo {
			width: 50%;
			height: auto;
			margin: 0 auto 25px;
			max-height: 60px;
			object-fit: contain;
			@media (min-width: 1300px) {
				max-height: 80px;
			}
			@media (max-width: 992px) {
  				width: 60%;
  				max-height: 50px;
  			}
  			@media (max-width: 767px) {
		 		max-height: 80px;
		 		width: 50%;
		 	}
		}
		p {
			font-size: 18px;
  			line-height: 1.65;
  			text-align: center;
  			color: $gray;
  			margin: 0;
  			width: 100%;
  			@media (max-width: 992px) {
  				font-size: 16px;
  				line-height: 1.25;
  			}
		}
		.link {
			text-align: center;
			margin-top: 30px;
			color: $gray-base;
			font-size: 14px;
			font-weight: 500;
			&:before {
			    margin-right: 8px;
				display: inline-block;
				content: url(../../assets/img/Snowplow-Website-2019-Icon-Arrow-Right-Default.svg);
				height: 15px;
   				width: 15px;
   				vertical-align: -10%;
   				}
			&:hover {
				color: $tealish;
				&:before {
					display: inline-block;
					content: url(../../assets/img/Snowplow-Website-2019-Icon-Arrow-Right-Hover.svg);
					height: 15px;
   					width: 15px;
   					vertical-align: -10%;
				}
			}
		}
	}
}
.fake-dropdown {
	margin: var(--revamp-case-studies-label-mg);
	$transition-a: all .25s ease-in-out;
	width: var(--revamp-case-studies-select-w);
	height: auto;
	cursor: pointer;
	position: relative;
	border: none;
	border-bottom: solid 1px $brand-primary;
	border-radius: 0;
	margin-top: -6px;
	&>* {
		cursor: pointer;
	}
	input[type=checkbox] {
		display: none;
	}
	ul {
		display: none;
		margin: 0;
		background: $brand-lighter;
		padding-left: 0;
		overflow: hidden;
		width: 100%;
		z-index: 0;
		@media (max-width: $screen-xs-max) {
			// for opening up
			width: var(--revamp-case-studies-select-w);
			position: absolute;
			bottom: 100%;
		}
		li {
			padding: 5px;	
			list-style: none;
			transition: $transition-a;
			color: $brand-primary;
			&:hover {
				background: $brand-primary;
				color: $brand-lighter;
			}
		}
	}
	input[type=checkbox]:checked ~ ul {
		display: block;
		position: absolute;
		z-index: 99;
	}
	label {
		color: $brand-primary;
		font-size: 18px;
		padding: var(--revamp-case-studies-select-pad);
		width: var(--revamp-case-studies-select-w) !important;
		height: auto;
		line-height: calculate-rem(18px);
		position: relative;
		z-index: 2;
		margin: 0;
		display: block !important;
		white-space: nowrap;
		span {
			//font
		}
	}
	
	&:after {
		content: '';
		@include center-top();
		right: 15px;
		width: 16px;
		height: 8px;
		border-width: 5.5px 5.25px 0 5.25px;
		border-color: $brand-primary transparent transparent transparent;
	}
}