/*
* Contact us grid
*/

.section-revamp-cards-section {padding-top: 120px;}

.section-revamp-cards.big{

  flex: .0 1 calc(var(--revamp-big-cards-w) - var(--revamp-big-cards-mg));
  height: 199px;

  &:first-child{
    flex: auto;
    width: 100%;
    display: block;
  }

  &:after{
    display: none;
  }
  .section-revamp-cards-hover{

    text-align: center; justify-content: center;
    span{
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
      text-align: center;
      color: #50545c;
      margin: var(--revamp-cards-h4-mg);
    }
    h4 {
      margin: var(--revamp-cards-h4-mg);
    }
    p{
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      margin: 0;
    }
    a{
      font-size: 16px;
      line-height: 1.5;
      color: $tealish;
    }
  }
}
.mapouter {width:100%; height: 100%}