/* 
 * Data blocks
 */
 :root {
 	--data-blocks-item-mt: 80px;
 	@media (max-width: 767px) {
 		--data-blocks-item-mt: 50px;
 	}
 }
.data-blocks {
	&-section {} 
	&-container {}
	&-item {
		position: relative;
		margin-bottom: var(--data-blocks-item-mt);
		&:last-of-type {
			margin-bottom: 0;
		}
		h2 {
			color: $brand-primary;
		}
		p {
			span {
				font-weight: normal;
  				color: $brand-primary;
			}
		}
		&-content {
			@include center-top;
			.data-blocks-item:nth-of-type(even) & {
				right: 0;
			}
			@media (max-width: 767px) {
 				position: relative;
 				top: initial;
 				transform: initial;
 			}
		}
		&-pic {
			margin-left: 50%;
			img {
				max-height: 420px;
				@media (max-width: 767px) {
 					max-height: 300px;
 				}
 				@media (max-width: $screen-xs-max) {
 					max-height: 250px;
 				} 
			}
			.data-blocks-item:nth-of-type(even) & {
				margin-left: 0;
			}
			@media (max-width: 767px) {
 				margin-left: 0;
 				margin-top: 40px;
 				text-align: center;
 			}
		}
	}
}