html,
body {
    background: $white;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.scrolling {
        user-select: none;
        /*pointer-events:none;*/
        -webkit-overflow-scrolling: touch;
    }

    &.freeze {
        main {
            height: 100vh;
            overflow: hidden;
        }
    }
}

main {
    margin: 0 auto;

    body.full-frame & {
        max-width: 100%;
    }

    >.container {
        margin-top: 150px;
        margin-bottom: 150px;

        >.content {
            max-width: 768px;
            margin: 0 auto;
        }
    }
}




img {
    height: auto;
    max-width: 100%;
    user-select: none;

    &.adapt {
        width: 100%;
        display: block;
        /*max-height: 100%;*/
    }
}




/*
 * CLEAR FONT
 * When we need to clear all font size and spacing
 */

.clearfont {
    font-size: 0;
    line-height: 0;
    text-indent: 0;
    letter-spacing: 0;
}



.cfx {
    @include cfx;
}







/*
 * BORDER-RADIUS
 */

.border-radius-base {
    border-radius: $border-radius-base;
}

.border-radius-large {
    border-radius: $border-radius-large;
}

.border-radius-small {
    border-radius: $border-radius-small;
}

.no-border {
    border-color: transparent!important;
    /* ITS AN OVERRIDE */
}





.side-by-side {
    overflow: hidden;
}








/*
 * Arrange in z order
 */

.bring-to-front {
    z-index: 999;
}

.send-to-back {
    z-index: 0;
}








/*
 * Images
 */

img:not(.allow-interact) {
    pointer-events: none;
    user-select: none;
}

a {
    img {
        pointer-events: auto;
        user-select: all;
    }
}







/**
 * Layer arrangement
 */

.bring-to-top {
    z-index: 99;
}

.bring-to-bottom {
    z-index: 0;
}



// Iframe css
iframe{
    border:none;
}



/**
 * OVERLAPING ELEMENT
 */

.overlap-bellow {
    z-index: 99;
    margin-bottom: 0;
    transform: translateY(50%);

    @media screen and (max-width: $screen-md-min) {
        transform:translateY(25%);
    }

    @media screen and (max-width:$screen-sm-min) {
        transform: none;
        margin-bottom: 20px;
    }
}
/**
 * Make background a repeat element X and Y
 */

.bg-repeat {
    background-repeat: repeat!important;
    background-size: auto!important;
}
/* parrallax effect */
.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1;
}


@media only screen
and (min-device-width: 768px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

    .parallax {
        background-attachment: inherit;
        transition: 0;

    }
}
