.grid-logos
{
	.col
	{
		width:20%;
		display:inline-block;

		img
		{
			padding:50px 20px;
			transition: all .3s;
			border: 1px solid $gray-light;
		}


		&:hover,
		&:focus
		{
			img
			{
				background:$white;
				border-color:transparent;
			}
		}
	}

	@media (max-width: $screen-md-max)
	{
		.clearfont
		{
			text-align: left;
		}

		.col
		{
			width:33.333333%;
		}
	}

	@media (max-width: $screen-xs-max)
	{
		.col
		{
			width:50%;
		}
	}
}