header
{
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999; /* .bring-to-front is 999 */
	position: fixed;
	max-height: 100%;
	transition:background .3s;

	.container-fluid
	{
		padding:0;
	}

	.navbar-top
	{
		padding:2px 0;

		.btn
		{
			border: 0;
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}

	.navbar-bottom
	{
		padding-top:12px;
		padding-bottom:12px;
	}

	.navbar-brand,
	.navbar-default .navbar-brand
	{
		margin: 0;
		height:50px;
		color: $white;
		line-height: 0;

		padding: 23px 0;
		overflow: hidden;
		transition: all .3s;

		&.navbar-brand-top
		{
			color:$white;
		}

		i
		{
			line-height: 0;
			font-size: 180px;
		}
	}

	#menu-center
	{
	}

	.navbar,
	.navbar-default
	{
		position: static;

		.nav
		{
			font-size: 0;
			white-space: nowrap;

			>li
			{
				position: static;
			}
		}

		.navbar-nav
		{

		float:none;
		display: inline-block;

		.dropdown-menu
		{
			left:0;
			right:0;
			border:0;
			top:59px;
			opacity:0;
			display:block;
			border-radius:0;
			box-shadow:none;
			visibility: hidden;
			text-align: center;
			background: $white;
		    padding: 0 0 0 0;
		    /*transform:translateY(-30px);*/

/*			&:before
			{
				content: '';
				display: block;
				border-top: 1px solid #f5f5f5;
			}

			&:after
			{
				content: '';
				display: block;
				border-bottom: 1px solid #f5f5f5;
			}*/

			>li
			{
				display:inline-block;

				> a
				{
					padding: 0 16px;
					line-height: 60px;
					transition: color .3s;
					position: relative;
					transition:all .3s;
				}
			}

			>.active
			{
				> a,
				>a:hover,
				>a:focus
				{
					color:#e0e6ef;
					background:none;
					/*pointer-events: none;*/
				}
			}
		}

		.dropdown
		{
			&:hover,
			&:focus
			{
				.dropdown-menu
				{
					opacity:1;
					visibility: visible;
		    		/*transform:translateY(0);*/
				}
			}
		}

			>li
			{
				float:none;
				display:inline-block;

				>a:not(.btn)
				{
					color: $white;
					line-height: .7em;
					position: relative;
					padding-top: 18px;
					padding-bottom: 18px;

					&:after
					{
						left:1px;
						right:1px;
						content:'';
						bottom: 0;
						height: 1px;
						display: block;
						position: absolute;
						transform: scale(0,1);
						transition: all .4s;
						background-color: $white;
						transform-origin: 0 0;
					}

					i
					{
						line-height: .7em;
					}
				}

				&:hover,
				&.active
				{
					> a
					{
						&:after
						{
							transform:scale(1,1);
						}
					}
				}
			}

			.btn
			{
				color: $white;
				min-width:150px;

				&:hover,
				&:focus
				{
					background: $white;
					color: $brand-primary;
				}
			}
		}
	}

	body.scrolled &,
	body.header-white &,
	&:hover
	{
		background: $white;
		transition:background .3s;

		.navbar,
		.navbar-default
		{
			border-bottom: 1px solid rgba($gray-lighter, .4);

			.navbar-brand:not(.navbar-brand-top)
			{
				color: $gray-base;
			}

			.dropdown-menu
			{
				border-bottom: 1px solid rgba($gray-lighter, .4);
			}

			.navbar-nav
			{
				>li
				{
					>a:not(.btn)
					{
						color: $gray-base;

						.dropdown-menu
						{
							> li
							{
								> a
								{
									color: $gray-base;
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
								transform:scale(1,1);
								background-color: $brand-primary;
							}
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min)
	{
		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		    margin-left:0;
		}
	}


	@media (min-width: $screen-sm-min) and (max-width: $screen-lg-max)
	{
		.navbar,
		.navbar-default
		{

			.navbar-top
			{
				.navbar-brand
				{
					height: 28px;
					padding: 13px 0;

					i
					{
						font-size: 110px;
					}
				}
			}

			.navbar-nav
			{
				.dropdown-menu
				{
					top:113px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) and (max-width: $screen-lg-max)
	{
		.navbar,
		.navbar-default
		{
			.navbar-nav
			{
				.dropdown-menu
				{
					top:106px;
				}
			}
		}
	}



	@media (max-width: $screen-lg-max)
	{
		background: $white;
		transition:background .3s;

		.navbar,
		.navbar-default
		{
			.navbar-brand
			{
				color: $gray-base;
			}

			.navbar-nav
			{
				float:right;

				>li
				{
					>a:not(.btn)
					{
						color: $gray-base;

						.dropdown-menu
						{
							> li
							{
								> a
								{
									color: $gray-base;
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
								transform:scale(1,1);
								background-color: $brand-primary;
							}
						}
					}
				}
			}
		}
	}




	@media (max-width: $screen-sm-max)
	{
		.navbar,
		.navbar-default
		{
			.navbar-brand
			{
				margin-left: 15px;
			}

			.navbar-bottom
			{
				.navbar-header
				{
					margin:0;
				}
			}

			.navbar-default,
			.navbar-nav
			{
				margin:0;
				float:none;
				display: block;
				white-space: normal;

				.call-to-action
				{
					margin-top: 30px;
					margin-bottom:50px;
				}

				.dropdown-menu
				{
					border: 0!important;
				}

				>li
				{

					& + li
					{
						margin-top:40px;
					}

					display: block;

					>a:not(.btn)
					{
						font-size: 20px;
						display: inline-block;

						.fa
						{
							display:none;
						}

						.dropdown-menu
						{
							> li
							{
								> a
								{
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
							}
						}
					}
				}

				.dropdown-menu
				{
					float: none;
					opacity: 1;
					display: block;
					position: static;
					text-align: center;
					visibility: visible;

					li
					{
						display:block;
					}
				}
			}

			.navbar-collapse
			{
				max-height: calc(100vh - 75px);
				overflow-y: auto;
			}
		}
	}







	@media (max-height: $screen-xs-min)
	{
		position:absolute;
	}
}