header
{
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999; /* .bring-to-front is 999 */
	position: fixed;
	max-height: 100%;
	transition:background .3s;

	.container-fluid
	{
		padding:0;
	}

	.navbar-top
	{
		padding:2px 0;
		background:$brand-primary;

		.btn
		{
			border: 0;
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}

	.navbar-bottom
	{
		padding-top:12px;
		padding-bottom:12px;
	}

	.navbar-brand,
	.navbar-default .navbar-brand
	{
		margin: 0;
		height:50px;
		color: $white;
		line-height: 0;

		padding: 23px 0;
		overflow: hidden;
		transition: all .3s;

		&.navbar-brand-top
		{
			color:$white;
		}

		i
		{
			line-height: 0;
			font-size: 180px;
		}
	}

	#menu-center
	{
	}

	.navbar,
	.navbar-default
	{
		position: relative;

		.nav
		{
			font-size: 0;
			white-space: nowrap;

			>li
			{
				position: static;
				@media (min-width: $screen-sm-min) {
					position: relative;
				}
			}
		}

		.navbar-nav
		{

			float:none;
			display: inline-block;

			.dropdown-menu
			{
				left:0;
				right:0;
				border:0;
				top:62px;
				opacity:0;
				display:block;
				border-radius:0;
				box-shadow:none;
				visibility: hidden;
				text-align: center;
				background: $white;
				padding: 0 0 0 0;
				////////
				@media (min-width: $screen-sm-min) {
					width: 285px;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					left: 50%;
					transform: translateX(-50%);
					right: initial;
					background-color: $white;
					overflow: hidden;
				}
				/*transform:translateY(-30px);*/

				/*			&:before
                            {
                                content: '';
                                display: block;
                                border-top: 1px solid #f5f5f5;
                            }

                            &:after
                            {
                                content: '';
                                display: block;
                                border-bottom: 1px solid #f5f5f5;
                            }*/

				>li
				{
					display:inline-block;
					@media (min-width: $screen-sm-min) {
						display: block;
					}
					> a
					{
						padding: 0 16px;
						line-height: 60px;
						transition: color .3s;
						position: relative;
						transition:all .3s;
						@media (min-width: $screen-sm-min) {
							font-size: 16px;
							color: #50545c;
							font-weight: 300;
							&:hover {
								color: #6738B8;
								background-color: white;
							}
							span {
								display: block;
								font-size: 12px;
								line-height: 1;
								color: rgba(80, 84, 92, 0.5);
							}
						}
					}
				}

				>.active
				{
					> a,
					>a:hover,
					>a:focus
					{
						@media (min-width: $screen-sm-min){
							color:#6738b8;
							font-weight: 500;
						}
						background:none;
						/*pointer-events: none;*/
					}
				}
				&.highlight-menu {
					@media (min-width: $screen-sm-min){
						background-color: #f5faff;
					}
				}
			}

			.dropdown
			{
				&:hover,
				&:focus
				{
					.dropdown-menu
					{
						opacity:1;
						visibility: visible;
						/*transform:translateY(0);*/
					}
				}
			}

			>li
			{
				float:none;
				display:inline-block;

				>a:not(.btn)
				{
					color: $white;
					line-height: .7em;
					position: relative;
					padding-top: 18px;
					padding-bottom: 18px;

					&:after
					{
						left:1px;
						right:1px;
						content:'';
						bottom: 0;
						height: 1px;
						display: block;
						position: absolute;
						transform: scale(0,1);
						transition: all .4s;
						background-color: $white;
						transform-origin: 0 0;
						@media (min-width: $screen-sm-min) {
							bottom: -13px;
						}
					}

					i
					{
						line-height: .7em;
						@media (min-width: $screen-sm-min) {
							display: none;
						}
					}
				}

				&:hover,
				&.active
				{
					> a
					{
						&:after
						{
							transform:scale(1,1);
						}
					}
				}
			}

			.btn
			{
				color: $white;
				min-width:150px;

				&:hover,
				&:focus
				{
					background: $white;
					color: $brand-primary;
				}
			}
		}
	}

	body.scrolled &,
	body.header-white &,
	&:hover
	{
		background: $white;
		transition:background .3s;

		.navbar,
		.navbar-default
		{
			border-bottom: 1px solid rgba($gray-lighter, .4);
			@media (min-width: $screen-sm-min) {
				border-bottom: none !important;
			}

			.navbar-brand:not(.navbar-brand-top)
			{
				color: $gray-base;
			}

			/* .dropdown-menu
			{
				border-bottom: 1px solid rgba($gray-lighter, .4);
			} */

			.navbar-nav
			{
				>li
				{
					>a:not(.btn)
					{
						color: $gray-base;

						.dropdown-menu
						{
							> li
							{
								> a
								{
									color: $gray-base;
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
								transform:scale(1,1);
								background-color: $brand-primary;
							}
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min)
	{
		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left:0;
		}
	}


	@media (min-width: $screen-sm-min) and (max-width: $screen-lg-max)
	{
		.navbar,
		.navbar-default
		{

			.navbar-top
			{
				.navbar-brand
				{
					height: 28px;
					padding: 13px 0;

					i
					{
						font-size: 110px;
					}
				}
			}

			.navbar-nav
			{
				.dropdown-menu
				{
					top:62px;
				}
			}
		}
	}


	@media (min-width: $screen-sm-max) and (max-width: $screen-md-max)
	{
		.navbar,
		.navbar-default
		{
			.navbar-nav
			{
				width: 100%;
				line-height: 0;
				text-align: justify;
				white-space: normal;

				&:after
				{
					width: 100%;
					content: ".";
					visibility: hidden;
					display: inline-block;
				}
				.dropdown-menu
				{
					top:62px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) and (max-width: $screen-lg-max)
	{
		.navbar,
		.navbar-default
		{
			.navbar-nav
			{
				.dropdown-menu
				{
					top:62px;
				}
			}
		}
	}



	@media (max-width: $screen-lg-max)
	{
		background: $white;
		transition:background .3s;

		.navbar,
		.navbar-default
		{
			.navbar-brand
			{
				color: $gray-base;
			}

			.navbar-nav
			{
				float:right;

				>li
				{
					>a:not(.btn)
					{
						color: $gray-base;

						.dropdown-menu
						{
							> li
							{
								> a
								{
									color: $gray-base;
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
								transform:scale(1,1);
								background-color: $brand-primary;
							}
						}
					}
				}
			}
		}
	}




	@media (max-width: $screen-sm-max)
	{
		.navbar,
		.navbar-default
		{
			.navbar-brand
			{
				margin-left: 15px;
			}

			.navbar-bottom
			{
				.navbar-header
				{
					margin:0;
				}
			}

			.navbar-default,
			.navbar-nav
			{
				margin:0;
				float:none;
				display: block;
				white-space: normal;

				.call-to-action
				{
					margin-top: 30px;
					margin-bottom:50px;
				}

				.dropdown-menu
				{
					border: 0!important;
				}

				>li
				{

					& + li
					{
						margin-top:40px;
					}

					display: block;

					>a:not(.btn)
					{
						font-size: 20px;
						display: inline-block;

						.fa
						{
							display:none;
						}

						.dropdown-menu
						{
							> li
							{
								> a
								{
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
							}
						}
					}
				}

				.dropdown-menu
				{
					float: none;
					opacity: 1;
					display: block;
					position: static;
					text-align: center;
					visibility: visible;

					li
					{
						display:block;
					}
				}
			}

			.navbar-collapse
			{
				max-height: calc(100vh - 75px);
				overflow-y: auto;
			}
		}
	}







	@media (max-height: $screen-xs-min)
	{
		position:absolute;
	}

	@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px)
	and (-webkit-min-device-pixel-ratio: 2) {

		.navbar-top {
			display: none !important;
		}

		.navbar-toggle {
			display: inline-block;

		}
		.navbar-header {
			float: inherit;
		}

		.navbar-default .navbar-nav {
			margin: 0;
			float: none;
			display: block;
			white-space: normal;
		}

		.navbar{
			background: white
		}

		.navbar,
		.navbar-default {
			.navbar-brand {
				margin-left: 15px;
				color: #777 !important;
				display: block !important;

			}

			.navbar-bottom {
				.navbar-header {
					margin: 0;
				}
			}

			.navbar-default,
			.navbar-nav {
				margin: 0;
				float: none;
				display: block;
				white-space: normal;
				background: white;

				.call-to-action {
					margin-top: 30px;
					margin-bottom: 50px;
				}

				.dropdown-menu {
					border: 0 !important;
				}

				> li {

					& + li {
						margin-top: 40px;
					}

					display: block;

					> a:not(.btn) {
						font-size: 20px;
						display: inline-block;

						.fa {
							display: none;
						}

						.dropdown-menu {
							> li {
								> a {
								}
							}
						}
					}

					&:hover,
					&.active {
						> a {
							&:after {
							}
						}
					}
				}

				.dropdown-menu {
					float: none;
					opacity: 1;
					display: block;
					position: static;
					text-align: center;
					visibility: visible;

					li {
						display: block;
					}
				}
			}
			.navbar-collapse.collapse {
				display: none!important;
			}

			.navbar-collapse {
				max-height: calc(100vh - 75px);
				overflow-y: auto !important;
			}

			.navbar-collapse.collapse.in {
				display: block!important;
			}
			.collapsing {
				overflow: hidden!important;
			}

		}
	}



}