/*
 * CONFIGURATION
 */

@import "../snowplow/_variables";


/*
 * DEPENDENCIES
 */



/*!
 * Snowplow v0.0.1 (https://github.com/snowplow/snowplow.github.com)
 * HOME FILE
 */

/*
 * STYLES
 */

 body.home
 {
 	.jumbotron
 	{
		&.slick-slide
		{
			.text-block
			{
				.title {
					opacity: 0;
					transition:opacity .5s, transform .8s;
					transform:translateX(10px);
				}

				.parag {
					opacity: 0;
					transition:opacity .5s .2s, transform 1s;
					transform:translateX(10px);
				}

				.btn {
					opacity: 0;
					transition:opacity .5s .2s, transform 1.2s;
					transform:translateY(10px);
				}
			}

			&.slick-active
			{
				.text-block {
					.title, .parag, .btn { opacity:1; transform:translateX(0) translateY(0); }
				}
			}
		}
 	}

 	.hero
 	{
 		padding-top:0;

		.trusties
		{
			top: -150px;
			position: relative;

			img
			{
				border:0;
			}
		}
 	}

 	.products
 	{

 	}

	.resources
	{
		.well-lg
		{
			padding-left:0;
			padding-right:0;
			position:relative;

			&:after
			{
				top:0;
				left:50%;
				bottom:0;
				height:100%;
				content:'';
				display:block;
				position:absolute;
				border-left: 1px solid $gray-lighter;
			}
		}
	}

	 .brand {
		 letter-spacing: 0;
		 font-size: 36px;

	 }

	 .brand span {
		 font-size: 18px;
		 color: white;
	 }


	 .brand i {
		 font-size: 190px;
		 vertical-align: middle;
		 //line-height: 0.15em;
		 margin: 0;
		 padding: 0;
		 margin-top: -5px;
		 display: inline-block;
	 }


	@media (max-width: $screen-md-max)
	{
	 	.products
	 	{
	 		.side-by-side
	 		{
	 			img
	 			{
					width: 100%;
	 				/*max-width:400px;*/
	 			}
	 		}
	 	}

		.resources
		{
			.well-lg
			{
				padding:60px 0;

				&:after
				{
					content:none;
				}

				.half
				{
					&:last-of-type
					{
						padding:0;

						&:before
						{
							content:'';
							width:100%;
							display:block;
							margin:50px auto;
							border-top: 1px solid $gray-lighter;
						}
					}
				}
			}
		}

		.brand {
			font-size: 70px;
		}
	}

	
	@media (max-width: $screen-sm-min)
	{
	 	.products
	 	{
	 		.side-by-side
	 		{
	 		}
	 	}

		.resources
		{
			.well-lg
			{
				&:after
				{
				}

				.half
				{
					&:last-of-type
					{

						&:before
						{
						}
					}
				}
			}
		}
	}
 }