/* 
 * Stickers
 */
.stickers {
	&-section {
		/////////////////////////////////////
		// Vars
		/////////////////////////////////////
		--sticker-item-mg: 10px; 	
	 	--sticker-item-count: 5;
	 	--sticker-item-w: calc( (100% / var(--sticker-item-count)) - ((var(--sticker-item-count) - 1) * var(--sticker-item-mg))/ var(--sticker-item-count) );
	 	--sticker-item-h: 170px;
	 	--sticker-item-title-h: 46px;
	 	--sticker-item-title-pad: 15px;
	 	@media (max-width: 991px) {
	 		--sticker-item-count: 4;
	 	}
	 	@media (max-width: 767px) {
	 		
	 	}
	 	@media (max-width: $screen-xs-max) {
	 		--sticker-item-count: 3;
	 	} 
		/////////////////////////////////////
		padding-top: 0;
	}
	&-buttons {
		margin: 0 5px;
		&.active {
			background-color: $brand-primary;
			color: white;
		}
		&-container {
			text-align: center;
		}
	}
	&-group {
		margin-top: 80px;
		h2 {
			text-align: center;
		}
		h4 {
			color: $brand-primary;
		}
	}
	&-category {
		&-container {
			margin-top: 100px;
		}
	}
	&-item {
		margin-bottom: var(--sticker-item-mg);
		margin-right: var(--sticker-item-mg);
		height: var(--sticker-item-h);
		width: var(--sticker-item-w);
		box-shadow: 3.1px 2.6px 10px 0 rgba(0, 0, 0, 0.15);
  		background-color: white;
  		&:nth-of-type(5n) {
  			@media (min-width: 992px) {
	 			margin-right: 0;
	 		}
  		}
  		&:nth-of-type(4n) {
  			@media (max-width: 991px) and (min-width: $screen-xs-max) {
	 			margin-right: 0;
	 		}
  		}
  		&:nth-of-type(3n) {
  			@media (max-width: $screen-xs-max) {
	 			margin-right: 0;
	 		} 
  		}
		&-container {
			@include do-flex(row, flex-start, flex-start, wrap);
		}
		&-title {
			width: 100%;
			height: var(--sticker-item-title-h);
			padding: var(--sticker-item-title-pad);
			background-color: $brand-lighter;
			@include do-flex(column, center, flex-end, wrap);
			p {
				text-align: right;
				font-size: 14px;
				line-height: 1;
				margin: 0;
			}
		}
		&-icon {
			width: 100%;
			height: calc( 100% - var(--sticker-item-title-h) );
			position: relative;
			img {
				@include center-center;
				width: auto;
				object-fit: contain;
				max-width: 80%;
			}
		}
	}
}




/* 
 * Snowplow iglu pub
 */
.snowplow-iglu-section {
	/////////////////////////////////////
	// Vars
	/////////////////////////////////////
	--ml: 50px;
	margin-top: 120px;
	@media (max-width: 767px) {
		--ml: 0; 		
	}
	/////////////////////////////////////
	h2 {
		color: white;
		text-align: center;
	}
	h3 {
		margin-left: var(--ml);
		margin-top: 0;
		margin-bottom: 30px;
		color: white;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	h4 {
		color: white;
		text-align: center;
		line-height: 38px;
	}
	p {
		margin-left: var(--ml);		
		margin-bottom: 0;
		color: white;
		line-height: 1.85;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	img {
		@media (max-width: 767px) {
	 		max-width: 300px;
			margin: 0 auto 40px;
			display: block;	
	 	}
	}
}