.jumbotron
{
	margin:0;
	border-radius:0;
	position:relative;
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left:0!important;
	padding-right:0!important;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;

	&.header
	{
		height: 90vh;
		min-height: 810px;

		.text-block
		{
			left:0;
			right:0;
			top:33.333333%;
			transform:translateY(-33.333333%);
			position: absolute;
		}
	}

	@media (max-width: $screen-sm-max) {
		padding-top: 200px;
	}
	h1 {
		font-size: 60px;
		font-weight: 300;
		line-height: 1.1;
		margin-bottom: 16px;
		color: #ffffff;
	}
	h4 {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.3;
	}


	@media (max-width: $screen-xs-max)
	{
		padding-top: 170px;
	}


	@media (max-height: 568px)
	{
		padding-top: 90px;
		padding-bottom:200px;
	}
}

.hero
{
	border-radius:0;
	position:relative;
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;

	@media (max-width: $screen-sm-max)
	{
		padding-top:150px;
		padding-bottom: 60px;
	}

	@media (max-width: $screen-xs-max)
	{
		padding-top:110px;
		padding-bottom: 60px;
	}
}