.navbar,
.navbar-default
{
	border: 0;
	margin: 0;
	background: none;
	border-radius: 0;

	.navbar-collapse, 
	.navbar-form
	{
		margin: 0;
		border: 0;
		padding: 0;
		background: none;
	}

	.navbar-nav
	{
		>li
		{
			>a:not(.btn)
			{
				border: 0;
				font-size: 16px;
				background: none;
				transition:all .2s;
				padding-top: 20px;
				padding-bottom: 20px;
				font-weight: 400;
				@media (min-width: $screen-sm-min) {
					font-size: 16px;
  					font-weight: normal;
  					color: #50545c;
				}
				

				&:hover,
				&:focus
				{
					background: none;
				}
			}
		}

		& >.open >a:not(.btn):hover,
		& >.open >a:not(.btn):focus
		{
			background: none;
		}
	}
}

.navbar-right
{
	margin: 0;
}





#button-request-demo-header-page {
    font-size: 16px;
	border: 1px solid #6738b8;
}
#button-login-header-page {
	color: #fff;
	position: relative;
	font-size: 16px;
	font-weight: normal;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	&:hover {
		color: #6738b8;
	}
	body.scrolled & {
		color: #50545c;
		&:hover {
			color: #6738b8;
		}
	}
	nav.navbar:hover & {
		color: #50545c;
		&:hover {
			color: #6738b8;
		}
	}
	@media (max-width: 767px) {
		display: block;
   	 	margin: 40px 0 10px;
	}
}
