/* 
 * News cards
 */
:root {
	--revamp-news-cards-mg: 20px;
	--revamp-news-cards-pad: 45px 35px;
	--revamp-news-cards-w: 0 1 calc(33% - var(--revamp-news-cards-mg)/2);
 	@media (max-width: 991px) {
 		--revamp-news-cards-mg: 15px;
    	--revamp-news-cards-pad: 45px 25px 65px;
 	}
 	@media (max-width: 767px) {
 		--revamp-news-cards-w: 0 1 100%;
 		// --revamp-news-cards-mg: 15px;
   //  	--revamp-news-cards-pad: 45px 25px 65px;
 	}
 	@media (max-width: $screen-xs-max) {
 	
 	} 
}
.revamp-news-cards {
	&-container {
		margin-top: 50px;
		@include do-flex(row, space-between, flex-start, wrap);
	}
	&-block {
		background-color: $brand-lighter;
		padding: var(--revamp-news-cards-pad);
		margin-bottom: var(--revamp-news-cards-mg); 
		flex: var(--revamp-news-cards-w);
		@include do-flex(column, space-between, center);
		&:hover {
			/*box-shadow: 0 0 33px 0 rgba(155, 160, 170, 0.33);*/
		}
		h4{
			margin: 0 0 30px;
		}
		h6 {
			color: $brand-primary-light;
			margin: 0 0 30px;
		}
		p {
			margin: 0 0 30px;
		}
		ul {
			margin: 0 auto 30px;
			padding-left: 17px;
			list-style-image: url(../../assets/img/pricing/check-solid.svg);
			li {
				font-size: 16px;
	  			font-weight: 300;
	  			line-height: 2.25;
	  			color: $gray-base;
			}
		}
		img {
			height: 130px;
			width: auto;
			object-fit: contain;
			margin-bottom: 25px;
		}
		.link {
			color: $gray-base;
			font-size: 14px;
			font-weight: 500;
			&:before {
				display: inline-block;
				content: url(../../assets/img/Snowplow-Website-2019-Icon-Arrow-Right-Default.svg);
				height: 15px;
   				width: 15px;
   				vertical-align: -10%;
   				}
			&:hover {
				color: $tealish;
				&:before {
					display: inline-block;
					content: url(../../assets/img/Snowplow-Website-2019-Icon-Arrow-Right-Hover.svg);
					height: 15px;
   					width: 15px;
   					vertical-align: -10%;
				}
			}
			

		}
	}
}
