/* 
 * Case Studies
 */
:root {
	--revamp-side-by-side-p-mg: 0 0 45px;
	--revamp-side-by-side-content-w: 50%;
	--revamp-side-by-side-logo-w: 38%;
	--revamp-side-by-side-content-mg: 5%;
	--revamp-side-by-side-content-min-h: 300px;
	--revamp-side-by-side-block-mt: 200px;
 	@media (max-width: $screen-lg-max) {}
 	@media (max-width: 991px) {}
 	@media (max-width: 767px) {}
 	@media (max-width: $screen-xs-max) {
 		--revamp-side-by-side-content-w: 100%;
		--revamp-side-by-side-logo-w: 100%;
		--revamp-side-by-side-content-mg: 0%;
		--revamp-side-by-side-logo-h: 300px;
		--revamp-side-by-side-block-mt: 100px;
 	} 
}
.revamp-side-by-side {
	&-section {
		padding-top: 0;
		a {
			color: $tealish;
		}
	}
	&-block {
		@include do-flex(row, flex-end, center);
		margin-top: var(--revamp-side-by-side-block-mt);
		min-height: var(--revamp-side-by-side-content-min-h);
		@media (max-width: $screen-xs-max) {
	 		@include do-flex(column, flex-start, center);
	 	} 
		// odd
		&._invert {
			justify-content: flex-start;
		}
	}
	&-content {
		order: 2;
		flex: 0 1 var(--revamp-side-by-side-content-w);
		@include do-flex(column, center, flex-end);
		margin-left: var(--revamp-side-by-side-content-mg);
		._invert & {
			order: 1;
			margin-right: var(--revamp-side-by-side-content-mg);
			margin-left: 0;
			@media (max-width: $screen-xs-max) {
	 			order: 2;
	 		}
		}
		&-wrapper {
			@media (max-width: $screen-xs-max) {
			 	text-align: center !important;
			}
			._invert & {
				text-align: left;
			}
		}
		h3 {
			font-weight: 300;
  			color: $gray;
  			@media (max-width: $screen-xs-max) {
		 		text-align: center !important;
		 	} 
  			._invert & {
				text-align: left;
			}
		}
		p, a {
			&.revamp-side-by-side-content-content {
  				line-height: 1.85;
  				color: $gray;
  				margin: var(--revamp-side-by-side-p-mg);
  				@media (max-width: $screen-xs-max) {
			 		text-align: center !important;
			 	} 
  				._invert & {
					text-align: left;	
				}
			}
			&.revamp-side-by-side-content-location {
				margin: 0 20px 0 0;
				display: inline-block;
				svg {
					width: 12px;
					height: 16px;
					margin: 0 10px 0 0;
				}
			}
			&.revamp-side-by-side-content-link {
				margin: 0;
				text-decoration: underline;
				display: inline-block;
				svg {
					width: 16px;
					height: 16px;
					margin: 0 10px 0 0;
				}
			}
		}
	}
	&-logo {
		order: 1;
		flex: 0 1 var(--revamp-side-by-side-logo-w);
		//height: var(--revamp-side-by-side-logo-h);
		position: relative;
		background-image: url(../img/partners/partners-revamp/shape-4-copy-21.svg);
		@include bg-contain();
		@media (max-width: $screen-xs-max) {
	 		min-height: var(--revamp-side-by-side-logo-h);
	 		margin-bottom: 40px;
	 	} 
		._invert & {
			order: 2;	
			@media (max-width: $screen-xs-max) {
	 			order: 1;
	 		}
		}
		img {
			@include center-center;
			max-width: 80%;
		}
	}
}
