.container.resources{
    display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                position: relative;
        margin-top: 70px;
  .left-fixed
    {
      overflow: auto;
      padding: 5px 20px;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      width: 300px;
      background-color: #dedede;
      color: #fff;
      height: calc(100vh - 70px);
      overflow-y: scroll;
      position: fixed;
      background: #f5f9ff;
      color: #50545c;


      ul.styled{
        overflow-x: hidden;
        overflow-y: auto;
        margin:0px;

        .section-nav{
          li.toc-entry.toc-h1{
            &:first-child{
              &:before, > a{
                display: none;
              }
            }
          }
          ul{margin-left: 0.6em}
        }
        .toc-entry.toc-h2{
          padding-left: 0px;
          &:before{
          display: none;
        }
        a{color:#32373e;}
      }
        li{
            font-size: 14px !important;
            line-height: 1.5em;
          &:before{
            float: left;
            margin-top: 11px;
            a{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              text-indent: initial;
              line-height: normal;

            }
          }
        }

        ul{
          padding: 0px;
          margin: 0px;
        }
      }
    }
    .right-scroll{
      overflow: auto;
        height: auto;
        padding: .5rem;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-left: 320px;


          h1{
            font-size: 48px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
          }
          h2{
            font-size: 36px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
          }
    }

}

.footernew{
    display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                position: relative;
                z-index: 10;
flex-direction: column;
}

