/*
* @Author: Dygon - Joana Oliveira
* @Date:   2019-02-13 21:35:33
* @Last Modified by:   Dygon - Joana Oliveira
* @Last Modified time: 2019-05-08 06:52:09
*/

/* 
 * Functions
 */
@mixin do-flex($direction, $justify, $align, $wrap: nowrap) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-content: $align;
	flex-wrap: $wrap;	// nowrap|wrap|wrap-reverse|initial|inherit
}
@mixin center-left {
	left: 40%;
	transform: translateX(-50%);
	position: absolute;
}
@mixin center-top {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}
@mixin center-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
@mixin bg-contain {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
@mixin bg-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


 /* 
 * Common vars
 */
:root {
 	//--revamp-section-pad: 160px 0;
}
// Media Queries vars
$xs-max: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px;
$xl-min: 1200px;
// Colors
$ice-blue: #f5faff;
$charcoal-grey: #323743;
$charcoal-grey-two: #32373e;
$blue-purple: #6738b8;
$lightish-purple: #9e62dd;
$tealish: #28d1b1;
$white-1: #fefefe;
$gunmetal: #50545c;
$very-light-blue-two: #e1e6f0;


/* 
 * Sections
 */
:root {
 	--revamp-section-pad: 160px 0;
 	@media (max-width: $lg-max) {}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {
 		--revamp-section-pad: 120px 0;
 	}
 	@media (max-width: $xs-max) {
 		--revamp-section-pad: 80px 0;
 	}
}
.section-revamp {
	padding: var(--revamp-section-pad);
	background-color: white;
	&-blue {
		background-color: $ice-blue;
	}
	&-bot-0 {
		padding-bottom: 0 !important;
	}
	p {
		font-size: 16px;
		color: $gunmetal;
	}
	h2 {
		@media (max-width: $xs-max) {
			font-size: 32px;
		}
	}
}


/* 
 * Buttons
 */
.btn.btn-lines {
	background-color: transparent;
	color: $blue-purple;
	border: $blue-purple solid 2px;
	&:hover {
		background-color: $blue-purple;
		color: white;
	}
}
.btn.btn-lines-white {
	background-color: transparent;
	color: white;
	border: white solid 2px;
	&:hover {
		background-color: white;
		color: $blue-purple;
	}
}



/* 
 * Request Demo Revamp
 */
:root {
 	--revamp-slogan-pad: 120px 0;
 	--revamp-slogan-button-ml: 80px;
 	--revamp-slogan-button-w: 80px;
 	@media (max-width: $lg-max) {}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {
 		--revamp-slogan-pad: 80px 0;
 	}
 	@media (max-width: $xs-max) {
 		//--revamp-slogan-pad: 80px 0;
 	}
} 
.section-revamp-slogan {
	padding: var(--revamp-slogan-pad);
	background-image: linear-gradient(to left, $tealish, $blue-purple);
	& > .container {
		@include do-flex(row, space-between, center, wrap);
	}
	h3 {
		font-size: 36px;
  		font-weight: 300;
  		color: $white-1;
  		margin: auto 0;
  		flex: 0 1 calc(100% - ( var(--revamp-slogan-button-ml) + var(--revamp-slogan-button-w) ));
  		@media (max-width: $xs-max) {
  			flex: 0 1 100%;
  			margin-bottom: 40px;
  		}
	}
	a.btn {
		margin: auto;
	}
}


/* 
 * Hero Section
 */
:root {
 	--revamp-hero-pad: 180px 0 100px;
 	--revamp-logo-mg: 100px 0 0;
 	--revamp-logo-w: 70%;
 	@media (max-width: $lg-max) {
 		--revamp-logo-mg: 80px 0 0;
 	}
 	@media (max-width: $md-max) {
 		--revamp-logo-mg: 60px 0 0;
 	}
 	@media (max-width: $sm-max) {}
 	@media (max-width: $xs-max) {
		--revamp-hero-pad: 120px 0 80px;
	}
}
.hero-revamp {
	padding: var(--revamp-hero-pad);
	background-size: cover;
	/*background-attachment: fixed;*/
	h1 {
		color: $lightish-purple;
		font-weight: 300;
		@media (max-width: $xs-max) {
			font-size: 40px;
		}
	}
	h3 {
		color: $lightish-purple;
		text-align: center;
	}
	h4 {
		color: $gunmetal;
		line-height: 1.4;
	}
	h5 {
		font-size: 18px;
  		font-weight: 500;
  		letter-spacing: 3.6px;
  		text-align: left;
  		color: #ffffff;
  		margin: 0 0 14px;
  		text-transform: uppercase;
	}
	.btn + .btn {
		margin-left: 80px;
		@media (max-width: $xs-max) {
		margin-left: 10px;
		}
	}
	&-light{
		h1 {
			color: white;			
		}
		h4 {
			color: white;
			font-weight: 300;
			line-height: 1.45;
		}
		.btn {
			margin: 30px 0 0;
		}
	}
	&-center {
		h1, h4 {
			text-align: center;
		}
		.btn {
			@media (max-width: $xs-max) {
			font-size: 10px;
			} 
		}
	}
	&-logos {
		@include do-flex(row, flex-start, flex-start, wrap);
		&-block {
			display: block;
			flex: 0 1 25%;
			@include do-flex(row, center, center, wrap);
		 	@media (max-width: $md-max) {
		 		flex: 0 1 33.333%;
		 	}
		 	@media (max-width: $sm-max) {
		 		flex: 0 1 50%;
		 	}
		 	@media (max-width: $xs-max) {
				flex: 0 1 100%;
			}
			img {
				width: var(--revamp-logo-w);
				height: auto;
				margin: 25px;
				object-fit: contain;
				.hero-revamp-logos.plus_mg & {
					// for use when the images have different sizes
					margin: 40px 25px;
				}
				&:nth-of-type(4n+1) {
					justify-self: left;
				}
				&:nth-of-type(4n) {
					justify-self: right;
				}
			}
		}
	}
}


/* 
 * Products Icons
 */
:root {
 	--revamp-icons-ml: 40px;
 	--revamp-icons-img-h: 80px;
 	--revamp-icons-img-mg: 0 0 25px;
 	--revamp-icons-a-mg: 40px 0 0;
 	@media (max-width: $lg-max) {}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {}
 	@media (max-width: $xs-max) {
 		--revamp-icons-ml: 0;
 		--revamp-icons-a-mg: 20px auto 0;
 	}
}
.section-revamp-icons {
	flex: 0 1 calc(20% - var(--revamp-icons-ml));
	@include do-flex(column, space-between, center, nowrap);
	@media (max-width: $xs-max) {
		flex: 1;
		margin-bottom: 60px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&-container {
		@include do-flex(row, space-between, flex-start, nowrap);
		@media (max-width: $xs-max) {
			@include do-flex(column, flex-start, flex-start, wrap);
		}
	}
	img {
		width: 100%;
		height: var(--revamp-icons-img-h);
		object-fit: contain;
		margin: var(--revamp-icons-img-mg);
	}
	h4 {
		color: $charcoal-grey;
		font-weight: 500;
		margin: 0 0 20px;
		@media (max-width: $xs-max) {
			text-align: center;
		}
	}
	p {
		@media (max-width: $xs-max) {
			text-align: center;
		}
	}
	a {
		margin: 10px 0 0 0;
		font-size: 16px;
		text-decoration: underline;
	}
}


/* 
 * Section with animated image
 */
:root {
 	--revamp-animated-img-pad: 100px 0 160px;
 	--revamp-animated-img-a-mg: 40px 0 0;
 	@media (max-width: $lg-max) {}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {
 		--revamp-animated-img-pad: 60px 0;
 	}
 	@media (max-width: $xs-max) {
 		--revamp-animated-img-pad: 40px 0;
 	}
}
@mixin section-revamp-animated-img {
	padding: var(--revamp-animated-img-pad);
	position: relative;
	img.section-revamp-animated-img-img {
		width: 45%;
		height: 100%;
		position: absolute;
		top: 0;
		object-fit: contain;
		@media (max-width: $xs-max) {
			position: relative;
			width: calc(100% - 30px);
			top: initial;
			left: initial;
			height: auto;
			margin: 0 15px 40px;
		}
	}
	h2 {
		color: $charcoal-grey-two;
		margin-top: 0;
	}
	p {
		color: $charcoal-grey-two;
		margin: 0;
	}
	a.btn {
		margin: var(--revamp-animated-img-a-mg);
	}
}
.section-revamp-animated-img-left {
	@include section-revamp-animated-img;
	img.section-revamp-animated-img-img {
		object-position: top left;
		left: 0;
	}
}
.come-in-left {	
	/* Mobile fix */
	@media (max-width: 578px) { 
				
	}
	@media (min-width: 579px) { 
	/*	-webkit-animation: come-in-left 1.5s ease forwards; */
	/*	animation: come-in-left 1.5s ease forwards;*/
	}
	/* end of Mobile fix */
}
@keyframes come-in-left {
  0%   { 
  	opacity: 0;
  	-webkit-transform: translateX(-60%); 
  }
  25%   { 
  	opacity: 0;
  }
  100% { 
  	opacity: 1; 
  	-webkit-transform: translateX(0%);
  }
}
.section-revamp-animated-img-right {
	@include section-revamp-animated-img;
	img.section-revamp-animated-img-img {
		object-position: top right;
		right: 0;
	}
}
.come-in-right {	
	/* Mobile fix */
	@media (max-width: 578px) { 
				
	}
	@media (min-width: 579px) { 
	/*	-webkit-animation: come-in-right 1.5s ease forwards; */
	/*	animation: come-in-right 1.5s ease forwards; */
	}
	/* end of Mobile fix */
}
@keyframes come-in-right {
  0%   { 
  	opacity: 0;
  	-webkit-transform: translateX(60%); 
  }
  25%   { 
  	opacity: 0;
  }
  100% { 
  	opacity: 1; 
  	-webkit-transform: translateX(0%);
  }
}


/* 
 * Section Testemonial
 */
:root {
 	--revamp-animated-testemonial-pad: 130px 0;
 	--revamp-animated-testemonial-logo-w: 164px;
 	--revamp-animated-testemonial-logo-h: 30px;
 	--revamp-animated-testemonial-logo-mg: 0 auto 40px;
 	--revamp-animated-testemonial-content-mg: 0 auto 25px;
 	--revamp-animated-testemonial-pic-s: 52px;
 	--revamp-animated-testemonial-pic-ml: 15px;
 	--revamp-animated-testemonial-h2-mg: 0 0 100px;
 	@media (max-width: $lg-max) {}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {
 		--revamp-animated-testemonial-pad: 80px 0;
 		--revamp-animated-testemonial-h2-mg: 0 0 80px;
 	}
 	@media (max-width: $xs-max) {}
} 
.section-revamp-testemonial{
	padding: var(--revamp-animated-testemonial-pad);
	h2 {
		margin: var(--revamp-animated-testemonial-h2-mg);
		text-align: center;
	}
	&-block {
		@include do-flex(column, center, center);
		opacity: 0;
		display: none;
		transition: opacity .5s ease-in-out;
		color: $gunmetal;
		&._active {
			opacity: 1;
			display: flex;
		}
		&-container {
			position: relative;
			i.i-arrow-left {
				@include center-top;
				left: -15px;
				cursor: pointer;
				opacity: .7;
				z-index: 2;
				transition: opacity .25s ease-in-out;
				font-size: 20px;
				&:hover {
					opacity: 1;
				}
			}
			i.i-arrow-right {
				@include center-top;
				right: -15px;
				cursor: pointer;
				opacity: .7;
				z-index: 2;
				transition: opacity .25s ease-in-out;
				font-size: 20px;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	&-markers {
		$s: 5px;
		width: $s;
		height: $s;
		border-radius: $s;
		opacity: .5;
		cursor: pointer;
		margin: auto 7.5px;
		transition: all .25s ease-in-out;
		background-color: $lightish-purple;
		&._active {
			$s: 10px;
			width: $s;
			height: $s;
			border-radius: $s;
			opacity: 1;
		}
		&-container {
			@include do-flex(row, center, center);
			margin-top: 40px;
		}
	}
	&-logo {
		width: var(--revamp-animated-testemonial-logo-w);
		height: var(--revamp-animated-testemonial-logo-h);
		object-fit: contain;
		margin: var(--revamp-animated-testemonial-logo-mg);
	}
	&-content {
		font-size: 24px !important;
		font-weight: 300;
  		line-height: 1.5;
  		text-align: center;
  		color: $gunmetal !important;
  		margin: var(--revamp-animated-testemonial-content-mg);	
	}
	&-person {
		@include do-flex(row, center, center);
		p {
			font-size: 14px;
  			font-weight: normal;
  			text-align: center;
  			color: $charcoal-grey;
  			margin: auto 0;
  			line-height: 1.25;
			span {
				font-weight: 300;
			}
		}
		img {
			width: var(--revamp-animated-testemonial-pic-s);
			height: var(--revamp-animated-testemonial-pic-s);
			border-radius: var(--revamp-animated-testemonial-pic-s);
			object-fit: cover;
			margin: 0 var(--revamp-animated-testemonial-pic-ml) 0 0;
		}
	}
}


/* 
 * Sections centered
 */
:root {
 	@media (max-width: $lg-max) {}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {}
 	@media (max-width: $xs-max) {}
}
.section-revamp-center {
	p {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	h5 {
		text-align: center;
		color: $charcoal-grey;
		line-height: 1.5;
	}
}


/* 
 * Cards
 */
:root {
	--revamp-cards-section-pad: 0;
	--revamp-cards-pad: 25px;
	--revamp-cards-w: 25%;
	--revamp-cards-arrow-s: 37px;
	--revamp-cards-mg: 10px;
	--revamp-cards-h: 450px;
	--revamp-cards-icon-s: 108px;
	--revamp-cards-icon-mg: 0 auto 35px;
	--revamp-cards-h4-mg: 0 auto 25px;
 	@media (max-width: $lg-max) {
 		--revamp-cards-w: 33.333%;
 	}
 	@media (max-width: $md-max) {
 		--revamp-cards-w: 50%;
 	}
 	@media (max-width: $sm-max) {}
 	@media (max-width: $xs-max) {
 		--revamp-cards-h: 350px;
 	}
}
.section-revamp-cards {
	// Block
	padding: var(--revamp-cards-pad);
	background-color: $ice-blue;
	position: relative;
	flex: 0 1 calc(var(--revamp-cards-w) - var(--revamp-cards-mg));
	height: var(--revamp-cards-h);
	margin: 0 0 var(--revamp-cards-mg);
	@media (min-width: $lg-min) and (max-width: $lg-max) {
		&:last-of-type {
 			margin-left: calc(1.5*var(--revamp-cards-mg));
 			margin-right: auto;
		}
	}
	@media (max-width: $xs-max) {
		flex: 1 1 100%;
	}
	&:after {
		@include center-top;
		content: '>';
		color: $blue-purple;
		text-align: center;
		right: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
		width: var(--revamp-cards-arrow-s);
		height: var(--revamp-cards-arrow-s);
		line-height: var(--revamp-cards-arrow-s);
		background-color: white;
		border-radius: var(--revamp-cards-arrow-s);
		border: solid 1px $blue-purple;
		z-index: 3;
		@media (max-width: $xs-max) {
			@include center-left;
			bottom: calc( (-1) * var(--revamp-cards-arrow-s) - .5*var(--revamp-cards-mg) );
			top: initial;
			transform: rotate(90deg) translateX(-50%) translateY(-50%);
		}
	}
	@media (min-width: $xl-min) {
		&:nth-of-type(4) {
			&:after {
				opacity: .3;
			}
		}
		&:nth-of-type(5) {
			&:after {
				opacity: .3;
			}
		}
		&:nth-of-type(1n+5) {
			&:after {
				right: initial;
				left: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
			}
		}
	}
 	@media (min-width: $lg-min) and (max-width: $lg-max) {
 		&:nth-of-type(3),
 		&:nth-of-type(4),
 		&:nth-of-type(7) {
			&:after {
				opacity: .3;
			}
		}
		&:nth-of-type(3n+3) {
			&:before {
				opacity: .3;
				@include center-top;
				content: '>';
				color: $blue-purple;
				text-align: center;
				right: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
				width: var(--revamp-cards-arrow-s);
				height: var(--revamp-cards-arrow-s);
				line-height: var(--revamp-cards-arrow-s);
				background-color: white;
				border-radius: var(--revamp-cards-arrow-s);
				border: solid 1px $blue-purple;
				z-index: 3;
			}
		}
		&:nth-of-type(1n+4) {
			&:after {
				right: initial;
				left: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
			}
		}
 	}
	&:hover {
		.section-revamp-cards-hover {
			visibility: visible;
			z-index: 2;
			opacity: 1;
		}
		p {
		font-size: 15px;
		line-height: 1.5;
		}
	}
	&-section {
		padding: var(--revamp-cards-section-pad);
		width: 100vw;
		overflow-x: hidden;
	}
	&-container {
		@include do-flex(row, space-between, flex-start, wrap);
	}
	&-main{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		padding: var(--revamp-cards-pad);
		@include do-flex(column, center, center, nowrap);
		img {
			width: var(--revamp-cards-icon-s);
			height: var(--revamp-cards-icon-s);
			object-fit: contain;
			margin: var(--revamp-cards-icon-mg);
		}
		h4 {
			font-size: 24px;
  			font-weight: 300;
  			line-height: 1.25;
  			text-align: center;
  			color: $gunmetal;
  			margin: var(--revamp-cards-h4-mg);
		}
		p {
			font-size: 16px;
  			line-height: 1.5;
  			text-align: center;
  			color: $lightish-purple;
  			margin: 0;
		}
	}
	&-hover {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		padding: var(--revamp-cards-pad);
		background-color: $very-light-blue-two;
		box-shadow: 0 0 33px 0 rgba(155, 160, 170, 0.33);
		@include do-flex(column, space-between, center, nowrap);
		transition: opacity .5s ease-in-out;
		p {
			font-weight: 300;
			font-size: 14px;
			line-height: 1.25;
			span {
				font-size: 21px;
				font-weight: normal;
				display: block;
				margin-bottom: 10px;
				line-height: 1.2;
			}
		}
		a {
			font-size: 14px;
			line-height: 1.25;
			text-decoration: underline;
		}
	}
}


/* 
 * Big Cards
 */
:root {
	--revamp-big-cards-section-pad: 0 0 150px;
	--revamp-big-cards-mg: 5px;
	--revamp-big-cards-w: 50%;
	--revamp-big-cards-pad: 75px;
	--revamp-big-cards-logo-h: 100px;
	--revamp-big-cards-logo-w: 270px;
	--revamp-big-cards-logo-mg: 0 auto 70px;
	--revamp-big-cards-h4-mg: 0 auto 30px;
	--revamp-big-cards-a-mg: 70px auto 0;
 	@media (max-width: $lg-max) {
 		--revamp-big-cards-pad: 50px;
 	}
 	@media (max-width: $md-max) {}
 	@media (max-width: $sm-max) {}
 	@media (max-width: $xs-max) {
 		--revamp-big-cards-logo-mg: 0 auto 40px;
		--revamp-big-cards-h4-mg: 0 auto 20px;
		--revamp-big-cards-a-mg: 40px auto 0;
 	} 
}
.section-revamp-big-cards {
	// Block
	padding: var(--revamp-big-cards-pad);
	background-color: $ice-blue;
	flex: 0 1 calc(var(--revamp-big-cards-w) - var(--revamp-big-cards-mg));
	//height: var(--revamp-cards-h);
	margin: 0 0 calc(2*var(--revamp-big-cards-mg));
	@include do-flex(column, center, center);
	@media (max-width: $xs-max) {
 		flex: 1 1 100%;
 	} 
	&-section {
		padding: var(--revamp-big-cards-section-pad);
	}
	&-container {
		@include do-flex(row, space-between, flex-start, wrap);
	}
	img {
		width: var(--revamp-big-cards-logo-w);
		height: var(--revamp-big-cards-logo-h);
		object-fit: contain;
		margin: var(--revamp-big-cards-logo-mg);
	}
	h4 {
		font-size: 36px;
  		font-weight: 300;
  		text-align: center;
  		color: $gunmetal;
  		margin: var(--revamp-big-cards-h4-mg);
  		@media (max-width: $xs-max) {
 			font-size: 32px;
 		} 
	}
	p {
		margin: 0;
		font-size: 18px;
  		line-height: 1.65;
  		color: $gunmetal;
	}
	a.btn {
		margin: var(--revamp-big-cards-a-mg);
	}
}




/* 
 * Case Studies
 */
:root {
	--revamp-case-studies-h2-mg: 0 0 90px;
	--revamp-case-studies-select-pad: 10px 0;
	--revamp-case-studies-select-w: 290px;
	--revamp-case-studies-label-mg: 0 auto 80px;
	/////////////
	--revamp-case-studies-block-mg: 20px;
	--revamp-case-studies-block-s: calc((970px - 2*var(--revamp-case-studies-block-mg))/3);
	--revamp-case-studies-block-pad: 50px;
	@media (min-width: 1300px) {
		--revamp-case-studies-block-s: calc((1170px - 2*var(--revamp-case-studies-block-mg))/3);
	}
 	@media (max-width: $lg-max) {}
 	@media (max-width: 991px) {
		--revamp-case-studies-block-s: calc((750px - 2*var(--revamp-case-studies-block-mg))/3);
		--revamp-case-studies-block-pad: 25px;
 	}
 	@media (max-width: 767px) {
 		--revamp-case-studies-block-mg: 15px;
 		--revamp-case-studies-block-s: calc(50% - 1.5*var(--revamp-case-studies-block-mg));
 	}
 	@media (max-width: 420px) {
 		--revamp-case-studies-block-s: calc(100% - 2*var(--revamp-case-studies-block-mg));
 	} 
}
.revamp-case-studies {
	&-section {
		h2 {
			text-align: center;
			margin: var(--revamp-case-studies-h2-mg);
		}
	}
	&-filter {
		select {
			-webkit-appearance: none;
			-moz-appearance:    none;
			appearance:         none;
			color: $blue-purple;
			font-size: 18px;
			padding: var(--revamp-case-studies-select-pad);
			border: none;
			border-bottom: solid 1px $blue-purple;
			background-color: transparent;
			width: 100%;
		}
		label {
			position: relative;
			width: var(--revamp-case-studies-select-w);
			margin: var(--revamp-case-studies-label-mg);
			display: block;
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5.5px 5.25px 0 5.25px;
				border-color: $blue-purple transparent transparent transparent;
				right: 0;
				@include center-top;
			}
		}
	}
	// container for blocks
	@include do-flex(row, flex-start, flex-start, wrap);
	&-block {
		position: relative;
		width: var(--revamp-case-studies-block-s);
		height: var(--revamp-case-studies-block-s);
		margin-bottom: var(--revamp-case-studies-block-mg);
		margin-left: var(--revamp-case-studies-block-mg);
		opacity: 0;
		transition: opacity .5s ease-in-out;
		display: none;
		@media (max-width: 767px) {
			height: 300px;
		}
		&.mg_0 {
			@media (min-width: 768px) {
				margin-left: 0;
			}
		}
		&._visible {
			opacity: 1;
			display: block;
		}
		&:hover {
			.revamp-case-studies-back {
				opacity: 1;
				z-index: 3;
				visibility: visible;
			}
		}
	}
	&-front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		// background-color: white;
		// padding: var(--revamp-case-studies-block-pad);
		._bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			object-fit: cover;
		}
		._logo {
			width: calc(100% - var(--revamp-case-studies-block-pad));
			height: auto;
			z-index: 2;
			@include center-center();
		}
	}
	&-back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: white;
		padding: var(--revamp-case-studies-block-pad);
		opacity: 0;
		transition: opacity .5s ease-in-out;
		visibility: hidden;
		@include do-flex(column, center, center);
		._logo {
			width: 50%;
			height: auto;
			margin: 0 auto 25px;
			max-height: 60px;
			object-fit: contain;
			@media (min-width: 1300px) {
				max-height: 80px;
			}
			@media (max-width: 992px) {
  				width: 60%;
  				max-height: 50px;
  			}
  			@media (max-width: 767px) {
		 		max-height: 80px;
		 		width: 50%;
		 	}
		}
		p {
			font-size: 18px;
  			line-height: 1.65;
  			text-align: center;
  			color: $gunmetal;
  			margin: 0;
  			width: 100%;
  			@media (max-width: 992px) {
  				font-size: 16px;
  				line-height: 1.25;
  			}
		}
		a {
			line-height: 1.33;
  			color: $blue-purple;
  			text-decoration: underline;
  			text-align: center;
  			margin: 20px auto 0;
  			width: 100%;
		}
	}
}




/* 
 * Case Studies
 */
:root {
	--revamp-side-by-side-p-mg: 0 0 45px;
	--revamp-side-by-side-content-w: 50%;
	--revamp-side-by-side-logo-w: 38%;
	--revamp-side-by-side-content-mg: 5%;
	--revamp-side-by-side-content-min-h: 300px;
	--revamp-side-by-side-block-mt: 200px;
 	@media (max-width: $lg-max) {}
 	@media (max-width: 991px) {}
 	@media (max-width: 767px) {}
 	@media (max-width: $xs-max) {
 		--revamp-side-by-side-content-w: 100%;
		--revamp-side-by-side-logo-w: 100%;
		--revamp-side-by-side-content-mg: 0%;
		--revamp-side-by-side-logo-h: 300px;
		--revamp-side-by-side-block-mt: 100px;
 	} 
}
.revamp-side-by-side {
	&-section {
		padding-top: 0;
	}
	&-block {
		@include do-flex(row, flex-end, center);
		margin-top: var(--revamp-side-by-side-block-mt);
		min-height: var(--revamp-side-by-side-content-min-h);
		@media (max-width: $xs-max) {
	 		@include do-flex(column, flex-start, center);
	 	} 
		// odd
		&._invert {
			justify-content: flex-start;
		}
	}
	&-content {
		order: 2;
		flex: 0 1 var(--revamp-side-by-side-content-w);
		@include do-flex(column, center, flex-end);
		margin-left: var(--revamp-side-by-side-content-mg);
		._invert & {
			order: 1;
			margin-right: var(--revamp-side-by-side-content-mg);
			margin-left: 0;
			@media (max-width: $xs-max) {
	 			order: 2;
	 		}
		}
		&-wrapper {
			@media (max-width: $xs-max) {
			 	text-align: center !important;
			}
			._invert & {
				text-align: right;
			}
		}
		h3 {
			font-weight: 300;
  			color: $gunmetal;
  			@media (max-width: $xs-max) {
		 		text-align: center !important;
		 	} 
  			._invert & {
				text-align: right;
			}
		}
		p, a {
			&.revamp-side-by-side-content-content {
  				line-height: 1.85;
  				color: $gunmetal;
  				margin: var(--revamp-side-by-side-p-mg);
  				@media (max-width: $xs-max) {
			 		text-align: center !important;
			 	} 
  				._invert & {
					text-align: right;	
				}
			}
			&.revamp-side-by-side-content-location {
				margin: 0 20px 0 0;
				display: inline-block;
				svg {
					width: 12px;
					height: 16px;
					margin: 0 10px 0 0;
				}
			}
			&.revamp-side-by-side-content-link {
				margin: 0;
				text-decoration: underline;
				display: inline-block;
				svg {
					width: 16px;
					height: 16px;
					margin: 0 10px 0 0;
				}
			}
		}
	}
	&-logo {
		order: 1;
		flex: 0 1 var(--revamp-side-by-side-logo-w);
		//height: var(--revamp-side-by-side-logo-h);
		position: relative;
		background-image: url(../img/partners/partners-revamp/shape-4-copy-21.svg);
		@include bg-contain();
		@media (max-width: $xs-max) {
	 		min-height: var(--revamp-side-by-side-logo-h);
	 		margin-bottom: 40px;
	 	} 
		._invert & {
			order: 2;	
			@media (max-width: $xs-max) {
	 			order: 1;
	 		}
		}
		img {
			@include center-center;
			max-width: 80%;
		}
	}
}





/* 
 * News cards
 */
:root {
	--revamp-news-cards-mg: 20px;
	--revamp-news-cards-pad: 45px 35px 85px;
	--revamp-news-cards-w: 0 1 calc(33% - var(--revamp-news-cards-mg)/2);
 	@media (max-width: 991px) {
 		--revamp-news-cards-mg: 15px;
    	--revamp-news-cards-pad: 45px 25px 65px;
 	}
 	@media (max-width: 767px) {
 		--revamp-news-cards-w: 0 1 100%;
 		// --revamp-news-cards-mg: 15px;
   //  	--revamp-news-cards-pad: 45px 25px 65px;
 	}
 	@media (max-width: $xs-max) {
 	
 	} 
}
.revamp-news-cards {
	&-section {
		h2 {
			text-align: center;
			color: $blue-purple;
		}
	}
	&-container {
		margin-top: 50px;
		@include do-flex(row, space-between, flex-start, wrap);
	}
	&-block {
		background-color: $ice-blue;
		padding: var(--revamp-news-cards-pad);
		margin-bottom: var(--revamp-news-cards-mg); 
		flex: var(--revamp-news-cards-w);
		@include do-flex(column, space-between, center);
		&:hover {
			/*box-shadow: 0 0 33px 0 rgba(155, 160, 170, 0.33);*/
		}
		h6 {
			font-size: 14px;
  			font-weight: 500;
  			text-align: center;
  			color: $blue-purple;
  			text-transform: uppercase;
  			margin: 0 0 50px;
  			width: 100%;
		}
		h5 {
			font-size: 24px;
  			font-weight: 500;
  			text-align: center;
  			color: $gunmetal;
  			margin: 0 0 25px;
  			width: 100%;
		}
		h4 {
			font-size: 30px;
  			font-weight: normal;
  			text-align: center;
  			color: $blue-purple;
  			margin: 0 0 35px;
  			width: 100%;
		}
		p {
			font-size: 16px;
  			font-weight: 300;
  			line-height: 1.85;
  			text-align: center;
  			color: $gunmetal;
			margin: 0 0 80px;
  			width: 100%;
		}
		ul {
			margin: 0 auto 30px;
			padding-left: 17px;
			list-style-image: url(../../assets/img/pricing/check-solid.svg);
			li {
				font-size: 16px;
	  			font-weight: 300;
	  			line-height: 2.25;
	  			color: $gunmetal;
			}
		}
		.btn {
			justify-self: flex-end;
			margin: 0 auto;
		}
		img {
			height: 130px;
			width: auto;
			object-fit: contain;
			margin-bottom: 25px;
		}
	}
}




/* 
 * Data blocks
 */
 :root {
 	--data-blocks-item-mt: 130px;
 	@media (max-width: 767px) {
 		--data-blocks-item-mt: 80px;
 	}
 }
.data-blocks {
	&-section {} 
	&-container {}
	&-item {
		position: relative;
		margin-bottom: var(--data-blocks-item-mt);
		&:last-of-type {
			margin-bottom: 0;
		}
		h2 {
			color: $blue-purple;
		}
		p {
			span {
				font-weight: normal;
  				color: $blue-purple;
			}
		}
		&-content {
			@include center-top;
			.data-blocks-item:nth-of-type(even) & {
				right: 0;
			}
			@media (max-width: 767px) {
 				position: relative;
 				top: initial;
 				transform: initial;
 			}
		}
		&-pic {
			margin-left: 50%;
			img {
				max-height: 420px;
				@media (max-width: 767px) {
 					max-height: 300px;
 				}
 				@media (max-width: $xs-max) {
 					max-height: 250px;
 				} 
			}
			.data-blocks-item:nth-of-type(even) & {
				margin-left: 0;
			}
			@media (max-width: 767px) {
 				margin-left: 0;
 				margin-top: 40px;
 				text-align: center;
 			}
		}
	}
}




/* 
 * Data cards
 */
 :root {
 	--data-cards-item-mg: 30px;
 	--data-cards-item-pad: 50px;
 	--data-cards-item-count: 3;
 	@media (max-width: 991px) {
 		--data-cards-item-pad: 35px 25px;
 	}
 	@media (max-width: 767px) {
 		--data-cards-item-pad: 25px 15px;
 	}
 	@media (max-width: $xs-max) {
 		--data-cards-item-pad: 50px;
 	} 
 }
.data-cards {
	&-section {
		background-color: $ice-blue;
		h2 {
			text-align: center;
			color: $blue-purple;
			margin-bottom: 70px;
		}
	}
	&-container {
		@include do-flex(row, space-between, flex-start, wrap);
	}
	&-item {
		background-color: white;
		padding: var(--data-cards-item-pad);
		flex: 0 1 calc((100% / var(--data-cards-item-count)) - (var(--data-cards-item-mg)/(var(--data-cards-item-count) - 1)));
		@media (max-width: $xs-max) {
 			flex: 0 1 100%;
 			margin-bottom: var(--data-cards-item-mg);
 			&:last-of-type {
 				margin-bottom: 0;
 			}
 		}
		h4 {
			margin: 0 0 40px;
			color: $lightish-purple;
		}
		p {
			margin: 0;
		}
	}
}



/* 
 * Checked paragraphs
 */
 :root {
 }
.checked-paragraph-revamp {
	& + .checked-paragraph-revamp {
		@media (max-width: 767px) {
 			margin-top: 40px;
 		}
	}
	&-section {
		h2 {
			text-align: center;
			color: $blue-purple;
			margin-bottom: 32px;
		}
		h4 {
			text-align: center;
			color: $blue-purple;
			line-height: 1.4;
			margin-bottom: 70px;
		}
	}
	p {
		font-size: 16px;
		line-height: 1.85;
		color: $gunmetal;
		padding: 0 0 0 30px;
		&:first-of-type {
			font-size: 24px;
  			color: $gunmetal;  			
  			line-height: 1;
  			margin: 0 0 25px;
  			background-image: url(../../assets/img/pricing/check-solid.svg);
  			background-repeat: no-repeat;
  			background-size: 19px 14.17px;
  			background-position: 0 5px;
		}
		.checked-paragraph-revamp-optional & {
			font-size: 16px;
			line-height: 1.85;
			margin: 0 0 15px;
			&.checked {
				background-image: url(../../assets/img/pricing/check-solid.svg);
	  			background-repeat: no-repeat;
	  			background-size: 19px 14.17px;
	  			background-position: 0 5px;
			}
			&.not-checked {
				background-image: none;
			}
		}
	}
}



/* 
 * Vertical tabs
 */
 :root {
 	--vertical-tabs-header-pad: 25px;
 	--vertical-tabs-header-h: 131px;
 	--vertical-tabs-body-pad: 80px;
 	@media (max-width: 991px) {
 		--vertical-tabs-body-pad: 60px;
 	}
 	@media (max-width: 767px) {
 		--vertical-tabs-body-pad: 50px 30px;
 		--vertical-tabs-header-pad: 25px 15px;
 	}
 	@media (max-width: $xs-max) {
 		--vertical-tabs-body-pad: 30px 15px;
 		--vertical-tabs-header-h: 120px;
 	} 
 }
.vertical-tabs{
	&-section{
		h2 {
			text-align: center;
			margin-bottom: 70px;
		}
	}
	&-container{
		box-shadow: 0 0 33px 0 rgba(155, 160, 170, 0.33);
  		background-color: $ice-blue;
	}
	&-header{
		background-color: white;
		cursor: pointer;
		transition: all .25s ease-in-out;
		padding: var(--vertical-tabs-header-pad);
		min-height: var(--vertical-tabs-header-h);
		@include do-flex(column, center, flex-start, wrap);
		width: calc(100% + 30px);
		margin-left: -15px;
		@media (max-width: 767px) {
	 		width: initial;
	 		flex: 25%;
	 		margin-left: 0;
	 	}
		p {
			width: 100%;
			font-size: 20px;
  			line-height: 1.75;
  			margin: auto 0;
  			text-align: center;
  			color: rgba(80, 84, 92, 0.5);
  			transition: all .25s ease-in-out;
  			@media (max-width: $xs-max) {
		 		line-height: 1.25;
		 	}
		}
		&.active, &:hover {
			background-color: transparent;
			//background-color: $ice-blue;
			p {
				color: $lightish-purple;
			}
		}
		&-container {
			@include do-flex(column, center, flex-start, wrap);
			@media (max-width: 767px) {
		 		@include do-flex(row, center, flex-start, wrap);
		 		padding: 0;
		 	}
		}
	}
	&-body{
		//background-color: $ice-blue;
		height: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity .25s ease-in-out;
		padding: 0;
		p {
			margin: 0;
		}
		a {
			text-decoration: underline;
			margin-top: 40px;
			display: block;
		}
		&.active {
			visibility: visible;
			opacity: 1;
			height: auto;
			padding: var(--vertical-tabs-body-pad);
		}
		&-container {
			position: relative;
		}
	}
}


/* 
 * Stickers
 */
.stickers {
	&-section {
		/////////////////////////////////////
		// Vars
		/////////////////////////////////////
		--sticker-item-mg: 10px; 	
	 	--sticker-item-count: 5;
	 	--sticker-item-w: calc( (100% / var(--sticker-item-count)) - ((var(--sticker-item-count) - 1) * var(--sticker-item-mg))/ var(--sticker-item-count) );
	 	--sticker-item-h: 170px;
	 	--sticker-item-title-h: 46px;
	 	--sticker-item-title-pad: 15px;
	 	@media (max-width: 991px) {
	 		--sticker-item-count: 4;
	 	}
	 	@media (max-width: 767px) {
	 		
	 	}
	 	@media (max-width: $xs-max) {
	 		--sticker-item-count: 3;
	 	} 
		/////////////////////////////////////
		padding-top: 0;
	}
	&-buttons {
		margin: 0 5px;
		&.active {
			background-color: $brand-primary;
			color: white;
		}
		&-container {
			text-align: center;
		}
	}
	&-group {
		margin-top: 80px;
		h2 {
			text-align: center;
		}
		h4 {
			color: $blue-purple;
		}
	}
	&-category {
		&-container {
			margin-top: 100px;
		}
	}
	&-item {
		margin-bottom: var(--sticker-item-mg);
		margin-right: var(--sticker-item-mg);
		height: var(--sticker-item-h);
		width: var(--sticker-item-w);
		box-shadow: 3.1px 2.6px 10px 0 rgba(0, 0, 0, 0.15);
  		background-color: white;
  		&:nth-of-type(5n) {
  			@media (min-width: 992px) {
	 			margin-right: 0;
	 		}
  		}
  		&:nth-of-type(4n) {
  			@media (max-width: 991px) and (min-width: $xs-max) {
	 			margin-right: 0;
	 		}
  		}
  		&:nth-of-type(3n) {
  			@media (max-width: $xs-max) {
	 			margin-right: 0;
	 		} 
  		}
		&-container {
			@include do-flex(row, flex-start, flex-start, wrap);
		}
		&-title {
			width: 100%;
			height: var(--sticker-item-title-h);
			padding: var(--sticker-item-title-pad);
			background-color: $ice-blue;
			@include do-flex(column, center, flex-end, wrap);
			p {
				text-align: right;
				font-size: 14px;
				line-height: 1;
				margin: 0;
			}
		}
		&-icon {
			width: 100%;
			height: calc( 100% - var(--sticker-item-title-h) );
			position: relative;
			img {
				@include center-center;
				width: auto;
				object-fit: contain;
				max-width: 80%;
			}
		}
	}
}




/* 
 * Snowplow iglu pub
 */
.snowplow-iglu-section {
	/////////////////////////////////////
	// Vars
	/////////////////////////////////////
	--ml: 50px;
	margin-top: 120px;
	@media (max-width: 767px) {
		--ml: 0; 		
	}
	/////////////////////////////////////
	h3 {
		margin-left: var(--ml);
		margin-top: 0;
		margin-bottom: 30px;
		color: white;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	p {
		margin-left: var(--ml);		
		margin-bottom: 0;
		color: white;
		line-height: 1.85;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	img {
		@media (max-width: 767px) {
	 		max-width: 300px;
			margin: 0 auto 40px;
			display: block;	
	 	}
	}
}