.sc-contact-us .call-to-action {
    .btn {
        background: transparent;
        border: 1px solid white;
    }
}
.sc-subscribe .call-to-action {
    background: #ffffff;
    border: 1px solid #323743;
    #mce-EMAIL {
        border-color: #323743;
        padding: 15px 16px 14px;
    }
    h5, p {
        color: #323743;
    }
}
.sc-request-demo .call-to-action {
    background:url('../img/common/bg-pattern-wire-small.png') top left repeat #31373d;
}
.sc-dynamic .call-to-action {
    background: #f5faff;
    h5, p {
        color: #323743;
    }
}
.sc-ebook .call-to-action {
    background:url('../img/ebook/Snowplow-Website-eBook_Landing-Page.jpg') center left no-repeat;
    h5, p {
        color: white;
    }
}
.shortcode {
    .btn-lg {
        margin-top: 10px;
    }
    .col-sm-12 {
        text-align: left;
        margin-top: 30px;
    }
    .datalake-landingpage{
        background: url('../img/landingpages/data-lakes/hero-background.png') no-repeat center center; 
    }
    .tripaneer-casestudy{
        background: url('../img/common/tripaneer-bg.png') no-repeat center center; 
    }
    .data-modeling-landingpage{
        background: url('../img/landingpages/data-modeling/data-modeling-cta-bg.jpg') no-repeat center center;
    }
    .multi-cloud-landingpage{
        background: url('../img/landingpages/multi-cloud/multi-cloud-bg.png') no-repeat center center;
        background-size:140%;
    }
    .data-attribution-landingpage{
        background: url('../img/landingpages/data-attribution/data-attribution-bg.jpg') no-repeat center center;
    }
}


