/*
 * CONFIGURATION
 */

@import "../snowplow/_variables";

/*
 * DEPENDENCIES
 */



/*!
 * Snowplow v0.0.1 (https://github.com/snowplow/snowplow.github.com)
 * SHARE FILE
 */

/*
 * STYLES
 */


.social {
    .social-label {
        font-size: 14px;
        font-weight: 400;
        margin-right: 7px;
    }

    .social-buttons {
        display: inline-block;
    }
}

.jssocials-shares {
    margin: 0;
}

.jssocials-share {
    margin: 0;

    & + .jssocials-share {
        margin-left: 3px;
    }
}

.jssocials-share-link {
    color: $white;
    font-size: 10px;
    padding: 6px;
    transition: all .3s;
    background: $brand-primary;
    border-radius: $border-radius-small;

    &:hover,
    &:focus {
        color: $white;
        background: $brand-primary-brighter;
    }
}

.jssocials-share-logo {
    vertical-align: inherit;
}