/*
 * TABS
 */

.nav-tabs
{
	border:0;
	margin:60px auto;

	> li
	{
		> a
		{
			margin:0;
			font-size: 14px;
			font-weight: 400;
			color: $gray-light;
			border-radius: 3px;
			padding: 15px 20px;
			border: 1px solid $brand-primary;
			transition:background .3s, color .3s;

			&:hover,
			&:focus
			{
				color: $white;
				background: $brand-primary;
				border: 1px solid $brand-primary;
			}
		}

		&.active
		{
			>a,
			>a:hover,
			>a:focus
			{
				color: $white;
				background: $brand-primary;
				border: 1px solid $brand-primary;
			}
		}

		& + li
		{
			margin-left:10px;
		}
	}
}


.tab-content
{
	transition: all .6s;
	border: 1px solid $gray-light;
	border-radius: $border-radius-large;
	padding:($padding-large-horizontal * 2);

	> .tabpanel
	{
		transition: all .6;
	}
}

/* 
 * Vertical tabs
 */
 :root {
 	--vertical-tabs-header-pad: 50px;
 	--vertical-tabs-header-h: 131px;
 	--vertical-tabs-body-pad: 80px;
 	@media (max-width: 991px) {
 		--vertical-tabs-body-pad: 60px;
 	}
 	@media (max-width: 767px) {
 		--vertical-tabs-body-pad: 50px 0;
 		--vertical-tabs-header-pad: 25px 15px;
 		--vertical-tabs-header-h: initial;
 	}
 	@media (max-width: $screen-xs-max) {
 		--vertical-tabs-body-pad: 30px 0;
 		//--vertical-tabs-header-h: 120px;
 		//--vertical-tabs-header-h: initial;
 	} 
 }
.vertical-tabs{
	&-section{
		h2 {
			text-align: center;
			margin-bottom: 70px;
		}
	}
	&-container{
		box-shadow: 0 0 33px 0 rgba(155, 160, 170, 0.33);
  		background-color: $brand-lighter;
  		h4 { margin: 0; }
	}
	&-header{
		background-color: white;
		cursor: pointer;
		transition: all .25s ease-in-out;
		padding: var(--vertical-tabs-header-pad);
		min-height: var(--vertical-tabs-header-h);
		@include do-flex(column, center, flex-start, wrap);
		width: calc(100% + 30px);
		margin-left: -15px;
		@media (max-width: 767px) {
	 		width: initial;
	 		//flex: 25%;
	 		margin-left: 0;
	 		//
	 		flex: 100%;
			padding-right: 30px;
			text-align: left;
	 	}
		
		&.active, &:hover {
			background-color: transparent;
			//background-color: $brand-lighter;
			p {
				color: $gray;
				@media (max-width: 767px) {
			 		&:after {
						border-color: $brand-light transparent transparent transparent;
			 		}
		 		}
			}
		}
		&-container {
			@include do-flex(column, center, flex-start, wrap);
			@media (max-width: 767px) {
		 		@include do-flex(row, center, flex-start, wrap);
		 		padding: 0;
		 	}
		}
	}
	&-body{
		//background-color: $brand-lighter;
		height: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity .25s ease-in-out;
		padding: 0;
		p {
			margin: 0;
		}
		.link {
			color: $gray-base;
			font-size: 14px;
			font-weight: 500;
			&:before {
				margin-right: 8px;
				display: inline-block;
				content: url(../../assets/img/Snowplow-Website-2019-Icon-Arrow-Right-Default.svg);
				height: 15px;
				width: 15px;
				vertical-align: -10%;
				}
			&:hover {
				color: $tealish;
				&:before {
					display: inline-block;
					content: url(../../assets/img/Snowplow-Website-2019-Icon-Arrow-Right-Hover.svg);
					height: 15px;
					width: 15px;
					vertical-align: -10%;
				}
			}
		}
		&.active {
			visibility: visible;
			opacity: 1;
			height: auto;
			padding: var(--vertical-tabs-body-pad);
		}
		&-container {
			position: relative;
		}
	}
}



