/* 
 * Cards
 */
:root {
	--revamp-cards-section-pad: 0;
	--revamp-cards-pad: 25px;
	--revamp-cards-w: 25%;
	--revamp-cards-arrow-s: 37px;
	--revamp-cards-mg: 10px;
	--revamp-cards-h: 450px;
	--revamp-cards-icon-s: 108px;
	--revamp-cards-icon-mg: 0 auto 35px;
	--revamp-cards-h4-mg: 0 auto 25px;
 	@media (max-width: $screen-lg-max) {
 		--revamp-cards-w: 33.333%;
 	}
 	@media (max-width: $screen-md-max) {
 		--revamp-cards-w: 50%;
 	}
 	@media (max-width: $screen-sm-max) {}
 	@media (max-width: $screen-xs-max) {
 		--revamp-cards-h: 350px;
 	}
}
.section-revamp-cards {
	// Block
	padding: var(--revamp-cards-pad);
	background-color: $brand-lighter;
	position: relative;
	flex: 0 1 calc(var(--revamp-cards-w) - var(--revamp-cards-mg));
	height: var(--revamp-cards-h);
	margin: 10px 0 var(--revamp-cards-mg);
	@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
		&:last-of-type {
 			margin-left: calc(1.5*var(--revamp-cards-mg));
 			margin-right: auto;
		}
	}
	@media (max-width: $screen-xs-max) {
		flex: 1 1 100%;
	}
	&:after {
		@include center-top;
		content: '>';
		color: $brand-primary;
		text-align: center;
		right: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
		width: var(--revamp-cards-arrow-s);
		height: var(--revamp-cards-arrow-s);
		line-height: var(--revamp-cards-arrow-s);
		background-color: white;
		border-radius: var(--revamp-cards-arrow-s);
		border: solid 1px $brand-primary;
		z-index: 3;
		@media (max-width: $screen-xs-max) {
			@include center-left;
			bottom: calc( (-1) * var(--revamp-cards-arrow-s) - .5*var(--revamp-cards-mg) );
			top: initial;
			transform: rotate(90deg) translateX(-50%) translateY(-50%);
		}
	}
	@media (min-width: $screen-lg-min) {
		&:nth-of-type(4) {
			&:after {
				opacity: .3;
			}
		}
		&:nth-of-type(5) {
			&:after {
				opacity: .3;
			}
		}
		&:nth-of-type(1n+5) {
			&:after {
				right: initial;
				left: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
			}
		}
	}
 	@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
 		&:nth-of-type(3),
 		&:nth-of-type(4),
 		&:nth-of-type(7) {
			&:after {
				opacity: .3;
			}
		}
		&:nth-of-type(3n+3) {
			&:before {
				opacity: .3;
				@include center-top;
				content: '>';
				color: $brand-primary;
				text-align: center;
				right: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
				width: var(--revamp-cards-arrow-s);
				height: var(--revamp-cards-arrow-s);
				line-height: var(--revamp-cards-arrow-s);
				background-color: white;
				border-radius: var(--revamp-cards-arrow-s);
				border: solid 1px $brand-primary;
				z-index: 3;
			}
		}
		&:nth-of-type(1n+4) {
			&:after {
				right: initial;
				left: calc( (-1) * var(--revamp-cards-arrow-s) + 1.5*var(--revamp-cards-mg) );
			}
		}
 	}
	&:hover {
		.section-revamp-cards-hover {
			visibility: visible;
			z-index: 2;
			opacity: 1;
		}
	}
	&-section {
		padding: var(--revamp-cards-section-pad);
		width: 100vw;
		overflow-x: hidden;
	}
	&-container {
		@include do-flex(row, space-between, flex-start, wrap);
	}
	&-main{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		padding: var(--revamp-cards-pad);
		@include do-flex(column, center, center, nowrap);
		img {
			width: var(--revamp-cards-icon-s);
			height: var(--revamp-cards-icon-s);
			object-fit: contain;
			margin: var(--revamp-cards-icon-mg);
		}
		h4 {
  			text-align: center;
  			margin: var(--revamp-cards-h4-mg);
		}
		p {
  			text-align: center;
  			margin: 0;
		}
	}
	&-hover {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		padding: var(--revamp-cards-pad);
		background-color: $gray-base;
		color: white;
		box-shadow: 0 0 33px 0 rgba(155, 160, 170, 0.33);
		@include do-flex(column, flex-start, nowrap);
		/* transition: opacity .5s ease-in-out; */
		h4{
			color: white;
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
			line-height: 1.5;
		}
		a {
			color: $brand-light;
			font-size: 14px;
			line-height: 1.25;
			text-decoration: underline;
		}
	}
}

/* 
 * Big Cards
 */
:root {
	--revamp-big-cards-section-pad: 0 0 150px;
	--revamp-big-cards-mg: 5px;
	--revamp-big-cards-w: 50%;
	--revamp-big-cards-pad: 75px;
	--revamp-big-cards-logo-h: 100px;
	--revamp-big-cards-logo-w: 270px;
	--revamp-big-cards-logo-mg: 0 auto 70px;
	--revamp-big-cards-h4-mg: 0 auto 30px;
	--revamp-big-cards-a-mg: 70px auto 0;
 	@media (max-width: $screen-lg-max) {
 		--revamp-big-cards-pad: 50px;
 	}
 	@media (max-width: $screen-md-max) {}
 	@media (max-width: $screen-sm-max) {}
 	@media (max-width: $screen-xs-max) {
 		--revamp-big-cards-logo-mg: 0 auto 40px;
		--revamp-big-cards-h4-mg: 0 auto 20px;
		--revamp-big-cards-a-mg: 40px auto 0;
 	} 
}
.section-revamp-big-cards {
	// Block
	padding: var(--revamp-big-cards-pad);
	background-color: $brand-lighter;
	flex: 0 1 calc(var(--revamp-big-cards-w) - var(--revamp-big-cards-mg));
	//height: var(--revamp-cards-h);
	margin: 0 0 calc(2*var(--revamp-big-cards-mg));
	@include do-flex(column, center, center);
	@media (max-width: $screen-xs-max) {
 		flex: 1 1 100%;
 	} 
	&-section {
		padding: var(--revamp-big-cards-section-pad);
	}
	&-container {
		@include do-flex(row, space-between, flex-start, wrap);
	}
	img {
		width: var(--revamp-big-cards-logo-w);
		height: var(--revamp-big-cards-logo-h);
		object-fit: contain;
		/*margin: var(--revamp-big-cards-logo-mg);*/
	}
	a.btn {
		margin: var(--revamp-big-cards-a-mg);
	}
}