#timeline {
    list-style: none;
    position: relative;

    &:before {
      top: 20px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 4px;
      background-color:#9e62dd;
      left: 50%;
      margin-left: -2.5px;
    }

    .clearFix {
      clear: both;
      height: 0;
    }

    .timeline-badge {
      color: #fff;
      width: 30px;
      height: 50px;
      font-size: 1.2em;
      text-align: center;
      position: absolute;
      top: 18px;
      left: 50%;
      margin-left: -15px;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      span.timeline-balloon-date-day {
        font-size: 1.4em;
      }
      span.timeline-balloon-date-month {
        font-size: .7em;
        position: relative;
        top: -10px;
      }

      &.timeline-filter-movement {
        background-color: #ffffff;
        font-size: 1.7em;
        height: 35px;
        margin-left: -18px;
        width: 35px;
        top: 40px;

        a span {
          color: #4997cd;
          font-size: 1.3em;
          top: -1px;
        }
      }

      &.timeline-future-movement {
        background-color: #ffffff;
        height: 35px;
        width: 35px;
        font-size: 1.7em;
        top: -16px;
        margin-left: -18px;

        a span {
          color: #4997cd;
          font-size: .9em;
          top: 2px;
          left: 1px;
        }
      }

    }
    .wh{
        width: 60px;
        height: 52px;;
    }

    .timeline-movement {
      position: relative;
      padding-bottom: 8%;

      &.timeline-movement-top {
        height: 60px;
      }

      .timeline-item {
        padding: 20px 0;

        .timeline-panel {
          font-family: Rubik;
          font-size: 21px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: #50545c;
          padding: 0p;
          position: relative;

          .timeline-panel-ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          &.credits .timeline-panel-ul {
            text-align: right;
            li {
              color: #666;
            }
          }

.timeline-panel.credits{margin-top: -10px}



          &.debits .timeline-panel-ul {
            text-align: left;
          }

        }


      }
    }

      .importo{
        font-family: Rubik;
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #6738b8;
      }

  }

  .page-header {
    padding-bottom: 5% !important;
      border: none !important;
    }
    .page-header h1 {
        font-size: 70px;
    }

	@media screen and (max-width:767px) {
    #timeline .timeline-badge{position:relative;}
    #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li{text-align:center;}
    #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul{text-align:center;}
  }




  .timeline-item.year {
      top: 40px;
      transform: translateY(-50%);
      position: absolute;
  }
  .timeline-item.content {
    margin-left: 50%;
}

.timeline-movement:nth-of-type(even) .timeline-item.year{
  right: 0;
  text-align: left;
  padding-left: 30px !important;

  .timeline-panel-ul{text-align: left !important;}
}
.timeline-movement:nth-of-type(even) .timeline-item.content{margin-left: 0; padding-right: 25px !important;}
.timeline-movement:last-child .timeline-item.content:after {
    content: "";
    position: absolute;
    z-index: 5;
    top: auto;
    bottom: -80px;
    left: -1%;
    border-left: 5px dotted #9e62dd;
    /* width: 5px; */
    /* background: red; */
    height: 19px;
}


  .hexagone {
  width: 29.5px;
  height: 26px;
  object-fit: contain;
  border: solid 4px var(--blue-purple);
  background-color: var(--ice-blue);
}

.hero-revamp-logos {justify-content: center;}