$blueberry: #49278a;
$tealish: #28d1b1;
$bluey-purple: #673eb5;
$charcoal-grey: #323743;
$dark-sky-blue-two: #43b2e3;
$grape-purple: #2b1752;
$silver: #ced1d7;
$blue-with-a-hint-of-purple: #603aa8;
$cool-blue: #4da5b5;
$seafoam-blue: #6bcdc4;
$dark-sky-blue: #4cb2e3;
$battleship-grey: #72767d;
$pale-grey: #eff0f2;
$pale-purple: #b8a5dc;
$robin-s-egg-blue: #aee0f8;
$steel: #818692;
$dusk-blue: #462586;
$pale-grey-two: #e2e4e9;
$gunmetal: #50545c;


