---
layout: default-revamp
group: retail
# subgroup: retail
title: Snowplow Insights | The Data Collection Platform for Data-Driven Retailers
description: Data-driven retailers choose Snowplow's data collection infrastructure to build a single customer view across web, mobile, offline and 3rd party platforms.
permalink: /retail/
class: insights
assets:
  css: assets/css/retail.css
blocks:
    - icon: /assets/img/retail/single-customer@2x.png
      title: Build a single customer view across web, mobile, offline and 3rd party.
      content: With Snowplow you’re able to easily join web, mobile and offline data to create a single customer view. Snowplow offers a <a href="https://github.com/snowplow/snowplow/wiki/trackers" target="_blank">range of trackers</a> for web, mobile and server-side events that emit events in the same format so they can be loaded into the same event-level table in your data warehouse. Snowplow’s tech allows you to track offline conversions, enrich events with <a href="https://docs.snowplowanalytics.com/snowplow-insights/enrichments/" target="_blank">3rd party properties</a> and send 3rd party events using Snowplow’s <a href="https://github.com/snowplow/snowplow/wiki/Iglu-webhook-adapter" target="_blank">webhooks</a>.
    - icon: /assets/img/retail/measure@2x.png
      title: Correctly measure, attribute and optimize your marketing spend.
      content: Snowplow enables you to track exactly what marketing campaigns individual users engage with and where, and tie that data to downstream user behavior. This means you can calculate the real return on marketing spend based on all the purchases a customer makes over their lifetime, taking into account returns. And having access to the underlying event-level data means you can continually assess which attribution model best suit your business.
    - icon: /assets/img/retail/answers@2x.png
      title: Ask and answer the questions that matter to your business.
      content: Make reports useful again with analytics customized for your business. Eliminate the dashboards analytics vendors think you need and experience the freedom to ask and answer the questions that matter most to your business. With access to your rich, event-level data, you can break down and analyze conversion funnels based on unique sales cycles, multichannel marketing effectiveness and customer retention, to name a few.
    - icon: /assets/img/retail/personalize@2x.png
      title: Take actions on your data in real-time.
      content: With Snowplow you can act on your data in real-time. All the data being loaded into your data warehouse (we load into BigQuery in real-time) is first written to a real-time stream that you can read off to power your real-time applications. You can use your event-level data to build action-driven rule engines to trigger ads, emails, personalise product features or power a fraud detection engine, all in real-time.
    - icon: /assets/img/retail/real-time@2x.png
      title: Personalize and optimize the shopping experience.
      content: Snowplow data is granular, validated up front and highly structured, which makes it a great input for your machine learning models to enable you to, for example, effectively bucket users to optimise conversions and retention.<br>You can use this data to personalise the shopping experience in real-time and assess its effectiveness with A/B tests (using our Optimizely integration) of e.g. pricing, user paths and new product features. 
logos:
  - name: de-bijenkorf
    img: assets/img/retail/logos/de-bijenkorf.png
    img-2x: assets/img/retail/logos/de-bijenkorf@2x.png
    img-3x: assets/img/retail/logos/de-bijenkorf@3x.png
    height: 32px    
  - name: theiconic-logo-grey
    img: assets/img/retail/logos/theiconic-logo-grey.png
    img-2x: assets/img/retail/logos/theiconic-logo-grey@2x.png
    img-3x: assets/img/retail/logos/theiconic-logo-grey@3x.png
    height: 15.7px    
  - name: sun-and-sports
    img: assets/img/retail/logos/sun-and-sports.png
    img-2x: assets/img/retail/logos/sun-and-sports@2x.png
    img-3x: assets/img/retail/logos/sun-and-sports@3x.png
    height: 53px    
  - name: gousto-logo-grey
    img: assets/img/retail/logos/gousto-logo-grey.png
    img-2x: assets/img/retail/logos/gousto-logo-grey@2x.png
    img-3x: assets/img/retail/logos/gousto-logo-grey@3x.png
    height: 36.7px    
  - name: treatwell-co-uk-io-uw
    img: assets/img/retail/logos/treatwell-co-uk-io-uw.png
    img-2x: assets/img/retail/logos/treatwell-co-uk-io-uw@2x.png
    img-3x: assets/img/retail/logos/treatwell-co-uk-io-uw@3x.png
    height: 21.7px    
  - name: nordstrom-logo-grey
    img: assets/img/retail/logos/nordstrom-logo-grey.png
    img-2x: assets/img/retail/logos/nordstrom-logo-grey@2x.png
    img-3x: assets/img/retail/logos/nordstrom-logo-grey@3x.png
    height: 52px    
  - name: book-people
    img: assets/img/retail/logos/book-people.png
    img-2x: assets/img/retail/logos/book-people@2x.png
    img-3x: assets/img/retail/logos/book-people@3x.png
    height: 51.7px    
  - name: dollar-shave-club
    img: assets/img/retail/logos/dollar-shave-club.png
    img-2x: assets/img/retail/logos/dollar-shave-club@2x.png
    img-3x: assets/img/retail/logos/dollar-shave-club@3x.png
    height: 50.7px    
  - name: custommade
    img: assets/img/retail/logos/custommade.png
    img-2x: assets/img/retail/logos/custommade@2x.png
    img-3x: assets/img/retail/logos/custommade@3x.png
    height: 22.7px    
  - name: outfittery
    img: assets/img/retail/logos/outfittery.png
    img-2x: assets/img/retail/logos/outfittery@2x.png
    img-3x: assets/img/retail/logos/outfittery@3x.png
    height: 24.7px    
cards:
    - title: '<a href="/blog/2019/03/06/snowplow-for-retail-part-1-how-can-I-use-snowplow/">Snowplow for retail: How can I use Snowplow?</a>'
      content: This post is non-technical and is intended to show you how to solve some common problems retailers face every day with Snowplow. This is the first post in a series on the subject, there are 4 more in this series.
    - title: <a href="https://snowplowanalytics.com/customers/green-building-supply/">How Green Building Supply optimized their digital marketing</a>
      content: Eco-friendly building supply company, Green Building Supply needed to understand the role their marketing efforts and touchpoints played in generating revenue. With Snowplow, not only were they better able to understand how their marketing channels contributed to revenue – they were able to optimize the performance of their digital marketing, with impressive results. 
    - title: <a href="/blog/2019/01/23/a-misconception-about-how-retail-personalization-drives-sales/">A misconception about how personalization drives sales</a>
      content: "When retailers are looking for a way to drive sales, personalization can look like a quick win: buy a recommendation engine and put more products a customer is likely to buy in front of them, then watch the sales come in. Unfortunately, it’s not quite that easy."

---
            <!--
                MAIN AREA
            -->

<section class="hero-revamp hero-revamp-light" style="background-image: url({{ BASE_PATH }}/assets/img/retail/background@3x.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-offset-1">
                <h1>The data collection platform for data-driven retailers.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <h4>With a best-in-class data collection infrastructure, Snowplow provides the foundation needed for retailers to compete and win with data.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-1">
                <a href="/request-demo/" class="btn btn-lines-white btn-primary call-to-action">Get started</a>
            </div>
        </div>
    </div>
</section>


<section class="section-revamp data-blocks-section">
    <div class="container">
        <div class="data-blocks-container">
            {% for block in page.blocks %}
                <div class="data-blocks-item row">
                    <div class="col-sm-5 data-blocks-item-content">
                        <h3>{{ block.title }}</h3>
                        <p>{{ block.content }}</p>
                    </div>
                    <div class="col-sm-6 data-blocks-item-pic pad-60">
                        <img src="{{ BASE_PATH }}{{ block.icon }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="hero-revamp hero-revamp-center" style="background-image: url({{ BASE_PATH }}/assets/img/retail/background@3x.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="section-revamp-testemonial-block _active">
                    <h3>Data-driven retailers choose Snowplow</h3>
                    <p class="section-revamp-testemonial-content">
                      “Snowplow has blown Nordstrom’s minds in speed and range of data, offering complete extensibility of batch and real-time feeds and schemas in hours and seconds, respectively. With a small but dedicated team of engineers, we were able to replace our bulky and expensive third-party solution with one custom tailored to our needs and satisfaction. There’s simply no going back.”
                    </p>
                    <div class="section-revamp-testemonial-person">
                        <!--<img src="{{ BASE_PATH }}/assets/img/products/products-insights/mike-roth.jpg" srcset="{{ BASE_PATH }}/assets/img/products/products-insights/mike-roth@2x.jpg 2x, {{ BASE_PATH }}/assets/img/products/products-insights/mike-roth@3x.jpg 3x">-->
                        <p>
                            Sean Halliburton
                            <br>
                            <span>Senior Data Engineering Manager at Nordstrom</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hero-revamp-logos plus_mg">
                {% for company in page.logos %}  
                {% if company.url %} 
                        <a href="{{ company.url }}" class="hero-revamp-logos-block">
                        {% assign close_block = '</a>' %}
                    {% else %}
                        <div class="hero-revamp-logos-block">
                        {% assign close_block = '</div>' %}
                    {% endif %}
                    <img src="{{ BASE_PATH }}/{{ company.img }}" srcset="{{ BASE_PATH }}/{{ company.img-2x }} 2x, {{ BASE_PATH }}/{{ company.img-3x }} 3x" alt="{{ company.name }}" style="height: {{ company.height  }}">
                    {{ close_block }}
                {% endfor %}  
            </div>
        </div>
    </div>
</section>



<section class="section-revamp data-cards-section pad-t-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>From the Snowplow blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="data-cards-container">
                {% for card in page.cards %}
                    <div class="data-cards-item">
                        <h4>{{ card.title }}</h4>
                        <p>{{ card.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% include request-demo-revamp.html %}
